<template name="confirmEmail">
  {{> headerConfirmGtPage}}
  {{> confirmEmailForm}}
  {{> staticFooter}}
</template>

<template name="confirmEmailForm">
  <div id="signup" class="signup">
    <div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md text-center">
        <form name="form" class="validate" id="emailconfirmform">
          <h2 class="text-dark">Confirm Your Email</h2>
          <p>You're a step away from seeing your new dashboard!</p>
          <div class="list-group">
            <div class="form-group">
              <button type="submit" id="resend-submit" class="btn btn-lg btn-success btn-block">Resend Confirmation</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="checkEmail">
  {{> headerConfirmGtPage}}
  {{> checkEmailBody}}
  {{> staticFooter}}
</template>

<template name="checkEmailBody">
  <div id="signup" class="signup">
    <div class="container well w-xxxl w-auto-xs" >
      <div class="text-center">
        <h2 class="text-dark">Please Check Your Email</h2>
        <p>You're about to unlock your personalized dashboard.</p>
      </div>
    </div>
  </div>
</template>

<template name="verifiedEmail">
  {{> headerConfirmGtPage}}
  {{> verifiedEmailBody}}
  {{> staticFooter}}
</template>

<template name="verifiedEmailBody">
  <div id="signup" class="signup">
    <div class="container well w-xxxl w-auto-xs">
      <div class="text-center">
        <h2 class="text-dark">Thank You</h2>
        <p>Thank you for verifying your email!</p>
      </div>
    </div>
  </div>
</template>