<template name="footerLandingPage">
  <footer id="footer">
    <div id="getReady" class="bg-primary">
      <div class="container">
        <div class="row m-t-xl m-b-xl">
          <div class="col-md-6 col-sm-12 text-center">
            <h4 class="m-b">{{appName}} is your personal gaming dashboard.</h4>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <a href="{{pathFor 'signUp'}}" class="btn btn-lg btn-default btn-rounded">Get Your Dashboard Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary dk">
      <div class="container">
        <div class="row padder-v">
          <div class="col-lg-5 col-md-5 visible-md visible-lg m-t-sm">
            <ul class="list-inline">
              {{> navLandingPageLinks}}
            </ul> 
          </div>
          <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 m-t-xs">
            {{copyrightInfo}}
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 text-right-xs text-right">
            <a href="https://www.facebook.com/xboxdash" class="btn btn-icon btn-rounded btn-dark" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://instagram.com/xboxdash/" class="btn btn-icon btn-rounded btn-dark" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/xboxdash" class="btn btn-icon btn-rounded btn-dark" target="_blank"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>