<template name="achievementsChart">
	<div class="panel hbox hbox-auto-xs no-border">
		<div class="col wrapper chart-wrapper">
			{{#if Template.subscriptionsReady}}
			{{> achievementsChartSvg}}
			{{else}}
			{{> loadingTemplate}}
			{{/if}}
		</div>
	</div>
</template>

<template name="achievementsChartSvg">
	<div class="btn-group m-t-sm pull-right">
		<label id="achievement-chart-recent-activity-button" class="btn btn-sm btn-success active">Last 15 Days</label>
		<label id="achievement-chart-thirty-days-activity-button" class="btn btn-sm btn-success">Last 30 Days</label>
	</div>
	<h4 class="font-thin m-t-none m-b-none text-success">Achievements Per Day</h4>
	<div id="achievements-chart">
		<svg style="height: 400px;"></svg>
	</div>
</template>