<template name="gamerscoreChart">
	<div class="panel hbox hbox-auto-xs no-border">
		<div class="col wrapper chart-wrapper">
        	<div class="btn-group m-t-sm pull-right">
        		<label id="gamerscore-chart-recent-activity-button" class="btn btn-sm btn-success active"> Recent</label>
        		<label id="gamerscore-chart-six-month-activity-button" class="btn btn-sm btn-success"> 6 Months</label>
        	</div>
			<h4 class="font-thin m-t-none m-b-none text-success">Gamerscore Data</h4>
			<span class="m-b block text-sm text-muted">(updated 1 hour ago)</span>
			<div style="height:300px">
				<svg id="gamerscore-chart"></svg>
			</div>
		</div>
	</div>
</template>