<template name="newsPage">
	{{> newsApp}}
</template>

<template name="newsApp">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
					<div class="bg-light lter b-b wrapper-md hidden-xs">
						<div class="row">
							<div class="col-sm-8 col-xs-12">
								{{#if chkGamerStatus}}
									<h1 class="m-n font-thin h3 text-black">Welcome back, {{userGamertag}}!</h1>
								{{else}}
									<h1 class="m-n font-thin h3 text-black">Welcome to XBdash!</h1>
								{{/if}}
								<small class="text-muted">Latest Updates</small>
							</div>
							{{#if chkGamerStatus}}
								<div class="col-sm-4 text-right hidden-xs user-rank-area">
									<div class="inline m-l m-r text-left">
										{{> userDailyRank}}
									</div>
									<div class="inline text-left">
										{{> userOverallRank}}
									</div>
								</div>
							{{/if}}
						</div>
					</div>
					<div class="p-t-md">
						{{> featuredNewsSection}}
					</div>
					<div class="wrapper-md">
						<div class="row">
							<div class="col-lg-8 col-md-12">
								<h3 class="m-b-md font-thin h3 text-black">News</h3>
								{{> newsSection}}
							</div>
							<div class="col-lg-4 hidden-md hidden-sm hidden-xs trending-column">
								<h3 class="m-b-md font-thin h3 text-black">Trending News</h3>
								{{> mostSharedNews limit=5}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="featuredNewsSection">
	<div class="featured-news row no-gutter">
		<div class="col-md-3 col-sm-6">
			<div class="panel b-a m-n">
				<div class="panel-heading no-border bg-primary">          
					<span class="text-lt">New Announcements</span>
				</div>
				{{#if newAnnouncement}}
					{{> todaysFeaturedAnnouncements}} 
				{{else}}
				<div class="item m-l-n-xxs m-r-n-xxs">
					<div class="bottom wrapper bg-gd-dk w-full text-black">            
						<div class="text-lt m-b-sm title-wrap-news">No recent announcements.</div>
					</div>
					<img src="/img/announcements-bg.jpg" alt="No recent announcements." class="img-full">
				</div>
				{{/if}}
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="panel b-a m-n">
				<div class="panel-heading no-border bg-primary">          
					<span class="text-lt">Today's Featured News</span>
				</div>
				{{#if newNews}}
					{{> todaysFeaturedNews}}
				{{else}}
				<div class="item m-l-n-xxs m-r-n-xxs">
					<div class="bottom wrapper bg-gd-dk w-full text-white">            
						<div class="text-lt m-b-sm title-wrap-news">No featured news.</div>
					</div>
					<img src="/img/news-default.jpg" alt="No featured news." class="img-full">
				</div>
				{{/if}}
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="panel b-a m-n">
				<div class="panel-heading no-border bg-primary">          
					<span class="text-lt">Today's Featured Clip</span>
				</div>
				{{#if newClip}}
					{{> todaysFeaturedClip}}
				{{else}}
				<div class="item m-l-n-xxs m-r-n-xxs">
					<div class="bottom wrapper bg-gd-dk w-full text-white">            
						<div class="text-lt m-b-sm title-wrap-news">No new clips.</div>
					</div>
					<img src="/img/news-default.jpg" alt="No new clips." class="user-clip large img-full">
				</div>
				{{/if}}
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="panel b-a m-n">
				<div class="panel-heading no-border bg-primary">          
					<span class="text-lt">Today's Featured Capture</span>
				</div>
				{{#if newCapture}}
					{{> todaysFeaturedCapture}}
				{{else}}
				<div class="item m-l-n-xxs m-r-n-xxs">
					<div class="bottom wrapper bg-gd-dk w-full text-white">            
						<div class="text-lt m-b-sm title-wrap-news">No new captures.</div>
					</div>
					<img src="/img/news-default.jpg" alt="No new captures." class="user-capture large img-full">
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="todaysFeaturedAnnouncements">
	<div class="item m-l-n-xxs m-r-n-xxs">
		<div class="bottom wrapper bg-gd-dk text-white clearfix">
			<a class="pull-left thumb-sm b-3x m-r" href="">
				<img src="{{getAnnouncementImage}}" alt="New Announcement">
			</a>
			<div class="clear text-left">
				<div class="h3 m-t-xs m-b-xs">
					<p>{{announcementText}}</p>
					<a class="btn btn-primary btn-sm" href="#">Read more</a>
				</div>
			</div>
		</div>
		<img src="/img/announcements-bg.jpg" alt="New Announcements" class="img-full">
	</div>
</template>

<template name="todaysFeaturedNews">
	<div class="item m-l-n-xxs m-r-n-xxs">
		<div class="bottom wrapper bg-gd-dk text-white">            
			<div class="text-lt m-b-sm title-wrap-news">{{title}}</div>
			<a href="{{pathFor 'article'}}" class="btn btn-primary btn-sm">Read Now</a>
		</div>
		<img src="{{getImage}}" alt="{{title}}" class="img-full">
	</div>
</template>

<template name="todaysFeaturedClip">
	<div class="item m-l-n-xxs m-r-n-xxs">
		<div class="bottom wrapper bg-gd-dk text-white">            
			<div class="m-b-sm">Clip from {{titleName}}</div>
			<a title="View Now" href="#" class="btn btn-primary btn-sm">View Now</a>
		</div>
		<img src="{{getLargeThumbnail}}" alt="{{titleName}}" data-video="{{getClipUri}}" class="user-clip large img-full">
	</div>
</template>

<template name="todaysFeaturedCapture">
	<div class="item m-l-n-xxs m-r-n-xxs">
		<div class="bottom wrapper bg-gd-dk text-white">            
			<div class="m-b-sm">Capture from {{titleName}}</div>
			<a title="View Now" href="#" class="btn btn-primary btn-sm">View Now</a>
		</div>
		<img src="{{getLargeThumbnail}}" alt="{{titleName}}" class="user-capture large img-full">
	</div>
</template>

<template name="newsSection">
	{{#if Template.subscriptionsReady}}
	<div class="blog-post news-section">
		<div class="list-group list-group-lg list-group-sp">
		{{#each latestNews}}
			{{> newsTemplate}}
		{{/each}}
		</div>
		<div style="display:block;">&nbsp;</div>
	</div>
	{{#if hasMoreResults}}
		<div id="hasMoreResults">{{> loadingTemplateRect}}</div>
	{{/if}}
	{{else}}
		{{> loadingTemplate}}
	{{/if}}
</template>

<!-- <div class="row no-gutter">
	<div class="col-md-3 col-sm-6">
		<div class="panel b-a m-n">
			<div class="panel-heading no-border bg-primary">          
				<span class="text-lt">New Announcements</span>
			</div>
			<div class="text-center wrapper m-b-sm">
				<div class="clearfix">
					<a class="pull-left thumb-lg img-thumbnail b-3x m-r" href="">
						<img src="img/a2.jpg" alt="...">
					</a>
					<div class="clear text-left">
						<div style="min-height: 183px;" class="h3 m-t-xs m-b-xs"><p>Breaking News: Major Nelson does it again! Text here. Text here. Text here.</p><a href="#" class="btn btn-primary">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel b-a m-n">
			<div class="panel-heading no-border bg-primary">          
				<span class="text-lt">Today's Featured News</span>
			</div>
			<div class="item m-l-n-xxs m-r-n-xxs">
				<div class="bottom wrapper bg-gd-dk text-white">            
					<div class="text-lt m-b-sm title-wrap-news">Coffee</div>
					<div class="btn btn-primary btn-sm">View Now</div>
				</div>
				<img src="img/c0.jpg" class="img-full">
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel b-a m-n">
			<div class="panel-heading no-border bg-primary">          
				<span class="text-lt">Today's Featured Clip</span>
			</div>
			<div class="item m-l-n-xxs m-r-n-xxs">
				<div class="bottom wrapper bg-gd-dk text-white">            
					<div class="m-b-sm">Clip from {{titleName}}</div><div class="btn btn-primary btn-sm">View Now</div>
				</div>
				<img src="img/c0.jpg" class="img-full">
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel b-a m-n">
			<div class="panel-heading no-border bg-primary">          
				<span class="text-lt">Today's Featured Capture</span>
			</div>
			<div class="item m-l-n-xxs m-r-n-xxs">
				<div class="bottom wrapper bg-gd-dk text-white">            
					<div class="m-b-sm">Capture from {{titleName}}</div><div class="btn btn-primary btn-sm">View Now</div>
				</div>
				<img src="img/c0.jpg" class="img-full">
			</div>
		</div>
	</div>
</div>
 -->