<template name="newsSinglePage">
	{{> googlePageLevelAds}}
	{{#if type1}}
		{{> contentTemplate1}}
	{{/if}}
	{{#if type2}}
		{{> contentTemplate2}}
	{{/if}}
</template>

<template name="contentTemplate1">
	<div id="content" class="app-content news-page" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
			{{#if Template.subscriptionsReady}}
				{{#with article}}
				{{> newsSinglePageDocHead}}
				<div class="col content-template-1">
					<div class="wrapper-md bg-dark lter b-b">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-xs-12">
									{{> googleAdsResponsiveTop}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md bg-white lter b-b">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<h1 class="h2 text-black m-b-xs">{{title}}</h1>
									<div class="text-muted">
										<i class="fa fa-user text-muted"></i> by <span class="m-r-sm">{{author}} {{#if sourceExists}}{{sourceName}}{{/if}}</span>
										<i class="fa fa-clock-o text-muted"></i> {{updated}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md bg-white lter b-b">
						<div class="container">
							<div class="row">
								<div class="col-xl-8 col-lg-7 col-md-9 col-xs-12">
									<div class="blog-post news">
										{{{content}}}
										<div class="m-t-md m-b-md share-bar">
											<h4>Share This Article</h4>
											{{> newsSinglePageShareButtons}}
										</div>
										<div class="comment-section">
											{{> commentsBox id=this._id boxTemplate="newsCommentBox"}}
										</div>
										{{> googleAdsResponsiveLeft}}
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-3 col-xs-12">
									{{> googleAdsResponsiveRight}}
								</div>
							</div>
						</div>
					</div>
					<div class="shareDiv">
						{{> newsSinglePageShareButtons}}
					</div>
				</div>
				{{/with}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="contentTemplate2">
	<div id="content" class="app-content news-page" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
			{{#if Template.subscriptionsReady}}
				{{#with article}}
				{{> newsSinglePageDocHead}}
				<div class="col content-template-2 article-background" style="background: url('https://cdn0.vox-cdn.com/thumbor/Fwz5sKz_omwrZFkz79yp-ZM8nvc=/0x479:1500x1323/640x360/cdn0.vox-cdn.com/uploads/chorus_image/image/51458909/nn3dsxl_lime.0.jpg') no-repeat; background-position: top center; background-size: 100%; background-attachment: fixed;">
					<div class="wrapper-md no-bg lter b-b">
						<div class="container text-center" style="width: 100%;">
							<div class="header-container">
								<div class="header-block">
									<h1 class="h2 text-white m-b-xs">{{title}}</h1>
									<div class="text-white">
										<i class="fa fa-user text-muted"></i> by <span class="m-r-sm">{{author}} {{#if sourceExists}}{{sourceName}}{{/if}}</span>
										<i class="fa fa-clock-o text-muted"></i> {{updated}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md bg-white lter b-b post-shadow">
						<div class="container">
							<div class="row">
								<div class="col-xl-2 col-lg-2 hidden-md hidden-sm hidden-xs">
									{{#with game}}
										{{> newsGameInfoColumn}}
									{{/with}}
								</div>
								<div class="{{#if chkGame}}col-xl-6 col-lg-5{{else}}col-xl-8 col-lg-7{{/if}} col-md-9 col-sm-12 col-xs-12">
									<div class="blog-post news">
										{{{content}}}
										<div class="m-t-md m-b-md share-bar">
											<h4>Share This Article</h4>
											{{> newsSinglePageShareButtons}}
										</div>
										<div class="comment-section">
											{{> commentsBox id=this._id boxTemplate="newsCommentBox"}}
										</div>
										{{> googleAdsResponsiveLeft}}
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12">
									{{> googleAdsResponsiveRight}}
								</div>
							</div>
						</div>
					</div>
					<div class="shareDiv">
						{{> newsSinglePageShareButtons}}
					</div>
				</div>					
				{{/with}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="newsSinglePageDocHead"></template>

<template name="newsGameInfoColumn">
	<div class="list-group-item clearfix">
		<h4 class="font-bold m-t-xs m-b-xs">Game Info</h4>
	</div>
	<div class="list-group-item clearfix">
		<div class="w-full">
			<img src="{{gamesImage}}" class="w-full">
		</div >
	</div>
	<div class="list-group-item clearfix">
		<p class="m-t-xs">Platform</p>
		<h4 class="font-bold m-t-xs m-b-xs">{{gamePlatform}}</h4>
	</div>
	<div class="list-group-item clearfix">
		<p class="m-t-xs">Publisher</p>
		<h4 class="font-bold m-t-xs m-b-xs">{{gamePublisher}}</h4>
	</div>
	<div class="list-group-item clearfix">
		<p class="m-t-xs">Developer</p>
		<h4 class="font-bold m-t-xs m-b-xs">{{gameDeveloper}}</h4>
	</div>
	<div class="list-group-item clearfix">
		<p class="m-t-xs">Release Date</p>
		<h4 class="font-bold m-t-xs m-b-xs">{{{dateFormat}}}</h4>
	</div>
</template>

<template name="newsSinglePageShareButtons">
	<div class="share-buttons">
		<ul class="rrssb-buttons rrssb1 clearfix">
			<li class="rrssb-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{getUrl}}&amp;name={{title}}&amp;description={{getShortDescription}}&amp;redirect_uri={{getUrl}}&amp;picture={{getShareImage}}" class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
					</span>
					<span class="rrssb-text">Share</span>
				</a>
			</li>
			<li class="rrssb-twitter">
				<a href="https://twitter.com/intent/tweet?url={{getUrl}}&amp;text={{title}}&amp;via=xboxdash {{getShareImage}}"
				class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg>
					</span>
					<span class="rrssb-text">Tweet</span>
				</a>
			</li>
		</ul>
	</div>
</template>

<!--
<div class="wrapper-md visible-xl-block col-xl-2 hidden-lg hidden-md hidden-sm hidden-xs trending-column">
	<h2 class="m-b-sm font-thin h3 text-black">Trending</h2>
	{{> mostSharedNews limit=7}}
</div>
-->