<template name="mostSharedNews">
	{{#if Template.subscriptionsReady}}
		{{#each sharedNews limit}}
			{{> newsTemplate}}
		{{/each}}
	{{/if}}
</template>

<template name="newsTemplate">
	<a href="{{pathFor 'article'}}" class="list-group-item clearfix">
		<span class="pull-left thumb-news m-r">
			<img src="{{getImage}}" class="img-full">
		</span>
		<span class="clear">
			<h3 class="text-lt m-b-sm title-wrap-news">{{title}}</h3>
			{{#if sourceExists}}<small>{{sourceName}}</small>{{/if}}
			{{#if shareCounted}}
			<div>
				<i class="fa fa-share-square-o text-lt"></i> {{shareCount}}
			</div>
			{{/if}}
		</span>
	</a>
</template>

<template name="mostSharedNewsSidebar">
	<div class="shared-news-sidebar">
	{{#each sharedNews limit}}
		{{> newsTemplateSidebar}}
	{{/each}}
	</div>
</template>

<template name="newsTemplateSidebar">
	<a href="{{pathFor 'article'}}" class="list-group-item clearfix">
		<span class="clear">
			<h3 class="text-lt m-t-none m-b-sm title-wrap-news">{{title}}</h3>
			{{#if sourceExists}}<small>{{sourceName}}</small>{{/if}}
			{{#if shareCounted}}
			<div>
				<i class="fa fa-share-square-o text-lt"></i> {{shareCount}}
			</div>
			{{/if}}
		</span>
	</a>
</template>