<template name="achievementsSinglePage">
	<div id="content" class="app-content single-achievements-page" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
				{{#if Template.subscriptionsReady}}
					{{#with achievement}}
					{{> achievementSingleDocHead}}
					<div class="bg-light col-xl-12 col-lg-12 col-xs-12 lter b-b wrapper-md achievement-title">
						<div class="row">
							<div class="col-sm-12 col-xs-9">
								<h1 class="font-thin h3 text-black m-b-xs">{{name}}</h1>
								<small class="text-muted">Game: <a href="{{pathFor 'game' slug=game.slug}}">{{game.name}}</a></small>
							</div>
							<div class="col-sm-12 col-xs-3 text-right visible-xs-inline-block">
								<div class="inline m-r m-l padder-t">
									<div class="h4 text-success font-bold">
										{{getValue}}<br />
										GS
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="blog-post">
							<img src="{{achievementImage}}" class="img-full {{ifXenon}}">
							<div class="h3 padder-vv-xbd text-center hidden-xs m-b">
								<strong>{{getValue}}</strong> Gamerscore
							</div>
							{{#if chkGamerStatus}}
								<div class="bg-white b-b text-center padder-t">
								{{> achievementWishlistArea}}
								{{#if chkUserForAchievement}}
									{{> achievementTrophyCaseArea}}
								{{/if}}
								</div>
								{{#if chkUserForAchievement}}
									<div class="share-bar">
										<h4 class="text-black h4">Share Your Completed Achievement</h4>
										{{> achievementShareButtons}}
									</div>
								{{/if}}
							{{/if}}
							<p class="h5 text-left">
								<h4 style="text-decoration: underline;">Description:</h4>
								{{description}}
							</p>
							<div class="xbd-left-sidebar-ad">
								<a href="https://www.xbdash.com/contests">
									<img src="https://www.xbdash.com/img/ads/xbdash-ads-300x250.jpg" class="left300250" />
									<img src="https://www.xbdash.com/img/ads/xbdash-ads-250x250.jpg" class="left250250" />
								</a>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-5 col-lg-5 col-md-8 col-sm-7 col-xs-12 comments-column" style="background-color: #fff;">
						<div class="row m-b-lg">
							<div class="col-xs-12">
								<h2 class="h3 padder-t">YouTube Achievement Guide</h2>
								<div class="text-center">
									{{> youtubeGuides}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12 achievement-key">
								<div class="padder-vv-{{achievementClass}} text-center">
									<i class="fa fa-{{trophyClass}}"></i>&nbsp;&nbsp; {{achievementClass}}
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<div class="inline m-r m-l">
									<div class="m-b-xs">
										{{> achievementPercentageArea}}
									</div>
									<div class="h3 text-success font-bold">
										{{userPercentage}}%
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="comment-section">
								    {{> commentsBox id=this._id boxTemplate="achievementCommentBox"}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-3 hidden-md hidden-sm hidden-xs trending-column">
						<h2 class="m-b-sm font-thin h3 text-black">Trending News</h2>
						{{> mostSharedNews limit=3}}
					</div>
					{{/with}}
				{{else}}
					{{> loadingTemplate}}
				{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="achievementSingleDocHead"></template>

<template name="achievementWishlistArea">
	{{#if chkIfCompleted}}
	{{else}}
		{{#if chkUserWishlist}}
			<button class="padder-as btn btn-danger remove-from-wish-list">Remove from Wishlist</button>
		{{else}}
			<button class="padder-as btn btn-success add-to-wish-list" id="">Add to Wishlist</button>
			{{> wishlistPopup}}
		{{/if}}
	{{/if}}
</template>

<template name="achievementTrophyCaseArea">
	{{#if chkIfCompleted}}
		{{#if chkUserTrophyCase}}
			<button class="padder-as btn btn-danger remove-from-trophy-case">Remove from Trophy Case</button>
		{{else}}
			<button class="padder-as btn btn-success add-to-trophy-case" id="">Add to Trophy Case</button>
			{{> trophyCasePopup}}
		{{/if}}
	{{/if}}
</template>

<template name="achievementShareButtons">
	<div class="share-buttons">
		<ul class="rrssb-buttons rrssb3 clearfix">
			<li class="rrssb-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{getUrl}}&amp;name={{getTitle}}&amp;description={{getShortDescription}}&amp;redirect_uri={{getUrl}}&amp;picture={{getShareImage}}" class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
					</span>
					<span class="rrssb-text">Share</span>
				</a>
			</li>
			<li class="rrssb-twitter">
				<a href="https://twitter.com/intent/tweet?url={{getUrl}}&amp;text={{getTitle}}&amp;hashtags={{getHashTags}}"
				class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg>
					</span>
					<span class="rrssb-text">Tweet</span>
				</a>
			</li>
		</ul>
	</div>
</template>

<template name="achievementPercentageArea">
	Users who have this <a href="#" class="glyphicon glyphicon-info-sign" data-toggle="achievementToolTip" data-placement="top" title="vs users who have this game"></a>
</template>

<template name="youtubeGuides">
	<div class="embed-container">
		<iframe id="ytplayer" type="text/html" width="768" height="432" src={{getVideoGuide}} frameborder="0"></iframe>
	</div>
</template>