<template name="achievementCommentBox">
    <h2 class="h3 pull-left padder-t"> {{ take key='title' default='Achievement Solutions & Discussions'}} </h2>
    <div class="clearfix"></div>
	
    {{#if loginAction}}
		<div class="alert alert-warning" role="alert"> You need to login to {{loginAction}}</div>
	{{/if}}

	{{> textarea}}

	<div class="media-list comments">
		{{#each comment}}
			{{> achievementSingleComment}}
		{{/each}}
	</div>

	{{#if hasMoreComments}}
		<button type="button" class="btn btn-success btn-lg btn-block loadmore-action">{{ take key='load-more' default='Load more comments' }}</button>
	{{/if}}
</template>

<template name="achievementSingleComment">
	{{debugger}}
	<div class="media">
		<div class="media-left">
			<img alt="user" src="{{getUserImage user=user}}">
		</div>
		<div class="media-body comment">
			<h4 class="media-heading">
                {{getUser}}
                <small>{{createdAgo}}</small>
            </h4>
			<div class="content">
				<p class="comment-content" data-id="{{commentId}}">{{content}}</p>

				<div class="actions btn-group btn-group-xs">
					<div class="btn {{#if hasLiked}}btn-primary{{else}}btn-default{{/if}} like-action" aria-label="Left Align">
						<small>{{likesCount}}</small>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="btn btn-default reply-action" aria-label="Left Align">
                        {{ take key='reply' default='Reply' }}
                    </div>

                    {{#if isOwnComment}}
                    {{#if isEditable}}
                    <div class="btn btn-default save-action" aria-label="Left Align">
                        {{ take key='save' default='Save' }}
                    </div>
                    {{else}}
	                <div class="btn btn-default edit-action" aria-label="Left Align">
                        {{ take key='edit' default='Edit' }}
                    </div>
                    {{/if}}
                    <div class="btn btn-danger remove-action" aria-label="Left Align">
                        {{ take key='remove' default='Remove' }}
                    </div>
                    {{/if}}
                </div>
            </div>

            {{#if addReply}}
            	<div class="create-reply">
                    {{> textarea reply=true scope=this }}
                </div>
            {{/if}}

            {{#if reply}}
            	{{#each reply}}
            		{{> achievementSingleComment}}
            	{{/each}}
            {{/if}}
        </div>
    </div>
</template>

<template name="newsCommentBox">
    <h2 class="h3 pull-left padder-t">{{ take key='title' default='Comments' }}</h2>
    <div class="clearfix"></div>

    {{#if loginAction}}
        <div class="alert alert-warning" role="alert"> You need to login to {{loginAction}}</div>
    {{/if}}

    {{> textarea}}

    <div class="media-list comments">
        {{#each comment}}
            {{> newsSingleComment}}
        {{/each}}
    </div>

    {{#if hasMoreComments}}
        <button type="button" class="btn btn-success btn-lg btn-block loadmore-action">{{ take key='load-more' default='Load more comments' }}</button>
    {{/if}}
</template>

<template name="newsSingleComment">
    {{debugger}}
    <div class="media">
        <div class="media-left">
            <img alt="user" src="{{getUserImage user=user}}">
        </div>
        <div class="media-body comment">
            <h4 class="media-heading">
                {{getUser}}
                <small>{{createdAgo}}</small>
            </h4>
            <div class="content">
                <p class="comment-content" data-id="{{commentId}}">{{content}}</p>

                <div class="actions btn-group btn-group-xs">
                    <div class="btn {{#if hasLiked}}btn-primary{{else}}btn-default{{/if}} like-action" aria-label="Left Align">
                        <small>{{likesCount}}</small>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="btn btn-default reply-action" aria-label="Left Align">
                        {{ take key='reply' default='Reply' }}
                    </div>

                    {{#if isOwnComment}}
                    {{#if isEditable}}
                    <div class="btn btn-default save-action" aria-label="Left Align">
                        {{ take key='save' default='Save' }}
                    </div>
                    {{else}}
                    <div class="btn btn-default edit-action" aria-label="Left Align">
                        {{ take key='edit' default='Edit' }}
                    </div>
                    {{/if}}
                    <div class="btn btn-danger remove-action" aria-label="Left Align">
                        {{ take key='remove' default='Remove' }}
                    </div>
                    {{/if}}
                </div>
            </div>

            {{#if addReply}}
                <div class="create-reply">
                    {{> textarea reply=true scope=this }}
                </div>
            {{/if}}

            {{#if reply}}
                {{#each reply}}
                    {{> newsSingleComment}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</template>