<template name="comparisonPage">
	{{> comparisonApp}}
</template>

<template name="comparisonApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Compare</h1>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">1</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">521</div>
                </div>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>