.xbd-top-banner-ad {
	width: 300px !important;
	height: 250px !important;
	background-color: #fff;
	margin: 0 auto 20px;
}
.xbd-right-banner-ad {
	width: 300px !important;
	height: 600px !important;
	background-color: #fff;
	margin: 0 auto;
}
.xbd-right-sidebar-ad {
	width: 300px !important;
	height: 250px !important;
	background-color: #fff;
	margin: 0 auto 20px;
}
.xbd-left-sidebar-ad {
	width: 300px !important;
	height: 250px !important;
	background-color: #fff;
	margin: 30px auto;
}
@media (max-width: 767px) {
	/*.xbd-top-banner-ad {
		width: 250px !important;
		height: 250px !important;
		background-color: #fff;
		margin: 5px auto 20px;
	}*/
	.xbd-right-banner-ad {
		width: 300px !important;
		height: 250px !important;
		margin: 0 auto 15px;
	}
	.xbd-right-sidebar-ad {
		width: 300px !important;
		height: 250px !important;
		margin: 10px auto 25px;
	}
	.xbd-left-sidebar-ad {
		width: 300px !important;
		height: 250px !important;
		margin: 15px auto;
	}
	.xbd-top-banner-ad, .xbd-top-banner-ad .top300 { display: block; }
	.xbd-right-banner-ad .right300600 { display: none; }
	.xbd-right-banner-ad .right160600 { display: none; }
	.xbd-right-banner-ad .right300250 { display: block; }
	.xbd-right-sidebar-ad .rightside300250 { display: block; }
	.xbd-right-sidebar-ad .rightside250250 { display: none; }
	.xbd-left-sidebar-ad .left300250 { display: block; }
	.xbd-left-sidebar-ad .left250250 { display: none; }
}
@media (max-width: 991px) {
	.xbd-right-banner-ad {
		width: 300px !important;
		height: 250px !important;
		background-color: #fff;
		margin: 5px auto 90px;
	}
	.xbd-right-banner-ad .right300600 { display: none !important; }
	.xbd-right-banner-ad .right160600 { display: none !important; }
	.xbd-right-banner-ad .right300250 { display: block !important; }
}
@media (min-width: 768px) {
	.xbd-top-banner-ad {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.xbd-right-sidebar-ad,
	.xbd-left-sidebar-ad {
		display: none;
	}
	.xbd-left-sidebar-ad .left300250 { display: none; }
	.xbd-left-sidebar-ad .left250250 { display: none; }
}
@media (min-width: 992px) {
	.xbd-right-banner-ad {
		width: 160px !important;
		height: 600px !important;
		background-color: #fff;
		margin: 0 auto 15px;
	}
	.xbd-right-banner-ad .right300600 { display: none; }
	.xbd-right-banner-ad .right160600 { display: block; }
	.xbd-right-banner-ad .right300250 { display: none; }
	.xbd-left-sidebar-ad {
		margin: 20px auto;
	}
}
@media (min-width: 1200px) {
	.xbd-right-sidebar-ad,
	.xbd-left-sidebar-ad {
		width: 250px !important;
		height: 250px !important;
	}
	.xbd-right-sidebar-ad .rightside300250 { display: none; }
	.xbd-right-sidebar-ad .rightside250250 { display: block; }
	.xbd-left-sidebar-ad .left300250 { display: none !important; }
	.xbd-left-sidebar-ad .left250250 { display: block !important; }
}
@media (min-width: 1268px) and (max-width: 1400px) {
	.xbd-right-banner-ad {
		width: 160px !important;
		height: 600px !important;
	}
	.xbd-right-banner-ad .right300600 { display: none; }
	.xbd-right-banner-ad .right160600 { display: block; }
	.xbd-right-banner-ad .right300250 { display: none; }
}
@media (min-width: 1575px) {
	.xbd-right-banner-ad {
		width: 300px !important;
		height: 600px !important;
	}
	.xbd-left-sidebar-ad {
		width: 300px !important;
		height: 250px !important;
	}
	.xbd-right-banner-ad .right300600 { display: block !important; }
	.xbd-right-banner-ad .right160600 { display: none !important; }
	.xbd-right-banner-ad .right300250 { display: none !important; }
	.xbd-left-sidebar-ad .left300250 { display: block !important; }
	.xbd-left-sidebar-ad .left250250 { display: none !important; }
}
#amzn-smart-ad { margin-bottom: 10px; }
div#amzn-native-ad-0 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-1 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-2 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-3 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-4 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-5 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-6 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-7 .amzn-native-header .amzn-native-header-text {
	font-weight: 300 !important;
	font-size: 24px !important;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/*.xbd-top-banner-ad, .xbd-left-banner-ad, .xbd-right-banner-ad, .xbd-left-sidebar-ad, .xbd-right-sidebar-ad { display: none !important; }*/