.affix-top {
	position: relative;
}
.affix {
	position: relative;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.affix {
		top: 70px;
		position: fixed;
	}
}
@media (min-width: 1200px) {
	.affix {
		width: 300px !important;
	}
}



.xbd-top-banner-ad {
	text-align: center;
	margin: 0 auto 15px;
}
.xbd-right-sidebar-ad {
	text-align: center;
	margin: 0 auto 30px;
}
.xbd-right-sidebar-ad .right300250 {
	width: 300px;
	height: 250px;
}
.xbd-right-sidebar-ad .right300600 { display: none; }
.xbd-right-sidebar-ad .right160600 { display: none; }
.xbd-left-sidebar-ad {
	margin: 30px auto;
}
.xbd-left-sidebar-ad .left300250 {
	width: 300px;
	height: 250px;
	display: block;
}
.xbd-left-sidebar-ad .left250250 {
	width: 250px;
	height: 250px;
	display: none;
}
@media (min-width: 768px) {
	.xbd-top-banner-ad {
		display: none !important;
	}
	.xbd-right-sidebar-ad.affix {
		width: 300px;
		height: 250px;
		margin: 0 auto 30px;
	}
	.xbd-left-sidebar-ad .left300250 { display: none; }
	.xbd-left-sidebar-ad .left250250 { display: none; }
}
@media (min-width: 992px) {
	.xbd-right-sidebar-ad .right300250 { display: none; }
	.xbd-right-sidebar-ad .right300600 { display: none; }
	.xbd-right-sidebar-ad .right160600 { display: block; }
}
@media (min-width: 1220px) {
	.xbd-right-sidebar-ad {
		text-align: center;
		margin: 0 auto 30px;
	}
	.xbd-right-sidebar-ad.affix {
		width: 300px;
		height: 600px;
		position: relative;	
	}
	.xbd-right-sidebar-ad .right300250 { display: none; }
	.xbd-right-sidebar-ad .right300600 {
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	.xbd-right-sidebar-ad .right160600 { display: none; }
	.xbd-left-sidebar-ad .left300250 { display: block; }
	.xbd-left-sidebar-ad .left250250 { display: none; }
}
@media (min-width: 1400px) {
	.col-xl-6 { max-width: 640px; }
	.col-xl-4 { max-width: 340px; }
	.xbd-left-sidebar-ad .left300250 {
		display: none;
	}
	.xbd-left-sidebar-ad .left250250 {
		display: block;
	}
}
@media (min-width: 1560px) {
	.xbd-left-sidebar-ad .left300250 {
		display: block;
	}
	.xbd-left-sidebar-ad .left250250 {
		display: none;
	}
}


.xbd-top-google-banner {
	height: 60px;
	margin: 0 auto;
	text-align: center;
}
.xbd-right-google-banner {
	width: 300px;
	height: 250px;
	margin: 15px auto 75px;
}
.xbd-left-google-banner {
	width: 300px;
	height: 250px;
	margin: 15px auto;
}
@media (min-width: 768px) {
	#gads-responsive-right.affix {}
	.xbd-right-google-banner {
		width: 300px;
		height: 250px;
		margin: 5px auto 100px;
	}
}
@media (min-width: 980px) {
	.xbd-left-google-banner {
		width: 160px;
		height: 600px;
		margin: 0 auto 15px;
	}
}
@media (min-width: 992px) {
	#gads-responsive-right.affix,
	.xbd-right-google-banner {
		margin: 0 auto 15px;
	}
}
@media (min-width: 1024px) {
	.xbd-top-google-banner {
		width: 768px;
		height: 90px;
		margin: 0 auto;
		text-align: center;
	}
}
@media (min-width: 1200px) {
	#gads-responsive-right.affix,
	.xbd-right-google-banner {
		width: 300px;
		height: 250px;
		margin: 0 auto 15px;
	}
	.xbd-left-google-banner {
		width: 300px;
		margin: 30px auto;
		display: block;
	}
}



#amzn-smart-ad { margin-bottom: 10px; }
div#amzn-native-ad-0 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-1 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-2 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-3 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-4 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-5 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-6 .amzn-native-header .amzn-native-header-text,
div#amzn-native-ad-7 .amzn-native-header .amzn-native-header-text {
	font-weight: 300 !important;
	font-size: 24px !important;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/*.xbd-top-banner-ad, .xbd-left-banner-ad, .xbd-right-banner-ad, .xbd-left-sidebar-ad, .xbd-right-sidebar-ad { display: none !important; }*/