.aside-signup {
	color: #22B846 !important;
	font-size: 16px;
	padding: 0 8px;
	font-weight: bold;
}
a.aside-signup:hover {
	text-decoration: none;
	color: #fff !important;
}
a.aside-signup2:hover {
	text-decoration: none;
	color: #000 !important;
}
.navi ul.nav li .popover-title {
	background-color: #ff0000;
	color: #fff;
}
.navi ul.nav li .popover-content {
	text-align: center;
}
.navi ul.nav li .popover-content a.aside-signup2 {
	color: #1C2B36 !important;
	display: inline-block;
	font-weight: bold;
	padding: 0;
	line-height: normal;
	vertical-align: baseline;
}