.single-games-page .m-t-xxxl { margin-top: 70px; }
.single-games-page .thumb-xxl { width: 170px; }
.single-games-page .padder-vv-xbd { padding: 39px 20px; }
.single-games-page .padder-vv-ixbd { margin-top: 70px; padding: 0; }
.single-games-page .padder-as { padding: 7px 15px; border-radius: 0; }
.single-games-page .padder-t { padding-bottom: 10px; padding-top: 10px; }
.single-games-page .nav-tabs { border-bottom: 2px solid #DDD; }
.single-games-page .nav-tabs > li > a { border: none; color: #666; padding: 10px 20px; margin-right: 0; }
.single-games-page .nav-tabs > li.active > a, .single-games-page .nav-tabs > li > a:hover { color: #138013 !important; background: transparent; }
.single-games-page .nav-tabs > li > a::after { content: ""; background: #138013; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.single-games-page .nav-tabs > li.active > a::after, .single-games-page .nav-tabs > li:hover > a::after { transform: scale(1); }
.single-games-page .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.single-games-page .achievements-list .col-xl-6 { margin-bottom: ; }
.single-games-page .achievements-list #hasMoreResults .spinner-rect { margin: 0 auto; }
.single-games-page hr { margin: 10px 0; border-top: 1px solid #efefef; }
.single-games-page .games-page-news .list-group-item { padding: 0; margin-bottom: 15px; }
.single-games-page .games-page-news .list-group-item .m-r { margin: 0; }
.single-games-page .games-page-news .list-group-item .clear { display: block; padding: 15px; }
.single-games-page .games-page-news .list-group-item .clear .title-wrap-news { margin: 0 0 10px; font-size: 18px; font-weight: bold; }
.single-games-page .games-page-news .list-group-item .clear small { font-size: 12px; }

@media (max-width: 767px) {
	.single-games-page .m-t-xxxl { margin-top: 0; padding-top: 0; }
	.single-games-page h3, .single-games-page .h3 { font-size: 22px; }
	.single-games-page .padder-vv-xbd { padding: 10px 20px; }
	.single-games-page .padder-vv-ixbd { margin-top: 0; padding: 5px 0 0; }
}

@media (max-width: 500px) {
	.single-games-page .games-page-news .list-group-item .thumb-news { max-width: 100% }
	.single-games-page .games-page-news .list-group-item .clear .title-wrap-news { font-size: 22px; }
}