.leaderboards-page ul.list-group.alt li:first-child .media .thumb-sm {
	width: 64px;
	height: auto;
}
.leaderboards-page ul.list-group.alt li .media .media-body,
.leaderboards-page ul.list-group.alt li .media .m-t-sm {
	padding-top: 5px;
	margin: 0;
}
.leaderboards-page ul.list-group.alt li:first-child .media .media-body,
.leaderboards-page ul.list-group.alt li:first-child .media .m-t-sm {
	font-size: 18px;
	padding-top: 15px;
	margin: 0;
}