.news-section h3 {
	color: #252525;
	font-size: 22px;
	font-weight: bold;
}
.thumb-trending {
	display: inline-block;
	width: 100%;
}
.thumb-news {
	display: inline-block;
	max-width: 280px;
}
.thumb-news img {
	margin: 0;
}
.trending-column .thumb-news {
	max-width: 100%;
}
.trending-column .m-r {
	margin-right: 0;
}
.trending-column .clear {
	display: inline-block;
}
.trending-column h3 {
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
}
.trending-column .list-group-item {
	padding: 15px;
}
.drop-cap {
	font-weight: 700;
	font-style: normal;
	font-size: 64px;
	padding-top: 7px;
	margin-left: -5px;
	margin-right: 7px;
	letter-spacing: -.03em;
	line-height: .83;
	margin-bottom: -.08em;
	display: block;
	float: left;
}
@media (max-width: 1280px) {
	.blog-post h3 {
		font-size: 22px;
	}
}
@media (max-width: 992px) {
	.blog-post h3 {
		font-size: 20px;
	}
}
@media (max-width: 640px) {
	.news-section .thumb-news {
		display: inline-block;
		max-width: 100%;
	}
	.news-section .thumb-news.m-r {
		margin: 0;
	}
	.news-section .clear {
		display: inline-block;
		padding: 15px;
	}
	.news-section h3.title-wrap-news {
		font-size: 22px;
		margin-top: 10px;
		min-height: 22px;
		font-weight: bold;
	}
	.news-section small {
		line-height: 24px;
	}
}