.achievements-row .thumbnail { margin-bottom: 10px; }

.tweet-profile-image { width: 30px; height: 30px; }

#clips-modal .modal-dialog,
#captures-modal .modal-dialog {
	width: 756px;
}

#clips-modal .modal-body,
#captures-modal .modal-body {
	padding: 0;
}

.clips-container .thumbnail,
.captures-container .thumbnail {
	margin-bottom:6px;
}

.clips-container .carousel-control.left, .clips-container .carousel-control.right,
.captures-container .carousel-control.left, .captures-container .carousel-control.right {
	background-image: none;
}