.achievements-row .thumbnail { margin-bottom: 10px; }

.slick-slider { margin: 0; }

.slick-new-prev, .slick-new-next {
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: #138013;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-new-prev { left: 10px; z-index: 10; }
.slick-new-next { right: 10px; z-index: 10; }

.slick-new-prev, .slick-new-next { font-size: 2em; }

.tweet-profile-image { width: 30px; height: 30px; }

#clips-modal .modal-dialog,
#captures-modal .modal-dialog {
	width: 756px;
}

#clips-modal .modal-body,
#captures-modal .modal-body {
	padding: 0;
}

.clips-container .thumbnail,
.captures-container .thumbnail {
	margin-bottom:6px;
}

.clips-container .carousel-control.left, .clips-container .carousel-control.right,
.captures-container .carousel-control.left, .captures-container .carousel-control.right {
	background-image: none;
}