<template name="leaderboardsPage">
	{{> leaderboardsApp}}
</template>

<template name="leaderboardsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body">
      <div class="hbox hbox-auto-xs hbox-auto-sm leaderboards-page">
        <div class="col">
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Leaderboards</h1>
                <small class="text-muted">How do you rank?</small>
              </div>
              {{#if currentUser}}
              <div class="col-sm-6 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row row-sm">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{#if Template.subscriptionsReady}}
                  <div class="panel-heading text-center">
                    <h3 class="m-n padder-t text-white h4">Earned Achievements</h3>
                  </div>
                  <ul class="list-group alt">
                    <li class="list-group-item">
                      <div class="media">
                        <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0; text-align: center;">Your Rank:<br />1</span>
                        <span class="pull-left thumb-sm">
                          <img src="http://image.xboxlive.com/global/t.534307db/tile/0/28005" alt="Mayvn">
                        </span>
                        <div class="pull-right text-success m-t-sm">
                          953
                        </div>
                        <div class="media-body">
                          <div>Mayvn</div>
                        </div>
                      </div>
                    </li>
                    <div class="line"></div>
                    {{#each completedAchievementsLB}}
                      {{> completedAchievementsLine}}
                    {{/each}}
                  </ul>
                {{else}}
                  {{> loadingTemplate}}
                {{/if}}
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{#if Template.subscriptionsReady}}
                  <div class="panel-heading text-center">
                    <h3 class="m-n padder-t text-white h4">Completed Games</h3>
                  </div>
                  <ul class="list-group alt">
                    <li class="list-group-item">
                      <div class="media">
                        <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0; text-align: center;">Your Rank:<br />1</span>
                        <span class="pull-left thumb-sm">
                          <img src="http://image.xboxlive.com/global/t.534307db/tile/0/28005" alt="Mayvn">
                        </span>
                        <div class="pull-right text-success m-t-sm">
                          11
                        </div>
                        <div class="media-body">
                          <div>Mayvn</div>
                        </div>
                      </div>
                    </li>
                    <div class="line"></div>
                    {{#each completedGamesLB}}
                     {{> completedGamesLine}}
                    {{/each}}
                  </ul>
                {{else}}
                  {{> loadingTemplate}}
                {{/if}}
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{#if Template.subscriptionsReady}}
                  <div class="panel-heading text-center">
                    <h3 class="m-n padder-t text-white h4">Top Gamerscore</h3>
                  </div>
                  <ul class="list-group alt">
                    <li class="list-group-item">
                      <div class="media">
                        <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0; text-align: center;">Your Rank:<br />1</span>
                        <span class="pull-left thumb-sm">
                          <img src="http://image.xboxlive.com/global/t.534307db/tile/0/28005" alt="Mayvn">
                        </span>
                        <div class="pull-right text-success m-t-sm">
                          18825
                        </div>
                        <div class="media-body">
                          <div>Mayvn</div>
                        </div>
                      </div>
                    </li>
                    <div class="line"></div>
                    {{#each maxGamerscoreLB}}
                      {{> gamerscoreLine}}
                    {{/each}}
                  </ul>
                {{else}}
                  {{> loadingTemplate}}
                {{/if}}
                </div>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>

<template name="completedAchievementsLine">
  <li class="list-group-item">
    <div class="media">
      <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0;">1</span>
      <span class="pull-left thumb-sm">
        <img src="{{userPicture}}" alt="{{_id}}">
      </span>
      <div class="pull-right text-success m-t-sm">
        {{achievementCount}}
      </div>
      <div class="media-body">
        <div>{{_id}}</div>
      </div>
    </div>
  </li>
</template>

<template name="completedGamesLine">
  <li class="list-group-item">
    <div class="media">
      <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0;">1</span>
      <span class="pull-left thumb-sm"><img src="{{userPicture}}" alt="{{_id}}"></span>
      <div class="pull-right text-success m-t-sm">
        {{gameCount}}
      </div>
      <div class="media-body">
        <div>{{_id}}</div>
      </div>
    </div>
  </li>
</template>

<template name="gamerscoreLine">
  <li class="list-group-item">
    <div class="media">
      <span class="pull-left" style="display: block; font-size: 16px; margin: 5px 0 0;">1</span>
      <span class="pull-left thumb-sm"><img src="{{profile.gamercard.gamerpicLargeImagePath}}" alt="{{profile.gamercard.gamertag}}"></span>
      <div class="pull-right text-success m-t-sm">
        {{profile.gamercard.gamerscore}}
      </div>
      <div class="media-body">
        <div>{{profile.gamercard.gamertag}}</div>
      </div>
    </div>
  </li>
</template>