<template name="leaderboardsPage">
	{{> leaderboardsApp}}
</template>

<template name="leaderboardsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body">
      <div class="hbox hbox-auto-xs hbox-auto-sm leaderboards-page">
        <div class="col">
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Leaderboards</h1>
                <small class="text-muted">How do you rank?</small>
              </div>
              {{#if chkGamerStatus}}
              <div class="col-sm-6 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row row-sm">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> dailyRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> overallRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> completedAchievementsRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> completedGamesRanks}}
                </div>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>