<template name="leaderboardsPage">
	{{> leaderboardsApp}}
</template>

<template name="leaderboardsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body">
      <div class="hbox hbox-auto-xs hbox-auto-sm leaderboards-page">
        <div class="col">
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Leaderboards</h1>
                <small class="text-muted">How do you rank?</small>
              </div>
              {{#if currentUser}}
              <div class="col-sm-6 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row row-sm">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> dailyRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> overallRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> completedAchievementsRanks}}
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-black">
                {{> completedGamesRanks}}
                </div>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>

<template name="dailyRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel-heading text-center">
    <h3 class="m-n padder-t text-white h4">Top Gamerscore Today</h3>
  </div>
  <ul class="list-group alt">
    {{#if getUser}}
    {{#each dailyLB}}
    <li class="list-group-item">
      <div class="media">
        <span class="pull-left m-t-sm" style="display: block; font-size: 16px;">{{overallRank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getUserImage}}" alt="{{getUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{getGamerscore}}
        </div>
        <div class="media-body">
          <div>{{getUser}}</div>
        </div>
      </div>
    </li>
    {{/each}}
    {{else}}
    <li class="list-group-item">
      <div class="media">
        <div class="media-body text-center" style="font-size: 14px; padding-bottom: 15px;">
          <div>Waiting for users to unlock a new achievement today.</div>
        </div>
      </div>
    </li>
    {{/if}}
  </ul>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>

<template name="overallRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel-heading text-center">
    <h3 class="m-n padder-t text-white h4">Top All-Time Gamerscore</h3>
  </div>
  <ul class="list-group alt">
    {{#each overallLB}}
    <li class="list-group-item">
      <div class="media">
        <span class="pull-left m-t-sm" style="display: block; font-size: 16px;">{{overallRank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getUserImage}}" alt="{{getUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{getGamerscore}}
        </div>
        <div class="media-body">
          <div>{{getUser}}</div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>

<template name="completedAchievementsRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel-heading text-center">
    <h3 class="m-n padder-t text-white h4">Completed Achievements</h3>
  </div>
  <ul class="list-group alt">
    {{#each completedAchievementsLB}}
    <li class="list-group-item">
      <div class="media">
        <span class="pull-left m-t-sm" style="display: block; font-size: 16px;">{{completedAchievements.rank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getUserImage}}" alt="{{getUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{completedAchievements.count}}
        </div>
        <div class="media-body">
          <div>{{getUser}}</div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>

<template name="completedGamesRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel-heading text-center">
    <h3 class="m-n padder-t text-white h4">Completed Games</h3>
  </div>
  <ul class="list-group alt">
    {{#each completedGamesLB}}
    <li class="list-group-item">
      <div class="media">
        <span class="pull-left m-t-sm" style="display: block; font-size: 16px;">{{completedGames.rank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getUserImage}}" alt="{{getUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{completedGames.count}}
        </div>
        <div class="media-body">
          <div>{{getUser}}</div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>