<template name="leaderboardTemplate">
	{{#if Template.subscriptionsReady}}
		<div class="panel panel-black" style="margin-bottom: 0;">
			<div class="panel-heading text-center">
				<h3 class="m-n padder-t text-white h4">{{boardTitle}}</h3>
			</div>
		</div>
		{{#if chkGamerStatus}}
		{{#if checkCurrentUserForLB}}
			{{> currentUserLeaderboard boardType=this.boardType}}
		{{else}}
			<div class="panel panel-success" style="margin-bottom: 0;">
				<div class="panel-heading current-user">
					<div class="padder-d text-center">
						<div class="text-md">
							{{{defaultBoardText}}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		{{/if}}
		<div class="panel panel-black">
			<ul class="list-group alt">
				{{#if checkForLB}}
				{{#each rank}}
				<a class="profile-link" href="/users">
					<li class="list-group-item hvr-glow">
						<div class="media">
							<span class="pull-left m-t-sm">{{getUserRank}}</span>
							<span class="pull-left thumb-sm">
								<img src="{{getUserImage}}" alt="{{getUser}}" />
							</span>
							<div class="pull-right text-success m-t-xs">
								{{getUserRankValue}}
							</div>
							<div class="media-body">
								<div class="text-ellipsis-inline m-t-xs">{{getUser}}</div>
							</div>
						</div>
					</li>
				</a>
				{{/each}}
				{{else}}
				<li class="list-group-item">
					<div class="padder-v text-center">
						<div class="text-md">Currently collecting data...</div>
					</div>
				</li>
				{{/if}}
			</ul>
		</div>
	{{else}}
		{{> loadingTemplate}}
	{{/if}}
</template>

<template name="currentUserLeaderboard">
	<div class="panel panel-success" style="margin-bottom: 0;">
		<div class="panel-heading current-user">
			<div class="media">
				<span class="pull-left m-t-sm">{{getCurrentUserLBRank}}</span>
				<span class="pull-left thumb-sm">
					<img src="{{getCurrentUserImage}}" alt="{{getCurrentUser}}" />
				</span>
				<div class="pull-right text-success m-t-sm">
					{{getCurrentUserLBCount}}
				</div>
				<div class="media-body">
					<div class="text-ellipsis-inline m-t-sm">{{getCurrentUser}}</div>
				</div>
			</div>
			{{> currentUserShareButtons}}
		</div>
	</div>
</template>

<template name="currentUserShareButtons">
	<div class="share-buttons rrssb-lb">
		<ul class="rrssb-buttons clearfix">
			<li class="rrssb-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{getUrl}}&amp;name={{getTitle}}&amp;description={{getShortDescription}}&amp;redirect_uri={{getUrl}}&amp;picture={{getShareImage}}" class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
					</span>
					<span class="rrssb-text">Share</span>
				</a>
			</li>
			<li class="rrssb-twitter">
				<a href="https://twitter.com/intent/tweet?url={{getUrl}}&amp;text={{getTitle}}&amp;hashtags={{getHashTags}}&amp;via=xboxdash"
				class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg>
					</span>
					<span class="rrssb-text">Tweet</span>
				</a>
			</li>
		</ul>
	</div>
</template>