<template name="completedAchievementsRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel panel-black" style="margin-bottom: 0;">
    <div class="panel-heading text-center">
      <h3 class="m-n padder-t text-white h4">Completed Achievements</h3>
    </div>
  </div>
  <div class="panel panel-success" style="margin-bottom: 0;">
    <div class="panel-heading current-user">
      <div class="media">
        <span class="pull-left m-t-sm">{{getCurrentUserAchievementsRank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getCurrentUserImage}}" alt="{{getCurrentUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{getCurrentUserAchievementsCount}}
        </div>
        <div class="media-body">
          <div class="text-ellipsis-inline m-t-sm">{{getCurrentUser}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-black">
    <ul class="list-group alt">
      {{#each completedAchievementsLB}}
      <li class="list-group-item">
        <div class="media">
          <span class="pull-left m-t-sm">{{completedAchievements.rank}}</span>
          <span class="pull-left thumb-sm">
            <img src="{{getUserImage}}" alt="{{getUser}}" />
          </span>
          <div class="pull-right text-success m-t-sm">
            {{completedAchievements.count}}
          </div>
          <div class="media-body">
            <div class="text-ellipsis-inline">{{getUser}}</div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>