<template name="dailyRanks">
  {{#if Template.subscriptionsReady}}
  <div class="panel panel-black" style="margin-bottom: 0;">
    <div class="panel-heading text-center">
      <h3 class="m-n padder-t text-white h4">Top Gamerscore Today</h3>
    </div>
  </div>
  <div class="panel panel-success" style="margin-bottom: 0;">
    <div class="panel-heading current-user">
      <div class="media">
        <span class="pull-left m-t-sm">{{getCurrentUserDailyRank}}</span>
        <span class="pull-left thumb-sm">
          <img src="{{getCurrentUserImage}}" alt="{{getCurrentUser}}" />
        </span>
        <div class="pull-right text-success m-t-sm">
          {{getCurrentUserGamerscoreCount}}
        </div>
        <div class="media-body">
          <div class="text-ellipsis-inline m-t-sm">{{getCurrentUser}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-black">
    <ul class="list-group alt">
      {{#if checkForLB}}
      {{#each dailyLB}}
      <li class="list-group-item">
        <div class="media">
          <span class="pull-left m-t-sm">{{dailyRank.rank}}</span>
          <span class="pull-left thumb-sm">
            <img src="{{getUserImage}}" alt="{{getUser}}" />
          </span>
          <div class="pull-right text-success m-t-sm">
            {{getGamerscore}}
          </div>
          <div class="media-body">
            <div class="text-ellipsis-inline">{{getUser}}</div>
          </div>
        </div>
      </li>
      {{/each}}
      {{else}}
      <li class="list-group-item">
        <div class="media">
          <div class="media-body text-center" style="font-size: 14px; padding-top: 7px; padding-bottom: 7px;">
            <div>Waiting for users to unlock a new achievement today.</div>
          </div>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>