<template name="notFound">
	<div class="dashboard-overlay not-found">
		<div class="well">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 text-center m-t-lg m-b-lg">
					<a href="{{pathFor 'home'}}" class="img-responsive logo">
						<img src="/img/xbdash_green.png" class="img-responsive" />
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>404</h2>
					<p>We're sorry but the requested URL was not found on this server. That's all we know.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>Trending News</h2>
				</div>
				<div class="col-xs-12">
                	{{> mostSharedNews limit=3}}
                </div>
			</div>
		</div>
	</div>
</template>