<template name="recentActivityColumn">
	<div class="col w-xxl bg-white-only b-l bg-auto no-border-xs">
		<div class="nav-tabs-alt" >
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a data-target="#tab-1" role="tab" data-toggle="tab"><i class="fa fa-history text-md wrapper-sm"></i></a>
				</li>
				<li>
					<a data-target="#tab-2" role="tab" data-toggle="tab"><i class="fa fa-heart text-md wrapper-sm"></i></a>
				</li>
				<li>
					<a data-target="#tab-3" role="tab" data-toggle="tab"><i class="fa fa-trophy text-md wrapper-sm"></i></a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab-1">
				<div class="wrapper-md activity-column">
					<div class="m-b-sm text-md text-center"><a href="{{pathFor 'myGames'}}">Recent Activity</a></div>
					<ul class="list-group no-bg no-borders pull-in">
					{{#if Template.subscriptionsReady}}
						{{#each gamesList}}
							{{> recentActivityLine}}
						{{/each}}
					{{else}}
						{{#each gamesList}}
							{{> recentActivityLoading}}
						{{/each}}
					{{/if}}
					</ul>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane tab-2" id="tab-2">
				<div class="wrapper-md wishlist-column">
					<div class="m-b-sm text-md text-center">Your Wishlist</div>
					<ul class="list-group no-bg no-borders pull-in">
					{{#if Template.subscriptionsReady}}
						{{#if userHasWishlist}}
							{{> userWishlist}}
						{{else}}
							<div class="container-fluid captures-container m-b-md">
								<div class="row">
									<div class="col-md-12 m-t-md font-bold">
										Wishlist is empty.
									</div>
								</div>
							</div>
						{{/if}}
					{{else}}
						{{> loadingTemplate}}
					{{/if}}
					</ul>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane tab-3" id="tab-3">
				<div class="wrapper-md wishlist-column">
					<div class="m-b-sm text-md text-center">Your Trophy Case</div>
					<ul class="list-group no-bg no-borders pull-in">
					{{#if Template.subscriptionsReady}}
						{{#if userHasTrophyCase}}
								{{> userTrophyCase}}
						{{else}}
							<div class="container-fluid captures-container m-b-md">
								<div class="row">
									<div class="col-md-12 m-t-md font-bold">
										Trophy case is empty.
									</div>
								</div>
							</div>
						{{/if}}
					{{else}}
						{{> loadingTemplate}}
					{{/if}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="recentActivityLine">
	{{#with xbdGame}}
	<li class="list-group-item activity-line">
		<a class="" href="{{pathFor 'game' slug=game.slug}}" style="display: block;">
		<a href="{{pathFor 'game' slug=game.slug}}" class="thumb-sm m-r games-thumb">
			<img src="{{gamesListImage}}" class="game-image" />
		</a>
		<div class="game-div title-wrap-game2">
			<a class="game-name text-ellipsis" href="{{pathFor 'game' slug=game.slug}}">{{game.name}}</a>
		</div>
		<div class="pull-right bg-black inline m-t-mdx c100 p{{percentageComplete}} small">
			<span>{{percentageComplete}}%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div class="progress progress-md text-center">
			<div class="progress-bar progress-bar-success" style="width: {{percentageComplete}}%">
				{{../earnedAchievements}} done 
			</div>
			{{remainingAchievements}} left
		</div>
		</a>
	</li>
	{{/with}}
</template>

<template name="recentActivityLoading">
	<li class="list-group-item activity-line">
		<a href="#" class="thumb-sm m-r games-thumb">
			<img src="/img/game-default.jpg" class="game-image" />
		</a>
		<div class="game-div title-wrap-game2">
			<a class="game-name" href="#">Your Game</a>
		</div>
		<div class="pull-right bg-black inline m-t-mdx c100 p0 small">
			<span>0%</span>
			<div class="slice">
				<div class="bar"></div>
				<div class="fill"></div>
			</div>
		</div>
		<div class="progress progress-md text-center">
			<div class="progress-bar progress-bar-success" style="width: 100%">
				0 done 
			</div>
			100 left
		</div>
	</li>
</template>