<template name="buyCreditsPage">
	{{> creditsApp}}
</template>

<template name="creditsApp">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body fade-in-up buy-credits">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
					<div class="bg-light lter b-b wrapper-md hidden-xs">
						<div class="row">
							<div class="col-sm-8 col-xs-12">
								<h1 class="m-n font-thin h3 text-black">Buy Credits</h1>
								<small class="text-muted">XBdash credits will allow you to participate in different events or redeem for gift cards.</small>
							</div>
						</div>
					</div>
					<div class="wrapper-md ng-scope">
						<div class="row">
							<div class="col-md-4">
								<div class="panel b-a">
									<div class="bg-success dk no-border wrapper-lg">
										<div class="text-white">Starter</div>
									</div>
									<div class="text-center m-b clearfix">
										<div class="thumb-lg avatar m-t-n-xxl">
											<img class="b b-3x b-r b-white" src="img/packages/5_credits.png" alt="...">
										</div>
										<div class="text-lg m-t-sm">
											XBD Credits
										</div>
									</div>
									<div class="list-group no-radius alt text-center text-md">
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">5</span> 1 credit tournaments
										</div>
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">1</span> 5 credit tournament
										</div>
										<div class="list-group-item" href="">
											redeem <span class="label bg-black text-white m-l-xs m-r-xs">1</span> $5 digital gift card
										</div>
									</div>
									<div class="padder-v hbox text-center lter row no-gutter text-center b-t text-sm">
										<div class="m-b-sm text-lg">or use credits to buy accessories.</div>
										<button class="btn btn-success btn-addon xbd-buy-five" data-toggle="modal" data-target="#xb-payment-modal"><i class="fa fa-shopping-cart"></i>Buy Now</button>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="panel b-a">
									<div class="bg-success dk no-border wrapper-lg">
										<div class="text-white">Amateur</div>
									</div>
									<div class="text-center m-b clearfix">
										<div class="thumb-lg avatar m-t-n-xxl">
											<img class="b b-3x b-r b-white" src="img/packages/10_credits.png" alt="...">
										</div>
										<div class="text-lg m-t-sm">
											XBD Credits
										</div>
									</div>
									<div class="list-group no-radius alt text-center text-md">
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">10</span> 1 credit tournaments
										</div>
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">2</span> 5 credit tournaments
										</div>
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">1</span> 10 credit tournament
										</div>
										<div class="list-group-item" href="">
											redeem <span class="label bg-black text-white m-l-xs m-r-xs">1</span> $10 digital gift card
										</div>
									</div>
									<div class="padder-v hbox text-center lter row no-gutter text-center b-t text-sm">
										<div class="m-b-sm text-lg">or use credits to buy accessories.</div>
										<button class="btn btn-success btn-addon xbd-buy-ten" data-toggle="modal" data-target="#xb-payment-modal"><i class="fa fa-shopping-cart"></i>Buy Now</button>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="panel b-a">
									<div class="bg-success dk no-border wrapper-lg">
										<div class="text-white">Professional</div>
									</div>
									<div class="text-center m-b clearfix">
										<div class="thumb-lg avatar m-t-n-xxl">
											<img class="b b-3x b-r b-white" src="img/packages/20_credits.png" alt="...">
										</div>
										<div class="text-lg m-t-sm">
											XBD Credits
										</div>
									</div>
									<div class="list-group no-radius alt text-center text-md">
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">20</span> 1 credit tournaments
										</div>
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">4</span> 5 credit tournaments
										</div>
										<div class="list-group-item" href="">
											lets you play <span class="label bg-black text-white m-l-xs m-r-xs">2</span> 10 credit tournaments
										</div>
										<div class="list-group-item" href="">
											redeem <span class="label bg-black text-white m-l-xs m-r-xs">1</span> $20 digital gift card
										</div>
									</div>
									<div class="padder-v hbox text-center lter row no-gutter text-center b-t text-sm">
										<div class="m-b-sm text-lg">or use credits to buy accessories.</div>
										<button class="btn btn-success btn-addon xbd-buy-twenty" data-toggle="modal" data-target="#xb-payment-modal"><i class="fa fa-shopping-cart"></i>Buy Now</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2 col-md-offset-5">
								<div class="padder-t text-center">
									<a class="legal m-r-xs" href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a> | <a class="legal m-l-xs" href="{{pathFor 'termsConditions'}}">Terms of Use</a>
								</div>
							</div>
						</div>
					</div>
					{{> paymentModal}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="paymentModal">
	<div class="modal fade" id="xb-payment-modal" tabindex="-1" role="dialog" aria-labelledby="xb-payment-modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content form-box">
				<form role="form" action="" method="post" class="f1" style="width: 370px; text-align: center;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="inline-block">
						<div class="img-responsive m-b" style="margin-bottom: 15px;"><img src="img/xbdash-icon75.png" height="75" width="75"></div>
					</div>
					<h3>XBdash</h3>
					<p style="font-size: 16px; line-height: 18px;">Pay as you need more credits, no commitments.</p>
					<hr>
					<p style="font-size: 16px; line-height: 18px;">
						keith@xbdash.com<br>
						You are buying <u>5 XBdash credits</u>.
					</p>
					<div class="f1-steps" style="margin-bottom: 20px;">
						<div class="f1-progress">
							<div class="f1-progress-line" data-now-value="25" data-number-of-steps="2" style="width: 25%;"></div>
						</div>
						<div class="f1-step active">
							<div class="f1-step-icon"><i class="fa fa-user"></i></div>
						</div>
						<div class="f1-step">
							<div class="f1-step-icon"><i class="fa fa-key"></i></div>
						</div>
					</div>
					<fieldset style="display: block;">
						<div class="form-group" style="margin: 0;">
							<div class="input-group">
								<span style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 0px none rgb(255, 255, 255); padding: 5px 0px 5px 10px; border-bottom: 0px none; border-radius: 4px 0px 0px;" class="input-group-addon"><i style="width: 10px;" class="fa fa-user"></i></span>
								<label class="sr-only" for="f1-full-name">Full Name</label>
								<input style="padding: 0px 10px; border-bottom: 0px none; border-left: 0px none; border-radius: 0 4px 0px 0px;" class="f1-full-name form-control" id="f1-full-name" placeholder="Full Name" type="text">
							</div>
						</div>
						<div class="form-group" style="margin: 0;">
							<div class="input-group">
								<span style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 5px 0px 5px 10px; border-width: 1px 0px 0px 1px; border-style: solid none none solid; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); border-radius: 0px;" class="input-group-addon"><i style="width: 10px;" class="fa fa-map-marker"></i></span>
								<label class="sr-only" for="f1-address">Address</label>
								<input style="padding: 0px 10px; border-radius: 0px; border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none;" class="f1-address form-control" id="f1-address" placeholder="Address" type="text">
							</div>
						</div>
						<div class="form-inline">
							<div class="form-group" style="margin: 0;">
								<div class="input-group" style="width: 50%; float: left;">
									<label class="sr-only" for="f1-zip-code">Zip Code</label>
									<input style="padding: 0px 10px 0px 30px; border-radius: 0px;" placeholder="ZIP" class="f1-zip-code form-control" id="f1-zip-code" type="text">
								</div>
								<div class="input-group" style="width: 50%; float: right;">
									<label class="sr-only" for="f1-city">City</label>
									<input style="padding: 0px 10px; border-radius: 0px; border-left: 0px none;" class="f1-city form-control" id="f1-city" placeholder="City" type="text">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group m-b" style="width: 100%;">
								<label class="sr-only" for="f1-country">Country</label>
								<input style="padding: 0px 10px 0px 30px; border-radius: 0px; border-top: 0px none;" class="f1-country form-control" id="f1-country" placeholder="United States" value="United States" type="text">
							</div>
						</div>
						<div class="f1-buttons">
							<button style="width: 100%;" type="button" class="btn btn-next">Next</button>
						</div>
					</fieldset>

					<fieldset style="display: none;">
						<div class="form-group" style="margin: 0;">
							<div class="input-group">
								<span style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 0px none rgb(255, 255, 255); padding: 5px 0px 5px 10px; border-bottom: 0px none; border-radius: 4px 0px 0px;" class="input-group-addon"><i style="width: 10px;" class="fa fa-user"></i></span>
								<label class="sr-only" for="f1-full-name">Card Number</label>
								<input style="padding: 0px 10px; border-bottom: 0px none; border-left: 0px none; border-radius: 0 4px 0px 0px;" tabindex="1" class="f1-cc-number form-control" id="card_number" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card number" type="tel">
							</div>
						</div>
						<div class="form-inline" style="margin-bottom: 15px;">
							<div class="form-group">
								<div class="input-group" style="width: 50%;">
									<span style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 0px none rgb(255, 255, 255); padding: 5px 10px; border-radius: 0 0 0 4px;" class="input-group-addon"><i class="fa fa-calendar-o" style="width: 10px;"></i></span>
									<label class="sr-only" for="f1-cc-exp">Expiration</label>
									<input style="padding: 0px 10px; border-radius: 0px; border-left: 0px none;" tabindex="1" class="f1-cc-exp form-control" id="cc-exp" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="MM / YY" type="tel">
								</div>
								<div class="input-group" style="width: 50%; float: right;">
									<span style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 5px 10px; border-right: 0px none rgb(255, 255, 255); border-radius: 0px; border-left: 0px none;" class="input-group-addon"><i class="fa fa-lock" style="width: 10px;"></i></span>
									<label class="sr-only" for="f1-cc-csc">CSC</label>
									<input style="padding: 0px 10px; border-left: 0px none; border-radius: 0 0 4px 0;" tabindex="1" class="f1-cc-csc form-control" id="cc-csc" autocomplete="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="CVC" maxlength="4" type="tel">
								</div>
							</div>
						</div>

						<div class="f1-buttons">
							<button type="button" class="btn btn-previous" style="width: 50%; border-radius: 4px 0 0 4px; float: left">Previous</button>
							<button type="submit" class="btn btn-submit" style="width: 50%; border-radius: 0 4px 4px 0; ">Pay Now</button>
						</div>
					</fieldset>
					<div class="padder-d text-center">
						<a class="legal m-r-xs" href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a> | <a class="legal m-l-xs" href="{{pathFor 'termsConditions'}}">Terms of Use</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>