<template name="contactUsForm">
	<div class="row">
		<div class="col-sm-12 contact-form"> 
			<form id="contact" method="post" class="form" role="form"> 
				<div class="row"> 
					<div class="col-xs-6 col-md-4 form-group"> 
						<input class="form-control" id="name" name="name" placeholder="Name*" type="text" required autofocus /> 
					</div> 
					<div class="col-xs-6 col-md-4 form-group"> 
						<input class="form-control" id="email" name="email" placeholder="Email*" type="email" required /> 
					</div> 
					<div class="col-xs-6 col-md-4 form-group"> 
						<select class="form-control selectpicker" id="subject" data-style="btn-inverse" required>
							<option value="General Inquiry">General Inquiry</option>
							<option value="Feature Request">Feature Request</option>
							<option value="Report a Bug">Report a Bug</option>
						</select>
					</div> 
				</div> 
				<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea> 
			</form> 
		</div>
	</div>
</template>