<template name="footerLandingPage">
  <!-- footer -->
  <footer id="footer">
    <div id="getReady" class="bg-primary">
      <div class="container">
        <div class="row m-t-xl m-b-xl">
          <div class="col-md-6 col-sm-12 text-center">
            <h4 class="m-b">XBOXDASH is your personal gaming dashboard.</h4>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <a href="http://themeforest.net/item/angulr-bootstrap-admin-web-app-with-angularjs/8437259" class="btn btn-lg btn-default btn-rounded">Get Dashboard Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary dk">
      <div class="container">
        <div class="row padder-v">
          <div class="col-lg-5 col-md-5 visible-md visible-lg m-t-sm">
            <ul class="list-inline">
              <li><a href="#">Sales</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Job</a></li>
            </ul> 
          </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 m-t-xs">
            XboxDash &copy; 2015
          </div>
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-7 text-right-xs text-right">
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>