<template name="welcomeOverlay">
	<div class="wrapper-md">
		<div class="row">
			<div class="col-md-4">
				<div class="panel b-a">
					<div class="panel-heading no-border bg-primary">          
						<span class="text-lt">Help the Community</span>
					</div>
					<div class="item m-l-n-xxs m-r-n-xxs">
						<img src="img/achievement-solutions.jpg" class="img-full">
					</div>
					<div class="panel-body hbox text-center b-b b-light text-sm">          
						Discuss and submit achievement solutions.
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel b-a">
					<div class="panel-heading no-border bg-primary">          
						<span class="text-lt">Comment</span>
					</div>
					<div class="item m-l-n-xxs m-r-n-xxs">
						<img src="img/article-comments.jpg" class="img-full">
					</div>
					<div class="panel-body hbox text-center b-b b-light text-sm">          
						How do you feel about the recent news?
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel b-a">
					<div class="panel-heading no-border bg-primary">          
						<span class="text-lt">Share</span>
					</div>
					<div class="item m-l-n-xxs m-r-n-xxs">
						<img src="img/article-share.jpg" class="img-full">
					</div>
					<div class="panel-body hbox text-center b-b b-light text-sm">          
						Did the latest news appeal to you? Share via Facebook or Twitter!
					</div>
				</div>
			</div>
		</div>
	</div>
</template>