<template name="welcomeOverlay">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel b-a">
				<div class="panel-heading no-border bg-primary">
					<h4 class="text-lt">Dashboard</h4>
				</div>
				<div class="item m-l-n-xxs m-r-n-xxs">
					<img src="img/dashboard-preview.jpg" class="img-full">
				</div>
				<div class="panel-body hbox text-center b-b b-light text-sm">
					Track your progress on achievements and games visually.
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel b-a">
				<div class="panel-heading no-border bg-primary">
					<h4 class="text-lt">Leaderboards</h4>
				</div>
				<div class="item m-l-n-xxs m-r-n-xxs">
					<img src="img/leaderboards-preview.jpg" class="img-full">
				</div>
				<div class="panel-body hbox text-center b-b b-light text-sm">
					See how you stack up against other Xbox&reg; Gamers on different leaderboards.
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel b-a">
				<div class="panel-heading no-border bg-primary">
					<h4 class="text-lt">Achievements / News</h4>
				</div>
				<div class="item m-l-n-xxs m-r-n-xxs">
					<img src="img/solutions-share.jpg" class="img-full">
				</div>
				<div class="panel-body hbox text-center b-b b-light text-sm">
					Submit achievement solutions with YouTube links and share articles.
				</div>
			</div>
		</div>
	</div>
</template>