<template name="aboutUs">
  {{> carousel}}
  {{> homeWhatSection}}
  {{> homeFeaturesSection}}
</template>

<template name="carousel">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/slide_1.jpg" alt="...">
        <div class="carousel-caption">
          <h3 class="font-bold l-h-1x m-t-xxl text-white padder-v animated fadeInDown">Get Your Personalized Gaming Dashboard</h3>
          <p class="text-white m-t-xl l-h-1x">See How Your Activity Stacks Up Against Your Friends</p>
          <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-default btn-rounded text-lg font-bold m-b-xxl animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
        </div>
      </div>
      <div class="item">
        <img src="img/slide_1.jpg" alt="...">
        <div class="carousel-caption">
          <h3 class="font-bold l-h-1x m-t-xxl text-white padder-v animated fadeInDown">Be Great with Achievements</h3>
          <p class="text-white m-t-xl l-h-1x">Find The Achievement You're Looking For And Unlock Higher Gamerscores Together</p>
          <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-default btn-rounded text-lg font-bold m-b-xxl animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
        </div>
      </div>
      <div class="item">
        <img src="img/slide_1.jpg" alt="...">
        <div class="carousel-caption">
          <h3 class="font-bold l-h-1x m-t-xxl text-white padder-v animated fadeInDown">Decide on Your Next Adventure</h3>
          <p class="text-white m-t-xl l-h-1x">Search the Game Library and Decide on Your Next Game</p>
          <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-default btn-rounded text-lg font-bold m-b-xxl animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>

<template name="homeWhatSection">
  <div id="what" class="bg-light">
    <div class="container">
      <div class="row m-t-xl m-b-md text-center">
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
          <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
            <img src="img/xbox12.png" width="75" height="75" />
          </p>
          <div class="m-b-xl">
            <h4 class="m-t-none">Manage Your Game Progress</h4>
            <p class="text-muted m-t-lg">Keep tabs on your game history and scope out games you want to add to your gamerscore.</p>
          </div>
        </div>
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
          <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
            <i class="fa w-1x fa-trophy fa-3x text-black"></i>
          </p>
          <div class="m-b-xl">
            <h4 class="m-t-none">Track Achievements</h4>
            <p class="text-muted m-t-lg">Keep track of your achievements and work together with more gamers to unlock them.</p>
          </div>
        </div>
        <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
          <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
            <i class="fa w-1x fa-area-chart fa-3x text-black"></i>
          </p>
          <div class="m-b-xl">
            <h4 class="m-t-none">See Your Personalized Dashboard</h4>
            <p class="text-muted m-t-lg">Your dashboard is the key to tracking your gamerscore and your rank against the XboxDash community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="homeFeaturesSection">
  <div id="features" class="bg-white-only">
    <div class="container">
      <div class="row m-t-xl m-b-xxl" style="margin-bottom:0;">
        <h2 class="text-center">Features</h2>
      </div>
      <div class="row m-t-xl m-b-xxl" style="margin-bottom:0;">
        <div class="col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
          <div class="m-t-xxl text-center">
            <img src="img/iphone6-dashboard.png" width="400" />
          </div>
        </div>
        <div class="col-sm-6 wrapper-xl">
          <h3 class="text-dark font-bold m-b-lg">The Dashboard</h3>
          <ul class="list-unstyled  m-t-xl">
            <li data-ride="animated" data-animation="fadeInUp" data-delay="600">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg"><strong>Real-Time</strong> See your statistics and game progress with real-time data.</p>
            </li>
            <li data-ride="animated" data-animation="fadeInUp" data-delay="900">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg"><strong>Gamerscore</strong>, Angulr using Grunt to automate development tasks, like compiling less to css, concatenating and minifying js files...</p>
            </li>
            <li data-ride="animated" data-animation="fadeInUp" data-delay="1100">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg"><strong>Bower Package</strong>, fetching and installing packages from all over, finding, downloading, and saving the stuff you’re looking for.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="bg-light">
    <div class="container">
      <div class="row m-t-xl m-b-xxl" style="margin-bottom:0;">
        <h2 class="text-center">Features</h2>
      </div>
      <div class="row m-t-xl m-b-xxl">
        <div class="col-sm-6 wrapper-xl">
          <h3 class="text-black font-bold m-b-lg">Responsive on all screen</h3>
          <p class="h4 l-h-1x">Angulr responsive CSS layout is built on Bootstrap Grid System, includes a responsive, mobile first fluid grid system to target a wide range of devices like desktop, tablets, smart phones etc</p>
        </div>
        <div class="col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
          <div class="m-t-xxl text-center">
            <img src="img/macbook-dashboard.png" width="600" />
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</template>