<template name="signUp">
  <head>  
    <meta charset="utf-8" />
    <title>XboxDash | Sign Up to start managing your game progress and tracking achievements</title>
    <meta name="description" content="The #1 Xbox community that offers achievement guides, leaderboards, game reviews, and everything Xbox with your personalized dashboard." />
    <meta name="keywords" content="xbox, xbox achievements, xbox 360, xbox one, xbox games, achievements, xbox leaderboards, xbox news, xbox game reviews" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  </head>
  {{> signUpBody}}
</template>

<template name="signUpBody">
  {{> headerSignUpPage}}
  {{> signUpForm}}
  {{> footerSignUp}}
</template>

<template name="headerSignUpPage">
  <!-- header -->
  <header id="header" class="navbar navbar-fixed-top bg-primary padder-t"  data-spy="affix" data-offset-top="1">
  <div class="container">
    <div class="navbar-header">
      <button class="btn btn-link visible-xs pull-right m-r" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a href="{{pathFor 'home'}}" class="navbar-brand m-r-lg"><img src="img/xboxdash_whiteicon.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_white.png" class=""></span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="m-t-sm">
            <a href="" class="btn btn-link btn-sm"><i class="fa fa-lock"></i> Log in</a>
            <a href="{{pathFor 'signUp'}}" class="btn btn-sm btn-default btn-rounded m-l sign-up"><i class="fa fa-lock"></i> <strong>Sign up</strong></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </header>
  <!-- / header -->
</template>

<template name="signUpForm">
  <div class="container w-xxl w-auto-xs" style="padding: 5% 0;">
    <div class="m-b-lg">
      <div class="wrapper text-center">
        <strong>Sign up for XBOXDASH</strong>
      </div>
      <form name="form" class="validate" id="signupform">
        <div class="list-group list-group-sm">
          <div class="list-group-item form-group">
            <input placeholder="Gamertag" name="gamertag" class="form-control no-border" data-max="15" data-alphanumeric data-onblur data-required>
            <span for='gamertag' class='err-msg'></span>
          </div>
          <div class="list-group-item form-group">
            <input type="email" placeholder="Email" name="email" class="form-control no-border" data-email data-onblur data-required>
            <span for='email' class='err-msg'></span>
          </div>
          <div class="list-group-item form-group">
            <input type="password" placeholder="Password" name="password" class="form-control no-border" data-min="6" data-onblur data-required>
            <span for='password' class='err-msg'></span>
          </div>
          <div class="list-group-item form-group">
            <input type="password" placeholder="Confirm Password" name="password2" class="form-control no-border" data-min="6" data-onblur data-required>
            <span for='password2' class='err-msg'></span>
          </div>
        </div>
        <div class="checkbox m-b-md m-t-none">
          <label class="i-checks">
            <input type="checkbox" class="ckbox" name="terms" data-onblur data-required><i></i> I agree to the <a href>terms and policy</a>
          </label>
          <span for='terms' class='err-msg'></span>
          {{acceptedTerms}}
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block sign-up-submit disabled">Sign up</button>
        <div class="line line-dashed"></div>
        <p class="text-center"><small>Already have an account?</small></p>
        <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">Sign in</a>
      </form>
    </div>
  </div>
</template>

<template name="footerSignUp">
  <!-- footer -->
  <footer id="footer">
    <div class="bg-primary dk">
      <div class="container">
        <div class="row padder-v">
          <div class="col-lg-5 col-md-5 visible-md visible-lg m-t-sm">
            <ul class="list-inline">
              <li><a href="#what" data-ride="scroll">What is XboxDash</a></li>
              <li><a href="#features" data-ride="scroll">Features</a></li>
              <li><a href="#faqs" data-ride="scroll">FAQs</a></li>
              <li><a href="#contactBox" id="contactBox">Contact Us</a></li>
            </ul> 
          </div>
          <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 m-t-xs">
            XboxDash &copy; 2015. All Rights Reserved.
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 text-right-xs text-right">
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>