<head><link rel="shortcut icon" href="/img/favicon.ico" /></head>

<template name="headerSignUpPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li class="active"><a href="{{pathFor 'signUp'}}">Signup</a></li>
          <li><a href="{{pathFor 'logIn'}}">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerLogInPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li><a href="{{pathFor 'signUp'}}">Signup</a></li>
          <li class="active"><a href="{{pathFor 'logIn'}}">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerConfirmPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'aboutUs'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
      </div>
      <div class="padder-t">
        <ul class="list-inline">
          <li><a href="{{pathFor 'newsPage'}}">News</a></li>
          <li><a href="{{pathFor 'gamesPage'}}">Games</a></li>
          <li><a href="{{pathFor 'achievementsPage'}}">Achievements</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerPasswordPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'aboutUs'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
      </div>
      <div class="padder-t">
        <ul class="list-inline">
          <li><a href="{{pathFor 'newsPage'}}">News</a></li>
          <li><a href="{{pathFor 'gamesPage'}}">Games</a></li>
          <li><a href="{{pathFor 'achievementsPage'}}">Achievements</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerReferralPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'aboutUs'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
      </div>
    </div>
  </header>
</template>

<template name="privacyHeader">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li class="active"><a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a></li>
          <li><a href="{{pathFor 'termsConditions'}}">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="termsHeader">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="/img/xbdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="/img/xbdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li><a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a></li>
          <li class="active"><a href="{{pathFor 'termsConditions'}}">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>