<template name="headerSignUpPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="img/xboxdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li class="active"><a href="{{pathFor 'signUp'}}">Signup</a></li>
          <li><a href="{{pathFor 'logIn'}}">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerLogInPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="img/xboxdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li><a href="{{pathFor 'signUp'}}">Signup</a></li>
          <li class="active"><a href="{{pathFor 'logIn'}}">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="headerGtConfirmPage">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="img/xboxdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_green.png" class=""></span></a>
      </div>
    </div>
  </header>
</template>

<template name="privacyHeader">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="img/xboxdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li class="active"><a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a></li>
          <li><a href="{{pathFor 'termsOfUse'}}">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="termsHeader">
  <header id="header" class="navbar padder-x text-center signup">
    <div class="container">
      <div class="">
        <a href="{{pathFor 'home'}}" class="logo text-center"><img src="img/xboxdash_green.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_green.png" class=""></span></a>
        <ul class="nav nav-tabs signin">
          <li><a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a></li>
          <li class="active"><a href="{{pathFor 'termsOfUse'}}">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>