<template name="staticFooter">
  <footer id="footer">
    <div class="container signinfooter">
      <div class="row text-center">
        <div class="col-lg-12 padder-t">
          <ul class="list-inline">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'helpPage'}}">Help</a></li>
            <li><a href="{{pathFor 'privacyPolicy'}}" target="_blank">Privacy Policy</a></li>
            <li><a href="{{pathFor 'termsConditions'}}" target="_blank">Terms of Use</a></li>
          </ul>
        </div>
        <div class="col-lg-12 padder-d">
          <a href="http://facebook.com/xboxdash" class="btn btn-icon text-success"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/xboxdash" class="btn btn-icon text-success"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-lg-12 padder-t">
          <p class="text-dark">{{copyrightInfo}}</p>
        </div>
      </div>
    </div>
  </footer>
</template>