<template name="achievementsSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
					{{#with achievement}}
					<div class="bg-light col-xl-12 col-lg-12 col-xs-12 lter b-b wrapper-md achievement-title">
						<div class="row">
							<div class="col-sm-12 col-xs-7">
								<h1 class="font-thin h3 text-black m-b-xs">{{name}}</h1>
								<small class="text-muted">Game: <a href="{{pathFor 'game' slug=game.slug}}">{{game.name}}</a></small>
							</div>
							<div class="col-sm-12 col-xs-5 text-right visible-xs-inline-block">
								<div class="inline m-r m-l padder-t">
									<div class="h4 text-success font-bold">
										{{value}}<br />
										GS
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="blog-post">
							<img src="{{achievementImage}}" class="img-full {{ifXenon}}">
							<div class="h3 padder-vv-xbd text-center hidden-xs m-b">
								<strong>{{value}}</strong> Gamerscore
							</div>
							{{#if chkGamerStatus}}
							{{#if chkUserForAchievement}}
								<div class="share-bar">
									<h4>Share Your Achievement</h4>
									{{> shareit achievementData}}
								</div>
							{{/if}}
							{{/if}}
							<p class="h5 text-left">
								<h4 style="text-decoration: underline;">Description:</h4>
								{{description}}
							</p>
							<div class="xbd-left-sidebar-ad"></div>
						</div>
					</div>
					<div class="wrapper-md col-xl-5 col-lg-5 col-md-8 col-sm-7 col-xs-12 comments-column" style="background-color: #fff;">
						<div class="row m-b-lg">
							<div class="col-sm-6 col-xs-12 achievement-key">
								<div class="padder-vv-{{achievementClass}} text-center">
									<i class="fa fa-{{trophyClass}}"></i>&nbsp;&nbsp; {{achievementClass}}
								</div>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<div class="inline m-r m-l">
									<div class="m-b-xs">Users That Have This</div>
									<div class="h3 text-success font-bold">
										{{userPercentage}}%
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="comment-section">
								    {{> commentsBox id=this._id boxTemplate="achievementCommentBox"}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-3 hidden-md hidden-sm trending-column">
						{{> mostSharedNews limit=3}}
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>