<template name="achievementsPage">
	{{> achievementsApp}}
</template>

<template name="achievementsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Achievements</h1>
                <small class="text-muted">Search achievements, search solutions</small>
              </div>
              <div class="col-sm-5 text-right hidden-xs achievement-key">
                <div class="float-left padder-vv-common text-center">
                  <i class="fa fa-unlock" data-toggle="tooltip" data-placement="bottom" title="60% or more players have this">&nbsp;common</i>
                </div>
                <div class="float-left padder-vv-rare text-center">
                  <i class="fa fa-bullseye" data-toggle="tooltip" data-placement="bottom" title="top 60% have this">&nbsp;rare</i>
                </div>
                <div class="float-left padder-vv-epic text-center">
                  <i class="fa fa-star" data-toggle="tooltip" data-placement="bottom" title="top 30% have this">&nbsp;epic</i>
                </div>
                <div class="float-left padder-vv-legendary text-center">
                  <i class="fa fa-trophy" data-toggle="tooltip" data-placement="bottom" title="top 10% have this">&nbsp;legendary</i>
                </div>
              </div>
              {{#if chkGamerStatus}}
              <div class="col-sm-3 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Most Popular Achievements</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each mostPopularAchievements}}
                {{> achievementTemplate}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Rarest Achievements</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each rarestAchievements}}
                {{> achievementTemplate}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
          <!--end wrapper-->
        </div>
      </div>
    </div>
  </div>
</template>