<template name="achievementsTierPage">
  {{> achievementsShowMoreApp}}
</template>

<template name="achievementsShowMoreApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col">
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black"><span class="tier-name">{{achievementTier}}</span> Achievements</h1>
                <small class="text-muted">These achievements have been unlocked by {{achievementPercentage}} of XBdash users!</small>
              </div>
              {{#if chkGamerStatus}}
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-l m-r text-left">
                  {{> userDailyRank}}
                </div>
                <div class="inline text-left">
                  {{> userOverallRank}}
                </div>
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-7 col-xs-12">
                {{> achievementsShowMoreSection2 tier=achievementTier}}
              </div>
              <div class="wrapper-md col-lg-5 col-xs-12 hidden-md hidden-sm hidden-xs trending-column">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="achievementsShowMoreSection">
  {{#if Template.subscriptionsReady}}
    <div class="blog-post">
    {{#each achievementList}}
      {{> achievementTemplate}}
    {{/each}}
    <div style="display:block;">&nbsp;</div>
    </div>
    {{#if hasMoreResults}}
      <div id="hasMoreResults">{{> loadingTemplateRect}}</div>
    {{/if}}
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>

<template name="achievementsShowMoreSection2">
  <ul class="list-group no-bg no-borders achievements-list">
  {{#if Template.subscriptionsReady}}
    {{#each achievementList}}
    <li class="list-group-item">
      <a href="{{pathFor 'achievement'}}">
        <div class="row no-gutter">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 game-img" style="background-image: url('{{gamesImage}}');"></div>
          <div class="col-xl-3 col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="block padder-sm padder-w">
              {{gameName}}
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="block text-center padder-vv-{{achievementClass}}">
              <span class="text-white font-thin font-bold h4">
                {{this.value}}
              </span>
            </div>
          </div>
          <div class="col-xl-2 hidden-lg col-md-2 col-sm-2 col-xs-2 {{chkPlatform}} achievement-img" style="background-image: url('{{achievementImage}}');"></div>
          <div class="col-xl-4 col-lg-7 col-md-6 col-sm-7 col-xs-6 achievement-description">
            <div class="m-l-md">
              <div class="padder-t game-name">{{this.name}}</div>
              <div class="padder-d title-wrap-game">{{this.description}}</div>
            </div>
          </div>
        </div>
      </a>
    </li>
    {{/each}}
    {{#if hasMoreResults}}
    <div id="hasMoreResults">{{> loadingTemplateRect}}</div>
    {{/if}}
  {{else}}
    <li class="list-group-item">
    {{> loadingTemplate}}
    </li>
  {{/if}}
  </ul>
</template>