<template name="achievementsPage">
	{{> achievementsApp}}
</template>

<template name="achievementsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Achievements</h1>
                <small class="text-muted">Search achievements, search solutions</small>
              </div>
              <div class="col-sm-5 text-right hidden-xs achievement-key">
                <div class="float-left padder-vv-common">
                  <i class="fa fa-unlock"></i>&nbsp;&nbsp;common (&#62; 61%)
                </div>
                <div class="float-left padder-vv-rare">
                  <i class="fa fa-bullseye"></i>&nbsp;&nbsp;rare (&#60; 60%)
                </div>
                <div class="float-left padder-vv-epic">
                  <i class="fa fa-star"></i>&nbsp;&nbsp;epic (&#60; 30%)
                </div>
                <div class="float-left padder-vv-legendary">
                  <i class="fa fa-trophy"></i>&nbsp;&nbsp;legendary (&#60; 10%)
                </div>
              </div>
              {{#if currentUser}}
              <div class="col-sm-3 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Most Popular Achievements</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each mostPopularAchievements}}
                {{> achievementTemplate}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Rarest Achievements</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each rarestAchievements}}
                {{> achievementTemplate}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
          <!--end wrapper-->
        </div>
      </div>
    </div>
  </div>
</template>