<template name="topEpicAchievements">
	{{#if Template.subscriptionsReady}}
	<div class="panel-heading bg-epic">
		<div class="inline">
			<h3 class="m-n padder-t text-white h4">Top Epic Achievements</h3>
		</div>
		<div class="view-button pull-right padder-t inline">
			<a class="m-n text-white" href="#">View more</a>
		</div>
		<div class="view-arrow pull-right padder-t none">
			<a class="m-n text-white" href="#">View more&nbsp;&nbsp;<i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i></a>
		</div>
	</div>
	<ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
		{{#if achievementsPresent}}
		{{#each topEpicAchievements}}
		<li class="list-group-item clearfix b-l-3x b-l-{{achievementClass}}">
			<a class="thumb-md pull-left m-r-sm" href="{{pathFor 'achievement'}}">
				<div class="{{chkPlatform}} achievement-img" style="background-image: url('{{achievementImage}}');">
				</div>
			</a>
			<div class="pull-right no-border padder-vv-{{achievementClass}}">
				<i class="fa fa-{{trophyClass}}"></i> {{value}}
			</div>
			<div class="clear">
				<div>
					<a class="text-md text-ellipsis-inline" href="{{pathFor 'achievement'}}">{{name}}</a>
					<a class="text-md " href="{{pathFor 'game' slug=gameSlug}}">
						<span class="label bg-light m-l-sm text-ellipsis-inline">{{gameName}}</span>
					</a>
				</div>
				<div class="text-ellipsis m-t-xs ">
					<a href="{{pathFor 'achievement'}}">
						{{lockedDescription}}
					</a>
				</div>
			</div>      
		</li>
		{{/each}}
		{{else}}
		<li class="list-group-item clearfix b-l-3x">
			<div class="clear">
				There are no achievements in the Epic tier.
			</div>
		</li>
		{{/if}}
	</ul>
	{{else}}
		{{> loadingTemplate}}
	{{/if}}
</template>