<template name="achievementsPage">
	{{> achievementsApp}}
</template>

<template name="achievementsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h1 padder-to text-black">Achievements</h1>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">1</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">521</div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Most Popular Achievements</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Rarest Achievements</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Achievement X</a></div>
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-sm">
                    X gamers have this achievement
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end wrapper-->
        </div>
      </div>
    </div>
  </div>
</template>