<template name="achievementsSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<!-- main -->
				<div class="col">
					{{#with achievement}}
					<!-- main header -->
					<div class="bg-light col-lg-12 col-xs-12 lter b-b wrapper-md">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h1 class="font-thin h3 text-black m-b-xs">{{name}}</h1>
								<div class="text-muted">
									Game: <span class="m-r-sm">{{gameName}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-2 col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<!-- stats -->
						<div class="blog-post left">
							<img src="{{gamesImage}}" class="img-full">
							<div style="margin-bottom: 15px;">
								{{> gameRatingSingle}}
								Publisher: {{gamePublisherName}}<br />
								Released: {{dateFormat}}<br />
								Platform: {{gamePlatform}}<br />
								Genre: {{#each gameGenre}}{{this.Name}}{{/each}}
							</div>
							{{{gameDescription}}}
						</div>
					</div>
					<div class="wrapper-md col-xl-6 col-lg-5 col-md-8 col-sm-8 col-xs-12" style="background-color: #fff;">
						<h2 class="h4 font-bold pull-left padder-t">Comments</h2>
						<div class="clearfix"></div>
						<div class="comment-section">
						    {{> commentsBox id=this.slug customTemplate=""}}
						</div>
					</div>
					<div class="wrapper-md col-xl-4 col-lg-4 hidden-md hidden-sm hidden-xs">
						<div style="width: 336px; height: 280px; background-color: #fff; margin: 15px auto;">
							Ad Banner (336x280) or (160x600)
						</div>
						{{> newsRecent}}
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
	<div>hello this is the single achievements page for {{#with achievement}} this guy: {{this}} {{/with}}</div>
</template>