<template name="achievementTemplate">
	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 ih-item square effect3 top_to_bottom">
		<a href="#linkToAchievementPage">
			<div class="panel b-a">
				<div class="panel-heading no-border bg-success" style="width:80%">
					<span class="pull-right" style="display:block; position: absolute; margin-right: 0; margin-top: 0;"><i class="fa fa-trophy"></i> {{value}}</span>
					<div class="text-lt">{{name}}</div>
				</div>
				<div class="panel-heading no-border bg-success" style="width:20%">
					<span class="text-u-c text-lt">{{gameName}}</span>
				</div>
				<div class="hbox b-b b-light text-sm info">
					<span class="col wrapper padder-v b-r b-light">
						<p>
							{{lockedDescription}} <a href="#linkToAchievementPage">more</a>
						</p>
					</span>
				</div>
				<div class="item m-l-n-xxs m-r-n-xxs img">
					<div class="overlay">
						<span class="game-page-link"><a href="#" class="btn btn-sm btn-success padder-md m-b"><i class="fa fa-share"></i> See Details</a></span>
						<span>
							<img src="{{achievementImage}}" class="{{imageClass}}" />
						</span>
					</div>
				</div>
				<div class="wrapper padder-d text-sm">
					<i class="fa fa-trophy"></i> {{value}} | {{userPercentage}} have this
				</div>
			</div>
		</a>
	</div>
</template>