<template name="achievementTemplate">
	<div class="col-lg-15 col-md-3 col-sm-6 col-xs-12 ih-item square effect3 top_to_bottom">
		<a href="{{pathFor 'achievement'}}">
			<div class="panel b-a">
				<div class="no-border bg-success">
					<span class="pull-right padder-vv-{{achievementClass}}"><i class="fa fa-{{trophyClass}}"></i> {{value}}</span>
					<div class="padder-heading text-lt title-wrap-achievement">
						{{name}}<br />
						<span class="text-u-c text-xxs">{{gameName}}</span>
					</div>
				</div>
				<div class="wrapper padder-d b-b text-sm text-center">
					{{userPercentage}}% have this
				</div>
				<div class="hbox text-sm info info2">
					<span class="col wrapper padder-v">
						<p>
							{{lockedDescription}} <a href="#linkToAchievementPage">more</a>
						</p>
					</span>
				</div>
				<div class="item m-l-n-xxs m-r-n-xxs img img2">
					<div class="overlay {{xenonClass}}">
						<span class="achievement-page-link"><a href="{{pathFor 'achievement'}}" class="btn btn-sm btn-success padder-md m-b"><i class="fa fa-share"></i> See Details</a></span>
						<span>
							<img src="{{achievementImage}}" class="{{imageClass}}" />
						</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</template>