<template name="aboutUs">
  <head>  
    <meta charset="utf-8" />
    <title>XboxDash | Manage your game progress, track achievements, see your rankings and read the latest in Xbox gaming news.</title>
    <meta name="description" content="The #1 Xbox community that offers achievement guides, leaderboards, game reviews, and everything Xbox with your personalized dashboard." />
    <meta name="keywords" content="xbox, xbox achievements, xbox 360, xbox one, xbox games, achievements, xbox leaderboards, xbox news, xbox game reviews" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  </head>
  {{> aboutUsBody}}
</template>

<template name="aboutUsBody">
  {{> headerLandingPage}}
  {{> carousel}}
  {{> homeFeaturesSection}}
  {{> homeFaqs}}
  {{> footerLandingPage}}
</template>

<template name="headerLandingPage">
  <!-- header -->
  <header id="header" class="navbar navbar-fixed-top bg-primary padder-t"  data-spy="affix" data-offset-top="1">
  <div class="container">
    <div class="navbar-header">
      <button class="btn btn-link visible-xs pull-right m-r" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a href="{{pathFor 'home'}}" class="navbar-brand m-r-lg"><img src="img/xboxdash_whiteicon.png" class="m-r-sm hide"><span class="h3 font-bold"><img src="img/xboxdash_white.png" class=""></span></a>
    </div>
    <div class="collapse navbar-collapse">
      {{> navLandingPage}}
    </div>
  </div>
  </header>
  <!-- / header -->
</template>

<template name="navLandingPage">
  <ul class="nav navbar-nav font-bold">
    <li>
      <a href="#what" data-ride="scroll">What is XboxDash</a>
    </li>
    <li>
      <a href="#features" data-ride="scroll">Features</a>
    </li>
    <li>
      <a href="#homeFaqs" data-ride="scroll">FAQs</a>
    </li>
    <li>
      <a href="#contactBox" id="contactBox">Contact Us</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <div class="m-t-sm">
        <a href="" class="btn btn-link btn-sm"><i class="fa fa-lock"></i> Log in</a>
        <a href="{{pathFor 'signUp'}}" class="btn btn-sm btn-default btn-rounded m-l sign-up"><i class="fa fa-lock"></i> <strong>Sign up</strong></a>
      </div>
    </li>
  </ul>
</template>

<template name="carousel">
  <div class="home">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img id="carousel-image" src="img/slide_1a.jpg" alt="...">
          <div class="carousel-caption">
            <h3 class="font-bold l-h-1x m-t-xxl text-white animated fadeInDown">Your Game Progress Matters</h3>
            <p class="text-white l-h-1x m-b-md">Keep Track of Your Activity and Plan Out Your Next Move</p>
            <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-success btn-rounded text-lg font-bold m-b-lg animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
          </div>
        </div>
        <div class="item">
          <img src="img/slide_1a.jpg" alt="...">
          <div class="carousel-caption">
            <h3 class="font-bold l-h-1x m-t-xxl text-white animated fadeInDown">Be Great with Achievements</h3>
            <p class="text-white l-h-1x m-b-md">Find Achievements And Unlock Higher Gamerscores</p>
            <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-success btn-rounded text-lg font-bold m-b-lg animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
          </div>
        </div>
        <div class="item">
          <img src="img/slide_1a.jpg" alt="...">
          <div class="carousel-caption">
            <h3 class="font-bold l-h-1x m-t-xxl text-white animated fadeInDown">See Your Personalized Dashboard</h3>
            <p class="text-white l-h-1x m-b-md">See Your Dashboard and Keep Track of Your Rank</p>
            <a href="#" target="_blank" class="btn b-2x btn-lg b-black btn-success btn-rounded text-lg font-bold m-b-lg animated fadeInUpBig"><i class="fa fa-lock"></i> Sign Up Free</a>
          </div>
        </div>
      </div>

      <div id="what" class="bg-light">
        <div class="container">
          <div class="row text-center nav carousel-nav nav-pills">
            <div class="col-sm-4 to-animate home-what-icons active" data-target="#carousel1" data-slide-to="0">
              <a href="#" class="p-t-xl">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                  <img src="img/xbox12.png" width="50" height="50" />
                </p>
                <div class="m-b-lg">
                  <h4 class="m-t-none">Manage Your Game Progress</h4>
                  <p class="m-t-lg">Keep tabs on your game history and scope out games you want to add to your gamerscore.</p>
                </div>
              </a>
            </div>
            <div class="col-sm-4 to-animate home-what-icons" data-target="#carousel1" data-slide-to="1">
              <a href="#" class="p-t-xl">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                  <i class="fa w-1x fa-trophy fa-2x text-black"></i>
                </p>
                <div class="m-b-lg">
                  <h4 class="m-t-none">Track Achievements</h4>
                  <p class="m-t-lg">Keep track of your achievements and work together with more gamers to unlock them.</p>
                </div>
              </a>
            </div>
            <div class="col-sm-4 to-animate home-what-icons" data-target="#carousel1" data-slide-to="2">
              <a href="#" class="p-t-xl">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                  <i class="fa w-1x fa-area-chart fa-2x text-black"></i>
                </p>
                <div class="m-b-lg">
                  <h4 class="m-t-none">Personalized Dashboard</h4>
                  <p class="m-t-lg">Your dashboard is the key to tracking your gamerscore and your rank against the XboxDash community.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="homeFeaturesSection">
  <div id="features" class="bg-white-only">
    <div class="container">
      <div class="row m-t-xl m-b-md">
        <h2 class="text-center">Features</h2>
      </div>
      <div class="row m-t-md">
        <div class="col-sm-6 to-animate" id="dash-image">
          <div class="m-t-xxl text-center">
            <img src="img/iphone6-dashboard.png" width="400" />
          </div>
        </div>
        <div class="col-sm-6 wrapper-xl to-animate dashboard-features">
          <h3 class="text-dark font-bold m-b-lg">The Dashboard</h3>
          <ul class="list-unstyled  m-t-xl">
            <li data-ride="animated" data-animation="fadeInUp" data-delay="600">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg"><strong>Real-Time</strong> See your statistics and game progress with real-time data.</p>
            </li>
            <li data-ride="animated" data-animation="fadeInUp" data-delay="900">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg"><strong>Gamerscore</strong>, Angulr using Grunt to automate development tasks, like compiling less to css, concatenating and minifying js files...</p>
            </li>
            <li data-ride="animated" data-animation="fadeInUp" data-delay="1100">
              <i class="icon-check pull-left text-lg m-r m-t-sm"></i>
              <p class="clear m-b-lg notify"><strong>Bower Package</strong>, fetching and installing packages from all over, finding, downloading, and saving the stuff you’re looking for.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="homeFaqs">
  <div id="homeFaqs" class="bg-light">
    <div class="container">
      <div class="row m-t-xl m-b-md">
        <h2 class="text-center">Frequently Asked Questions</h2>
      </div>
      <div class="row m-t-md wrapper-md">
        <div class="col-sm-6 to-animate faqs-1">
          <h4 class="text-dark font-bold m-b-lg"><i class="icon-question pull-left text-lg m-r"></i> How does XboxDash make achievement tracking easier?</h4>
          <p class="clear">XboxDash helps make achievement tracking easier by helping gamers easily search for the achievement they're looking for and with the help of other gamers in the community who submit possible solutions.</p>
        </div>
        <div class="col-sm-6 to-animate faqs-2">
          <h4 class="text-dark font-bold m-b-lg"><i class="icon-question pull-left text-lg m-r"></i> Can this help me on achievements I'm struggling with?</h4>
          <p class="clear">Yes, with the help of the community's user-submitted solutions, you can work together to unlock the achievements you've been having a hard time with.</p>
        </div>
      </div>
      <div class="row m-b-md wrapper-md">
        <div class="col-sm-6 to-animate faqs-1">
          <h4 class="text-dark font-bold m-b-lg"><i class="icon-question pull-left text-lg m-r"></i> Can I win anything by being towards the top of the daily/overall score?</h4>
          <p class="clear">Currently, you win recognition and badges for being at the top of the leaderboards. In the future, we will have partnerships that will make it more enjoyable to get more achievements.</p>
        </div>
        <div class="col-sm-6 to-animate faqs-2">
          <h4 class="text-dark font-bold m-b-lg"><i class="icon-question pull-left text-lg m-r"></i> Will this help me find new games to play?</h4>
          <p class="clear">XboxDash includes an easy-search system that helps gamers find particular games. Each game's page includes feedback area from gamers who have the game and this will help you decide </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="footerLandingPage">
  <!-- footer -->
  <footer id="footer">
    <div id="getReady" class="bg-primary">
      <div class="container">
        <div class="row m-t-xl m-b-xl">
          <div class="col-md-6 col-sm-12 text-center">
            <h4 class="m-b">XBOXDASH is your personal gaming dashboard.</h4>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <a href="http://themeforest.net/item/angulr-bootstrap-admin-web-app-with-angularjs/8437259" class="btn btn-lg btn-default btn-rounded">Get Dashboard Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary dk">
      <div class="container">
        <div class="row padder-v">
          <div class="col-lg-5 col-md-5 visible-md visible-lg m-t-sm">
            <ul class="list-inline">
              <li><a href="#what" data-ride="scroll">What is XboxDash</a></li>
              <li><a href="#features" data-ride="scroll">Features</a></li>
              <li><a href="#faqs" data-ride="scroll">FAQs</a></li>
              <li><a href="#contactBox" id="contactBox">Contact Us</a></li>
            </ul> 
          </div>
          <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 m-t-xs">
            XboxDash &copy; 2015. All Rights Reserved.
          </div>
          <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 text-right-xs text-right">
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>