
<template name="logIn">
  {{> headerLogInPage}}
  {{> logInForm}}
  {{> staticFooter}}
</template>

<template name="logInForm">
  <div id="signup" class="signup">
    <div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md">
        <form name="form" class="validate" id="loginform">
          <h2 class="text-dark text-center">Sign In</h2>
          <p class="text-center">Sign in to view your dashboard</p>
          <div class="list-group">
            <div class="form-group">
              <input type="email" placeholder="Email" id="email" name="email" class="form-control" data-onblur data-email data-required>
              <span for='email' class='err-msg'></span>
            </div>
            <div class="form-group">
               <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-onblur data-min="6" data-required data-msg="Password must be at least 6 characters.">
              <span for='password' class='err-msg'></span>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
          <div class="text-center m-t m-b"><a href>Forgot password?</a></div>
          <div class="line line-dashed"></div>
          <ul class="list-inline social-logins">
            <li><a href="#" class="btn btn-lg btn-block btn-facebook">Facebook</a></li>
            <li><a href="#" class="btn btn-lg btn-block btn-twitter">Twitter</a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</template>