<template name="privacyPolicyHeader">
  <head>  
    <meta charset="utf-8" />
    <title>Privacy Policy | XboxDash</title>
    <meta name="description" content="When this Privacy Policy applies. Compliance and cooperation with regulatory authorities." />
    <meta name="keywords" content="privacy policy, xbox, xbox achievements, xbox 360, xbox one, xbox games, achievements, xbox leaderboards, xbox news, xbox game reviews" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  </head>
</template>

<template name="privacyPolicy">
  {{> privacyHeader}}
  {{> privacyContent}}
  {{> staticFooter}}
</template>

<template name="privacyContent">
  <div class="signup">
    <div class="container well">
      <div class="m-b-md">
        <h1 class="text-dark text-center">Terms of Use</h1>
        <p>Content</p>
      </div>
    </div>
  </div>
</template>