<template name="contestAdsMedium">
	<div class="xbd-top-banner-ad" style="display: block;">
		<a href="/contests">
			<img src="/img/ads/xbdash-ads-300x250.jpg" class="top300" />
		</a>
	</div>
</template>

<template name="contestAdsResponsiveRight">
	<div id="banner-affix" class="xbd-right-sidebar-ad" style="display: block;">
		<a href="/contests">
			<img src="/img/ads/xbdash-ads-300x600.jpg" class="right300600" />
			<img src="/img/ads/xbdash-ads-160x600.jpg" class="right160600" />
			<img src="/img/ads/xbdash-ads-300x250.jpg" class="right300250" />
		</a>
	</div>
</template>

<template name="contestAdsResponsiveLeft">
	<div class="xbd-left-sidebar-ad" style="display: block;">
		<a href="/contests">
			<img src="/img/ads/xbdash-ads-300x250.jpg" class="left300250" />
			<img src="/img/ads/xbdash-ads-250x250.jpg" class="left250250" />
		</a>
	</div>
</template>

<template name="googlePageLevelAds">
	<div id="gads-page-level" style="display: block; height: 0;">
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-2098590497386911",
				enable_page_level_ads: true
			});
		</script>
	</div>
</template>

<template name="googleAdsResponsiveTop">
	<div id="gads-responsive-top">
		<ins class="adsbygoogle xbd-top-google-banner"
			style="display:block;"
			data-ad-client="ca-pub-2098590497386911"
			data-ad-slot="4353181072"
			data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</template>

<template name="googleAdsResponsiveRight">
	<div id="gads-responsive-right">
		<div>
			<ins class="adsbygoogle xbd-right-google-banner"
				style="display:block;width:300px;height:250px;"
				data-ad-client="ca-pub-2098590497386911"
				data-ad-slot="1399714670"
				data-ad-format="rectangle"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		{{> mostSharedNewsSidebar limit=3}}
	</div>
</template>

<template name="googleAdsResponsiveLeft">
	<div id="gads-responsive-left">
		<ins class="adsbygoogle xbd-left-google-banner"
			style="display:block;"
			data-ad-client="ca-pub-2098590497386911"
			data-ad-slot="2876447873"
			data-ad-format="rectangle"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</template>