<template name="googleAdsMedium">
	<div class="xbd-top-banner-ad" style="text-align: center; min-width: 250px; min-height: 250px;"></div>
		<!-- <iframe src="/ads/top-banner.html?v={{unique}}" seamless scrolling="no" frameborder="0" marginheight="0" marginwidth="0" style="min-width: 300px; min-height: 250px;"></iframe> -->
</template>

<!-- <template name="googleAdsMedium">
	<div class="xbd-top-banner-ad">
		<a href="https://www.xbdash.com/contests">
			<img src="/img/ads/xbdash-ads-300x250.jpg" class="top300" />
		</a>
	</div>
</template> -->

<template name="googleAdsMediumLeft">
	<div class="xbd-left-sidebar-ad">
		<a href="https://www.xbdash.com/contests">
			<img src="https://www.xbdash.com/img/ads/xbdash-ads-300x250.jpg" class="left300250" />
			<img src="https://www.xbdash.com/img/ads/xbdash-ads-250x250.jpg" class="left250250" />
		</a>
	</div>
</template>
 
<template name="googleAdsResponsiveRight">
	<div class="xbd-right-banner-ad" style="text-align: center; min-width: 250px; min-height: 250px;"></div>
		<!-- <iframe src="/ads/right-banner.html?v={{unique}}" seamless scrolling="no" frameborder="0" marginheight="0" marginwidth="0" style="min-width: 300px; min-height: 250px;"></iframe> -->
</template>

<!-- <template name="googleAdsResponsiveRight">
	<div class="xbd-right-banner-ad">
		<a href="https://www.xbdash.com/contests">
			<img src="/img/ads/xbdash-ads-300x600.jpg" class="right300600" />
			<img src="/img/ads/xbdash-ads-160x600.jpg" class="right160600" />
			<img src="/img/ads/xbdash-ads-300x250.jpg" class="right300250" />
		</a>
	</div>
</template> -->