<template name="newsSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<!-- main -->
				<div class="col">
					{{#with article}}
					<!-- main header -->
					<div class="bg-light lter b-b wrapper-md">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h1 class="font-thin h3 text-black m-b-xs">{{title}}</h1>
								<div class="text-muted">
									<i class="fa fa-user text-muted"></i> by <span class="m-r-sm">{{author}}</span>
									<i class="fa fa-clock-o text-muted"></i> {{published}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md visible-xl-block col-xl-2 hidden-lg hidden-md hidden-sm hidden-xs trending-column">
						{{> mostSharedNews limit=8}}
					</div>
					<div class="wrapper-md col-xl-6 col-lg-7 col-md-8 col-sm-12 col-xs-12">
						<div class="xbd-top-banner-ad">
							Google Ad Banner
						</div>
						<div class="blog-post news">
							{{{content}}}
							<div class="text-center m-t-lg m-b-lg">
								{{> shareit shareData}}
							</div>
							<div class="comment-section">
							    {{> commentsBox id=this._id customTemplate="newsCommentBox"}}
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-5 col-md-4 col-sm-12 col-xs-12">
						<div class="xbd-right-banner-ad">
							Google Ad Banner
						</div>
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>