<template name="newsPage">
	{{> newsApp}}
</template>

<template name="newsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Latest News</h1>
                <small class="text-muted">Read the latest in Xbox achievements, search solutions</small>
              </div>
              {{#if currentUser}}
              <div class="col-sm-6 text-right hidden-xs">
                {{> rankArea}}
              </div>
              {{/if}}
            </div>
          </div>
          <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div class="blog-post">
                {{#if Template.subscriptionsReady}}
                  {{#each latestNews}}
                    {{> newsTemplate}}
                  {{/each}}
                {{else}}
                  {{> loadingTemplate}}
                {{/if}}
                </div>
                <div class="text-center m-t-lg m-b-lg">
                  pagination here
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                {{> newsCategories}}
                {{> newsRecent}}
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>