<template name="newsSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
					{{#with article}}
					<div class="bg-light lter b-b wrapper-md">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h1 class="font-thin h3 text-black m-b-xs">{{title}}</h1>
								<div class="text-muted">
									<i class="fa fa-user text-muted"></i> by <span class="m-r-sm">{{author}} {{#if sourceExists}}{{sourceName}}{{/if}}</span>
									<i class="fa fa-clock-o text-muted"></i> {{updated}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md visible-xl-block col-xl-2 hidden-lg hidden-md hidden-sm hidden-xs trending-column">
						<h2 class="m-b-sm font-thin h3 text-black">Trending</h2>
						{{> mostSharedNews limit=7}}
					</div>
					<div class="wrapper-md col-xl-6 col-lg-7 col-md-8 col-sm-12 col-xs-12">
						<div class="xbd-top-banner-ad"></div>
						<div class="blog-post news">
							{{{content}}}
							<div class="m-t-md m-b-md share-bar">
								<h4>Share This Article</h4>
								{{> shareit newsData}}
							</div>
							<div class="comment-section">
								{{> commentsBox id=this._id boxTemplate="newsCommentBox"}}
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-5 col-md-4 col-sm-12 col-xs-12">
						<div class="xbd-right-banner-ad"></div>
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>