<template name="newsPage">
	<div class="app app-header-fixed news">
	  {{> dashboardHeader}}
	  {{> dashboardAside}}
	  {{> newsApp}}
	  {{> dashboardFooter}}
	 </div>
</template>

<template name="newsApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Latest News</h1>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">1</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">521</div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div class="blog-post">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel b-a">
                      <a href="#">
                        <div class="item m-l-n-xxs m-r-n-xxs post-image-box">
                          <img src="http://placehold.it/400x300" class="img-full">
                        </div>
                        <div class="panel-heading no-border bg-success post-title-box">
                          <h3 class="text-lt h4 m-b-sm">Title</h3>
                          <div class="text-lt h5 m-b-sm text-primary-lter">by Keith Guirao</div>
                        </div>
                        <div class="hbox b-b b-light text-sm">
                          <span class="col padder padder-v b-light">
                            <p class="post-p-box">Text text text text text text text text text text text text text text text text text text text text text text text text text ... <strong>read more</strong></p>
                          </span>
                        </div>
                      </a>
                      <div style="padding:5px;text-align: right;">
                        <a href class="m-l-sm">May 12, 2015</a>
                        <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 5 comments</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center m-t-lg m-b-lg">
                  pagination here
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="font-bold">Categories</h5>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href>
                      <span class="badge pull-right">15</span>
                      Photograph
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href>
                      <span class="badge pull-right">30</span>
                      Life style
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href>
                      <span class="badge pull-right">9</span>
                      Food
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href>
                      <span class="badge pull-right">4</span>
                      Travel world
                    </a>
                  </li>
                </ul>
                <div class="tags m-b-lg l-h-2x">
                  <a href class="label bg-primary">Bootstrap</a> <a href class="label bg-primary">Application</a> <a href class="label bg-primary">Apple</a> <a href class="label bg-primary">Less</a> <a href class="label bg-primary">Theme</a> <a href class="label bg-primary">Wordpress</a>
                </div>
                <h5 class="font-bold">Recent Posts</h5>
                <div>
                  <div class="media">
                    <a class="pull-left thumb thumb-wrapper m-t-xs">
                      <img src="img/b0.jpg">
                    </a>
                    <div class="media-body">                        
                      <a href class="font-semibold">Bootstrap 3: What you need to know</a>
                      <div class="text-xs block m-t-xs"><a href>Travel</a> 2 minutes ago</div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="media m-t-none">
                    <a class="pull-left thumb thumb-wrapper m-t-xs">
                      <img src="img/b1.jpg">
                    </a>
                    <div class="media-body">                        
                      <a href class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                      <div class="text-xs block m-t-xs"><a href>Design</a> 2 hours ago</div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="media m-t-none">
                    <a class="pull-left thumb thumb-wrapper m-t-xs">
                      <img src="img/b2.jpg">
                    </a>
                    <div class="media-body">                        
                      <a href class="font-semibold">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>
                      <div class="text-xs block m-t-xs"><a href>MFC</a> 1 week ago</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>