<template name="userProfilePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{> userDocHead}}
						{{> userProfileArea}}
					{{/with}}
				{{else}}
					{{> loadingTemplate}}
				{{/if}}
					<div class="bg-white b-b">
						<div class="nav-tabs-alt" >
							<ul class="nav nav-tabs" role="tablist">
								<li class="active">
									<a data-target="#tab-activity" role="tab" data-toggle="tab">Recent Activity</a>
								</li>
								<li>
									<a data-target="#tab-personals" role="tab" data-toggle="tab">Personals</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab-activity">
							<div class="padder">
								<div class="row m-t-md">
									<div class="col-md-4">
										{{#if Template.subscriptionsReady}}
											{{#with user}}
												{{> userActivity}}
											{{/with}}
										{{else}}
											{{> loadingTemplate}}
										{{/if}}
									</div>
									<div class="col-md-4">
					                    {{#if Template.subscriptionsReady}}
											{{#with user}}
												{{> userAchievements}}
											{{/with}}
										{{else}}
											{{> loadingTemplate}}
										{{/if}}
									</div>
									<div class="col-md-4">
										{{#if Template.subscriptionsReady}}
											{{#with user}}
												{{> userGames}}
											{{/with}}
										{{else}}
											{{> loadingTemplate}}
										{{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-12">
									{{#if Template.subscriptionsReady}}
										{{#with user}}
											{{> userClips}}
										{{/with}}
									{{else}}
										{{> loadingTemplate}}
									{{/if}}
									</div>
									<div class="col-md-6 col-sm-12">
									{{#if Template.subscriptionsReady}}
										{{#with user}}
											{{> userCaptures}}
										{{/with}}
									{{else}}
										{{> loadingTemplate}}
									{{/if}}
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane tab-personals" id="tab-personals">
							<div class="padder container-fluid">
								{{#if Template.subscriptionsReady}}
									{{#with user}}
										{{> userBadges }}
									{{/with}}
								{{else}}
									{{> loadingTemplate}}
								{{/if}}
								<div class="row">
									<div class="col-md-6 wrapper">
									{{#if Template.subscriptionsReady}}
										{{#with user}}
											{{> userWishlist}}
										{{/with}}
									{{else}}
										{{> loadingTemplate}}
									{{/if}}
									</div>
									<div class="col-md-6 wrapper">
									{{#if Template.subscriptionsReady}}
										{{#with user}}
											{{> userTrophyCase}}
										{{/with}}
									{{else}}
										{{> loadingTemplate}}
									{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col w-lg bg-white lter b-l bg-auto no-border-xs">
					<div class="nav-tabs-alt" >
						<ul class="nav nav-tabs" role="tablist">
							<li class="active">
								<a data-target="#tab-1" role="tab" data-toggle="tab"><i class="fa fa-bullhorn text-md text-muted wrapper-sm"></i></a>
							</li>
							<li>
								<a data-target="#tab-2" role="tab" data-toggle="tab"><i class="fa fa-twitter text-md text-muted wrapper-sm"></i></a>
							</li>
							<li>
								<a data-target="#tab-3" role="tab" data-toggle="tab"><i class="fa fa-twitch text-md text-muted wrapper-sm"></i></a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab-1">
							<div class="wrapper-md">
							{{#if Template.subscriptionsReady}}
								{{> xbdAnnouncements}}
							{{else}}
								{{> loadingTemplate}}
							{{/if}}
							</div>
						</div>
						<div role="tabpanel" class="tab-pane tab-2" id="tab-2">
							<div class="wrapper-md b-a">
							{{#if Template.subscriptionsReady}}
								{{#if chkUserTwitter}}
									{{#with user}}
										{{> xbdTweets screenName=this.services.twitter.screenName}}
									{{/with}}
								{{else}}
									{{> xbdTweets screenName=xboxdash}}
								{{/if}}
							{{else}}
								{{> loadingTemplate}}
							{{/if}}
							</div>
						</div>
						<div role="tabpanel" class="tab-pane tab-3" id="tab-3">
							<div class="wrapper-md">
							{{#if Template.subscriptionsReady}}
								{{#if chkUserTwitter}}
									{{#with user}}
										{{> xbdBroadcasts screenName=this.services.twitch.screenName}}
									{{/with}}
								{{else}}
									{{> xbdBroadcasts screenName=xboxdash}}
								{{/if}}
							{{else}}
								{{> loadingTemplate}}
							{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="userDocHead"></template>

<template name="userProfileArea">
	<div style="background:url('/img/user-bg.png') center center; background-repeat: repeat;">
		<div class="wrapper-lg bg-white-opacity">
			<div class="row m-t">
				<div class="col-sm-7">
					<a href class="thumb-lg pull-left m-r">
						<img src="{{userGamerPic}}" class="img-circle">
					</a>
					<div class="clear m-b">
						<div class="m-b m-t-sm">
							<span class="h3 text-black">{{userGamertag}}</span>
							<small class="m-l">{{userMotto}}</small>
						</div>
						<p class="m-b">
							<span class="h4 text-black">{{getGamerscore}}</span>
							<!-- <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a> -->
						</p>
						<!-- <a href class="btn btn-sm btn-success btn-rounded">Follow</a> -->
					</div>
				</div>
				<!-- <div class="col-sm-5">
					<div class="pull-right pull-none-xs text-center">
						<a href class="m-b-md inline m">
							<span class="h3 block font-bold">2k</span>
							<small>Followers</small>
						</a>
						<a href class="m-b-md inline m">
							<span class="h3 block font-bold">250</span>
							<small>Following</small>
						</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>

<template name="userActivity">
	<div class="panel panel-success">
		<div class="panel-heading">
			Latest Xbox Activity
		</div>
		<div class="streamline b-l b-info m-l-lg m-b padder-v">
		{{#if Template.subscriptionsReady}}
			{{#each activity}}
			<div>
				<div class="m-l-sm">
					<div class="m-b-xs">
						<a href class="h4">{{shortDescription}}</a>
						<span class="text-muted m-l-sm pull-right m-r-sm">
						{{getStartTime}}
						</span>
					</div>
					<div class="m-b">
						<div>{{gamertag}} {{description}}</div>
						<hr />
					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			{{> loadingTemplate}}
		{{/if}}
		</div>
	</div>
</template>

<!-- <template name="activityImage">
	{{#if Template.subscriptionsReady}}
		{{#with getActivityImage}}
			<a class="pull-left thumb-sm avatar m-l-n-md">
				<img src="{{gameImage}}" class="img-circle" alt="">
			</a>
		{{/with}}
	{{else}}
		{{> loadingTemplate}}
	{{/if}}
</template> -->

<template name="userAchievements">
	<div class="panel panel-success">
		<div class="panel-heading">
			Latest Achievements
		</div>
		<div class="streamline b-l b-info m-l-lg m-b padder-v">
		{{#if Template.subscriptionsReady}}
			{{#each achievement}}
			<div>
				<a class="pull-left thumb-sm avatar m-l-n-md" href="{{pathFor 'achievement'}}">
					<img src="{{getAchievementImage}}" class="img-circle" alt="{{getAchievementName}}">
				</a>
				<div class="m-l-lg">
					<div class="m-b-xs">
						<a href="{{pathFor 'achievement'}}" class="h5 font-bold">{{getAchievementName}}</a>
						<span class="text-muted m-l-sm pull-right m-r-sm">
							{{getUnlockedDate}}
						</span>
					</div>
					<div class="m-b m-r">
						<div>{{getUserGamertag}} earned a new achievement in {{getGameName}} for {{getAchievementValue}} Gamerscore.</div>
					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			{{> loadingTemplate}}
		{{/if}}
		</div>
	</div>
</template>

<template name="userGames">
	<div class="panel panel-success">
		<div class="panel-heading">
			Latest Game Completions
		</div>
		<div class="streamline b-l b-info m-l-lg m-b padder-v">
			{{#if Template.subscriptionsReady}}
				{{#each activity}}
				<div>
					<a class="pull-left thumb-sm avatar m-l-n-md">
					<img src="{{getActivityImage}}" class="img-circle" alt="{{itemText}}">
					</a>
					<div class="m-l-lg">
					<div class="m-b-xs">
						<a href class="h4">{{shortDescription}}</a>
						<span class="text-muted m-l-sm pull-right m-r-sm">
						{{getStartTime}}
						</span>
					</div>
					<div class="m-b">
						<div>{{gamertag}} {{description}}</div>
						<div class="m-t-sm">
							<a href class="text-muted m-xs"><i class="icon-action-redo"></i></a>
							<a href class="text-muted m-xs"><i class="icon-star"></i></a>
							<a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
						</div>
					</div>
					</div>
				</div>
				{{/each}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
		</div>
	</div>
</template>

<template name="userClips">
	<div class="panel panel-success">
		<div class="panel-heading">
			Latest Clips
		</div>
		<div class="container-fluid">
			<h1>Bootstrap 3 Lightbox using Modal</h1>
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="600x350"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="600x350/2255EE"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="600x350/992233"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="600x350"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="600x350/2255EE"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
			</div>
		</div>
		<div class="modal" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal">×</button>
						<h3 class="modal-title"></h3>
					</div>
					<div class="modal-body">
						<div id="modalCarousel" class="carousel">
							<div class="carousel-inner"></div>
							<a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
							<a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="userCaptures">
	<div class="panel panel-success">
		<div class="panel-heading">
			Latest Captures
		</div>
		<div class="container-fluid">
			<h1>Bootstrap 3 Lightbox using Modal</h1>
			<div class="row">
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="600x350"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="600x350/2255EE"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="600x350/992233"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="600x350"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 2" href="#"><img class="thumbnail img-responsive" src="600x350/2255EE"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 3" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
				<div class="col-lg-3 col-sm-6 col-xs-6"><a title="Image 4" href="#"><img class="thumbnail img-responsive" src="600x350/449955/FFF"></a></div>
			</div>
		</div>
		<div class="modal" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal">×</button>
						<h3 class="modal-title"></h3>
					</div>
					<div class="modal-body">
						<div id="modalCarousel" class="carousel">
							<div class="carousel-inner"></div>
							<a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
							<a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="userBadges">
	<div class="panel panel-black" style="margin-bottom: 0;">
		<div class="panel-heading text-center">
			<h3 class="m-n padder-t text-white h4">{{user}}'s Badges</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">text</div>
		<div class="col-md-1 wrapper-sm">See More</div>
	</div>
</template>

<template name="userWishlist">
	<div class="panel panel-info">
		<div class="panel-heading">
			{{gamercard.gamertag}}'s Wishlist
		</div>
		<div class="list-group bg-white">
			<a href class="list-group-item">
				<i class="fa fa-fw fa-envelope"></i> Inbox
			</a>
			<a href class="list-group-item">
				<i class="fa fa-fw fa-eye"></i> Profile visits
			</a>
			<a href class="list-group-item">
				<i class="fa fa-fw fa-phone"></i> Call
			</a>
			<a href class="list-group-item">
				<i class="fa fa-fw fa-comments-o"></i> Messages
			</a>
			<a href class="list-group-item">
				<i class="fa fa-fw fa-bookmark"></i> Bookmarks
			</a>
			<a href class="list-group-item">
				<i class="fa fa-fw fa-bell"></i> Notifications
			</a>
		</div>
	</div>
</template>

<template name="userTrophyCase">
	<div class="panel panel-success">
		<div class="panel-heading">
			{{gamercard.gamertag}}'s Trophy Case
		</div>
		<ul class="list-group alt">
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a1.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-success m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href>Chris Fox</a></div>
						<small class="text-muted">about 2 minutes ago</small>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a2.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-muted m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href>Amanda Conlan</a></div>
						<small class="text-muted">about 2 hours ago</small>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a3.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-warning m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href>Dan Doorack</a></div>
						<small class="text-muted">3 days ago</small>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a4.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-danger m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href>Lauren Taylor</a></div>
						<small class="text-muted">about 2 minutes ago</small>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<template name="xbdAnnouncements">
	<div class="m-b-sm text-md">Announcements</div>
	<div class="m-b-sm">
		{{#each singleAnnouncement}}
		<article class="media">
			<div class="pull-left">
				<span class="fa-stack fa-lg">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
			</div>
			<div class="media-body">                        
				<a href class="h4">{{getAnnouncementTitle}}</a>
				<small class="block m-t-xs">{{getAnnouncementText}}</small>
				<em class="text-xs">Posted on <span class="text-danger">{{getDate}}</span></em>
			</div>
		</article>
		<div class="line pull-in"></div>
		{{/each}}
	</div>
	<div class="m-t-md text-center">
		<a href class="btn btn-sm btn-primary padder-md m-b">More Announcements</a>
	</div>
</template>

<template name="xbdTweets">
	<div class="m-b-sm text-md">Latest Tweets - <a href="https://twitter.com/{{getTwitterScreenName}}" class="text-success" target="_blank">{{result.user}}</a></div>
	{{getTweets}}
	<ul class="list-group">
		{{#each singleTweet}}
		<li class="list-group-item">
			<p>{{result.text}}</p>
			<small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> {{result.user.created_at}}</small>
		</li>
		{{/each}}
	</ul>
	<div class="m-t-md text-center">
		<a href="https://twitter.com/{{getTwitterScreenName}}" class="btn btn-sm btn-primary padder-md m-b">More Tweets</a>
	</div>
</template>

<template name="xbdBroadcasts">
	<div class="m-b-sm text-md">Latest Broadcasts - <a href="https://twitter.com/{{twitchName}}" class="text-success" target="_blank">{{twitchName}}</a></div>
	{{#each singleBroadcast}}
	<div class="item m-l-n-xxs m-r-n-xxs m-b-md">
		<a href="XXX">
			<div class="center text-center w-full" style="margin-top:-60px">
			</div>
			<div class="bottom wrapper bg-gd-dk text-white">            
				<div>Restaurant</div>
				<div>9:00 am - 12:00 pm</div>
				<div class="text-primary">Watch Now</div>
			</div>
			<img src="/img/c0.jpg" class="img-full">
		</a>
	</div>
	{{/each}}
	<div class="text-center">
		<a href="https://www.twitch.tv/{{twitchName}}" class="btn btn-sm btn-primary padder-md m-b">More Videos</a>
	</div>
</template>