<template name="userPersonal">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="panel panel-black m-t-md m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Specialty Badges
					{{/with}}
				{{else}}
					Specialty Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> specialtyBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}	
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="panel panel-black m-t-md m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Game Completion Badges
					{{/with}}
				{{else}}
					Game Completion Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> gameCompletionBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}	
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Gamerscore Badges
					{{/with}}
				{{else}}
					Gamerscore Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> gamerscoreBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Wishlist
					{{/with}}
				{{else}}
					Wishlist
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					<div class="col">
						<ul class="list-group alt m-b-none">
						{{> userWishlist}}
						</ul>
					</div>
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								Wishlist is empty.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Trophy Case
					{{/with}}
				{{else}}
					Trophy Case
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					<div class="col">
						<ul class="list-group alt m-b-none">
						{{> userTrophyCase}}
						</ul>
					</div>
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								Trophy case is empty.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="userWishlist">
	{{#each wishes}}
	<li class="list-group-item wishlist-li">
		{{#if isGame}}
			<div class="media">
				<span class="pull-left thumb-sm"><img src="{{gameImage}}" alt="{{gameName}}" /></span>
				<div class="pull-right btn btn-icon btn-sm">
					{{#if currentUserEntry}}
						<i class="fa fa-times-circle text-danger remove-from-trophy-case"></i>
					{{/if}}
				</div>
				<div class="media-body">
					<div class="font-bold name-truncate">{{gameName}}</div> 
					<div>Game</div>
				</div>
			</div>
		{{else}}
			<div class="media">
				<span class="pull-left thumb-sm" style="background: url({{achievementImage}}) no-repeat scroll center center / cover;"></span>
				<div class="pull-right btn btn-icon btn-sm">
					{{#if currentUserEntry}}
						<i class="fa fa-times-circle text-danger remove-from-wishlist"></i>
					{{/if}}
				</div>
				<div class="media-body">
					<div class="font-bold name-truncate">{{achievementName}}</div>
					<div>Achievement</div>
				</div>
			</div>
		{{/if}}
	</li>
	{{/each}}
</template>

<template name="userTrophyCase">
	{{#each trophies}}
	<li class="list-group-item trophy-case-li">
		{{#if isGame}}
			<div class="media">
				<span class="pull-left thumb-sm"><img src="{{gameImage}}" alt="{{gameName}}" /></span>
				<div class="pull-right btn btn-icon btn-sm">
					{{#if currentUserEntry}}
						<i class="fa fa-times-circle text-danger remove-from-trophy-case"></i>
					{{/if}}
				</div>
				<div class="media-body">
					<div class="font-bold name-truncate">{{gameName}}</div> 
					<div>Game</div>
				</div>
			</div>
		{{else}}
			<div class="media">
				<span class="pull-left thumb-sm" style="background: url({{achievementImage}}) no-repeat scroll center center / cover;"></span>
				<div class="pull-right btn btn-icon btn-sm">
					{{#if currentUserEntry}}
						<i class="fa fa-times-circle text-danger remove-from-trophy-case"></i>
					{{/if}}
				</div>
				<div class="media-body">
					<div class="font-bold name-truncate">{{achievementName}}</div>
					<div>Achievement</div>
				</div>
			</div>
		{{/if}}
	</li>
	{{/each}}
</template>