<template name="userBadges">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="panel panel-black m-t-md m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Specialty Badges
					{{/with}}
				{{else}}
					Specialty Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> specialtyBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}	
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="panel panel-black m-t-md m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Game Completion Badges
					{{/with}}
				{{else}}
					Game Completion Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> gameCompletionBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}	
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Gamerscore Badges
					{{/with}}
				{{else}}
					Gamerscore Badges
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with badge}}
						{{> gamerscoreBadges}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								No badges available.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Wishlist
					{{/with}}
				{{else}}
					Wishlist
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with wishes}}
						{{> userWishlist}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								Wishlist is empty.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-black m-b-none">
				<div class="panel-heading bg-black text-white">
				{{#if Template.subscriptionsReady}}
					{{#with user}}
						{{gamercard.gamertag}}'s Wishlist
					{{/with}}
				{{else}}
					Wishlist
				{{/if}}
				</div>
			</div>
			<div class="panel hbox hbox-auto-xs no-border">
			{{#if Template.subscriptionsReady}}
				{{#if user}}
					{{#with user}}{{#with trophies}}
						{{> userTrophyCase}}
					{{/with}}{{/with}}
				{{else}}
					<div class="container-fluid captures-container m-b-md">
						<div class="row">
							<div class="col-md-12 m-t-md font-bold">
								Trophy case is empty.
							</div>
						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loadingTemplate}}
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="specialtyBadges">
	<div class="specialty-badges">
		<div class="wrapper-md">
			{{#if solutionExpert}}
				<img src="/img/badges/specialty/solutions_expert.png" alt="You have contributed to more than a 100 achievement solutions." title="You have contributed to more than a 100 achievement solutions." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/solutions_expert.png" alt="You have contributed to more than a 100 achievement solutions." title="You have contributed to more than a 100 achievement solutions." class="img-responsive" />
			{{/if}}
		</div>
		<div class="wrapper-md">
			{{#if eagleScout}}
				<img src="/img/badges/specialty/eagle_scout.png" alt="You have unlocked all available badges." title="You have unlocked all available badges." class="last-image img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/eagle_scout.png" alt="You have unlocked all available badges." title="You have unlocked all available badges." class="last-image img-responsive" />
			{{/if}}
		</div>
	</div>
</template>

<template name="gameCompletionBadges">
	<div class="game-badges">
		<div class="col-md-3 wrapper-md">
			{{#if oneGame}}
				<img src="/img/badges/games/1_game.png" alt="You have completed 1 game." title="You have completed 1 game." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/1_game.png" alt="You have completed 1 game." title="You have completed 1 game." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-3 wrapper-md">
			{{#if tenGame}}
				<img src="/img/badges/games/10_games.png" alt="You have completed 10 games." title="You have completed 10 games." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/10_games.png" alt="You have completed 10 games." title="You have completed 10 games." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-3 wrapper-md">
			{{#if oneHundredGame}}
				<img src="/img/badges/games/100_games.png" alt="You have completed 100 games." title="You have completed 100 games." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/100_games.png" alt="You have completed 100 games." title="You have completed 100 games." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-3 wrapper-md">
			{{#if fiveHundredGame}}
				<img src="/img/badges/games/500_games.png" alt="You have completed 500 games." title="You have completed 500 games." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/500_games.png" alt="You have completed 500 games." title="You have completed 500 games." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-3 wrapper-md">
			{{#if oneThousandGame}}
				<img src="/img/badges/games/1000_games.png" alt="You have completed 1000 games." title="You have completed 1000 games." class="last-image img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/1000_games.png" alt="You have completed 1000 games." title="You have completed 1000 games." class="last-image img-responsive" />
			{{/if}}
		</div>
	</div>
</template>

<template name="gamerscoreBadges">
	<div class="gamerscore-badges">
		<div class="col-md-2 wrapper-md">
			{{#if fiveGS}}
				<img src="/img/badges/gamerscore/5k_gamerscore.png" alt="You have reached 5,000 gamerscore." title="You have reached 5,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/5k_gamerscore.png" alt="You have reached 5,000 gamerscore." title="You have reached 5,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if tenGS}}
				<img src="/img/badges/gamerscore/10k_gamerscore.png" alt="You have reached 10,000 gamerscore." title="You have reached 10,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/10k_gamerscore.png" alt="You have reached 10,000 gamerscore." title="You have reached 10,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if twentyGS}}
				<img src="/img/badges/gamerscore/20k_gamerscore.png" alt="You have reached 20,000 gamerscore." title="You have reached 20,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/20k_gamerscore.png" alt="You have reached 20,000 gamerscore." title="You have reached 20,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if fiftyGS}}
				<img src="/img/badges/gamerscore/50k_gamerscore.png" alt="You have reached 50,000 gamerscore." title="You have reached 50,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/50k_gamerscore.png" alt="You have reached 50,000 gamerscore." title="You have reached 50,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if oneHundredGS}}
				<img src="/img/badges/gamerscore/100k_gamerscore.png" alt="You have reached 100,000 gamerscore." title="You have reached 100,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/100k_gamerscore.png" alt="You have reached 100,000 gamerscore." title="You have reached 100,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if twoFiftyHundredGS}}
				<img src="/img/badges/gamerscore/250k_gamerscore.png" alt="You have reached 250,000 gamerscore." title="You have reached 250,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/250k_gamerscore.png" alt="You have reached 250,000 gamerscore." title="You have reached 250,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if sevenFiftyHundredGS}}
				<img src="/img/badges/gamerscore/750k_gamerscore.png" alt="You have reached 750,000 gamerscore." title="You have reached 750,000 gamerscore." class="img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/750k_gamerscore.png" alt="You have reached 750,000 gamerscore." title="You have reached 750,000 gamerscore." class="img-responsive" />
			{{/if}}
		</div>
		<div class="col-md-2 wrapper-md">
			{{#if nineHundredGS}}
				<img src="/img/badges/gamerscore/999k_gamerscore.png" alt="You have reached 999,999 gamerscore." title="You have reached 999,999 gamerscore." class="last-image img-responsive" />
			{{else}}
				<img src="/img/badges/unmerited/999k_gamerscore.png" alt="You have reached 999,999 gamerscore." title="You have reached 999,999 gamerscore." class="last-image img-responsive" />
			{{/if}}
		</div>
	</div>
</template>

<template name="userWishlist">
	<div class="col">
		<ul class="list-group alt m-b-none">
			{{#each wish}}
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a1.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-success m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href="">Chris Fox</a></div>
						<small class="text-muted">about 2 minutes ago</small>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</template>

<template name="userTrophyCase">
	<div class="col">
		<ul class="list-group alt m-b-none">
			{{#each trophy}}
			<li class="list-group-item">
				<div class="media">
					<span class="pull-left thumb-sm"><img src="/img/a1.jpg" alt="..." class="img-circle"></span>
					<div class="pull-right text-success m-t-sm">
						<i class="fa fa-circle"></i>
					</div>
					<div class="media-body">
						<div><a href="">Chris Fox</a></div>
						<small class="text-muted">about 2 minutes ago</small>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
</template>

<!-- <template name="userWishlist">
	{{#if Template.subscriptionsReady}}
		{{#with user}}
		<div class="panel panel-black">
			<div class="panel-heading bg-black text-white">
				{{#if user}}
					{{getUserGamertag}}'s Wishlist
				{{else}}
					Wishlist
				{{/if}}
			</div>
			<div class="hbox">
				<div class="col">
					<ul class="list-group alt m-b-none">
					{{#if Template.subscriptionsReady}}
						{{#if chkTrophyCase}}
							{{#each wish}}
							<li class="list-group-item">
								<div class="media">
									<span class="pull-left thumb-sm"><img src="/img/a1.jpg" alt="..." class="img-circle"></span>
									<div class="pull-right text-success m-t-sm">
										<i class="fa fa-circle"></i>
									</div>
									<div class="media-body">
										<div><a href="">Chris Fox</a></div>
										<small class="text-muted">about 2 minutes ago</small>
									</div>
								</div>
							</li>
							{{/each}}
						{{else}}
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<div>No trophies saved.</div>
									</div>
								</div>
							</li>
						{{/if}}
					{{else}}
						{{> loadingTemplate}}
					{{/if}}
					</ul>
				</div>
			</div>
		</div>
		{{/with}}
	{{/if}}
</template> -->

<!-- <template name="userTrophyCase">
	{{#if Template.subscriptionsReady}}
	<div class="panel panel-black">
		<div class="panel-heading bg-black text-white">
			{{#if user}}
				{{gamercard.gamertag}}'s Trophy Case
			{{else}}
				Trophy Case
			{{/if}}
		</div>
		<div class="hbox">
			<div class="col">
				<ul class="list-group alt m-b-none">
				{{#if Template.subscriptionsReady}}
					{{#if chkTrophyCase}}
						{{#each trophy}}
						<li class="list-group-item">
							<div class="media">
								<span class="pull-left thumb-sm"><img src="/img/a1.jpg" alt="..." class="img-circle"></span>
								<div class="pull-right text-success m-t-sm">
									<i class="fa fa-circle"></i>
								</div>
								<div class="media-body">
									<div><a href="">Chris Fox</a></div>
									<small class="text-muted">about 2 minutes ago</small>
								</div>
							</div>
						</li>
						{{/each}}
					{{else}}
						<li class="list-group-item">
							<div class="media">
								<div class="media-body">
									<div>No trophies saved.</div>
								</div>
							</div>
						</li>
					{{/if}}
				{{else}}
					{{> loadingTemplate}}
				{{/if}}
				</ul>
			</div>
		</div>
	</div>
	{{else}}
		{{> loadingTemplate}}
	{{/if}}
</template> -->