<template name="dashboardStatBoxes">
  {{#if Template.subscriptionsReady}}
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="panel padder-v item">
      <div class="text-dark font-thin h1 p-container">
        <div class="p-flipper">
          <div class="p-front">
            <div class="font-thin h1">{{achievementsCompleted}}</div>
          </div>
          <span class="p-back">
            <span class="text-success">{{achievementsPercentage}}%</span>
          </span>
        </div>
      </div>
      <span class="text-muted text-xs">Achievements Completed</span>
      <div class="top text-right w-full">
        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of achievements completed to date."></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href class="block panel padder-v bg-success item">
      <span class="text-white font-thin h1 block">{{totalAchievements}}</span>
      <span class="text-muted text-xs">Total Achievements Available</span>
      <div class="top text-right w-full">
        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of achievemnts you can get based on your game history."></i>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href class="block panel padder-v item">
      <div class="text-dark font-thin h1 p-container">
        <div class="p-flipper">
          <div class="p-front">
            <div class="font-thin h1">{{gamesCompleted}}</div>
          </div>
          <span class="p-back">
            <span class="text-success">{{gamesPercentage}}%</span>
          </span>
        </div>
      </div>
      <span class="text-muted text-xs">Games Completed</span>
      <div class="top text-right w-full">
        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of games completed to date."></i>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href class="block panel padder-v bg-success item">
      <span class="text-white font-thin h1 block">{{totalGames}}</span>
      <span class="text-muted text-xs">Total Games Played</span>
      <div class="top text-right w-full">
        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of games you have played to date."></i>
      </div>
    </a>
  </div>
  {{else}}
    {{> loadingTemplate}}
  {{/if}}
</template>