<template name="dashboardAside">
  <aside id="aside" class="app-aside hidden-xs bg-black">
    <div class="aside-wrap">
      <div class="navi-wrap affix">
        <!-- user -->
        <div class="clearfix hidden-xs text-center show" id="aside-user">
          <div class="dropdown wrapper">
            <div>
              <span class="thumb-lg w-auto-folded avatar m-t-sm">
                {{#if chkTwitter}}
                  <img src="{{currentUser.services.twitter.profile_image_url_https}}" />
                {{else}}
                  <img src="{{currentUser.profile.gamercard.gamerpicLargeSslImagePath}}" class="img-full" alt="{{currentUser.profile.name}}">
                  <!--
                  <img src="/images/?url={{currentUser.profile.gamercard.gamerpicLargeSslImagePath}}" class="img-full" alt="...">
                  -->
                {{/if}}
              </span>
            </div>  
            <div class="hidden-folded">
              <span class="clear">
                <span class="block m-t-sm">
                  <strong class="font-bold text-lt">{{currentUser.username}}</strong> 
                </span>
                <span class="text-muted text-xs block">{{currentUser.profile.gamercard.motto}}</span>
              </span>
            </div>
          </div>
          <div class="line dk hidden-folded"></div>
        </div>
        <!-- / user -->

        <!-- nav -->
        {{> dashboard_nav}}
        <!-- nav -->
        <!-- aside footer -->
        <div class="wrapper m-t xbdwrap">
          <div class="text-center">
            <h5>Achievements Unlocked</h5>
          </div>
          <div class="text-center-folded">
            <span class="pull-right pull-none-folded">10</span>
            <span class="hidden-folded">Today</span>
          </div>
          <div class="text-center-folded">
            <span class="pull-right pull-none-folded">15</span>
            <span class="hidden-folded">This Week</span>
          </div>
          <div class="text-center-folded">
            <span class="pull-right pull-none-folded">30</span>
            <span class="hidden-folded">This Month</span>
          </div>
        </div>
        <!-- / aside footer -->
      </div>
    </div>
  </aside>
</template>