<template name="dashboardAside">
  <aside id="aside" class="app-aside hidden-xs bg-black">
    <div class="aside-wrap">
      <div class="navi-wrap">
        {{#if currentUser}}
        <div class="clearfix hidden-xs text-center show" id="aside-user">
          <div class="dropdown wrapper">
            <div>
              <span class="thumb-lg w-auto-folded avatar m-t-sm">
              {{#if loggingIn}}
                {{> loadingTemplate}}
              {{else}}
                {{#if currentUser.gamertagScanned}}
                <img src="{{currentUser.profile.gamercard.gamerpicLargeSslImagePath}}" class="img-full" alt="{{currentUser.username}}">
                {{else}}
                <img src="img/xboxdash_whiteicon.png" class="img-full" alt="XBdash" />
                {{/if}}
              {{/if}}
              </span>
            </div>
            <div class="hidden-folded m-t-sm">
              <span class="clear">
              {{#if loggingIn}}
                {{> loadingTemplate}}
              {{else}}
                {{#if currentUser.gamertagScanned}}
                <span class="block m-t-sm">
                  <strong class="font-bold text-lt">{{currentUser.username}}</strong> 
                </span>
                <span class="text-muted text-xs block">{{currentUser.profile.gamercard.motto}}</span>
                {{else}}
                <span class="block m-t-sm">
                  <a href="{{pathFor 'confirmGt'}}" class="btn btn-link btn-md aside-signup">Confirm Gamertag</a>
                </span>
                {{/if}}
              {{/if}}
              </span>
            </div>
          </div>
          <div class="line dk hidden-folded"></div>
        </div>
        {{else}}
        <div class="clearfix hidden-xs text-center show xbdwrap" id="aside-user">
          <div class="wrapper">
            <div>
              <span class="thumb-lg w-auto-folded avatar m-t-sm">
                <img src="img/xboxdash_whiteicon.png" class="img-full" alt="XBdash" />
              </span>
            </div>
            <div class="hidden-folded m-t-sm">
              <span class="clear">
                <span class="block m-t-sm">
                  <a href="{{pathFor 'logIn'}}" class="btn btn-link btn-md aside-signup">Log in</a>
                  <a href="{{pathFor 'signUp'}}" class="btn btn-link btn-md aside-signup">Sign up</a>
                </span>
              </span>
            </div>
          </div>
          <div class="line dk hidden-folded"></div>
        </div>
        {{/if}}

        {{> dashboardNav}}

        {{#if currentUser.gamertagScanned}}
          <div class="wrapper m-t xbdwrap">
            <div class="text-center">
              <h5>Achievements Unlocked</h5>
            </div>
            <div class="text-center-folded">
              <span class="pull-right pull-none-folded">10</span>
              <span class="hidden-folded">Today</span>
            </div>
            <div class="text-center-folded">
              <span class="pull-right pull-none-folded">15</span>
              <span class="hidden-folded">This Week</span>
            </div>
            <div class="text-center-folded">
              <span class="pull-right pull-none-folded">30</span>
              <span class="hidden-folded">This Month</span>
            </div>
          </div>
        {{else}}
        <div class="wrapper m-t xbdwrap">
          <div class="text-center">
            <h5>Tracked Data</h5>
          </div>
          <div class="text-center-folded">
            <span class="pull-right pull-none-folded">{{countOfAchievements}}</span>
            <span class="hidden-folded">Achievements</span>
          </div>
          <div class="text-center-folded">
            <span class="pull-right pull-none-folded">{{countOfGames}}</span>
            <span class="hidden-folded">Games</span>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </aside>
</template>