<template name="dashboard_nav">
  <nav ui-nav class="navi clearfix">
    <!-- list -->
    <ul class="nav">
      <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-home icon"></i>
          <span class="font-bold">Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/xboxdash_whiteicon.png" alt="{{appName}}" title="{{appName}}" class="glyphicon-list" style="" /> 
          <span class="font-bold">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-fire icon"></i>
          <span class="font-bold">News</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon icon-target icon"></i>
          <span class="font-bold">Games</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-trophy icon"></i>
          <span class="font-bold">Achievements</span>
        </a>
      </li>
      <li class="line dk"></li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle"></i>
          <span class="font-bold">About XBOXDASH</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-question icon"></i>
          <span class="font-bold">Help</span>
        </a>
      </li>
      <li class="line dk"></li>
      <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Privacy Policy</span> | <span>Terms of Use</span>
      </li>
    </ul>
    <!-- / list -->
  </nav>
</template>