<template name="dashboardOverlay">
	<div class="dashboard-overlay">
		<div class="loading-text">
			<div class="row">
				<h2>Your Dashboard is Building</h2>
				<div class="col-lg-12">
					<p>We will email you when your dashboard is complete!&nbsp;&nbsp;<span class="glyphicon glyphicon-send" aria-hidden="true"></span></p>
				</div>
			</div>
			<div class="row m-b-sm">
                {{> mostSharedNewsOverlay limit=3}}
			</div>
			<div class="row m-b-xxl">
				<div class="col-lg-12">
					<p><a href="{{pathFor 'newsPage'}}" class="btn btn-success padder-md m-t-xs">Read More News&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></a></p>
				</div>
			</div>
		</div>
	</div>
</template>