<template name="dashboard">
  <div class="app app-header-fixed">
  {{> dashboardHeader}}
  {{> dashboardAside}}
  {{> dashboardApp}}
  {{> dashboardFooter}}
  </div>
</template>

<template name="dashboardApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                <small class="text-muted">Welcome back!</small>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">{{currentUser.profile.userDailyRank}}</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">{{currentUser.profile.userOverallRank}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- / main header -->
          <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
              <div class="col-md-12">
                <div class="row row-sm text-center">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="panel padder-v item">
                      <div class="text-dark font-thin h1 p-container">
                        <div class="p-flipper">
                          <div class="p-front">
                            <div class="font-thin h1">{{achievementsCompleted}}</div>
                          </div>
                          <span class="p-back">
                            <span class="text-success">{{achievementsPercentage}}%</span>
                          </span>
                        </div>
                      </div>
                      <span class="text-muted text-xs">Achievements Completed</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of achievements completed to date."></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v bg-success item">
                      <span class="text-white font-thin h1 block">{{totalAchievements}}</span>
                      <span class="text-muted text-xs">Total Achievements Available</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of achievemnts you can get based on your game history."></i>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v item">
                      <div class="text-dark font-thin h1 p-container">
                        <div class="p-flipper">
                          <div class="p-front">
                            <div class="font-thin h1">{{gamesCompleted}}</div>
                          </div>
                          <span class="p-back">
                            <span class="text-success">{{gamesPercentage}}%</span>
                          </span>
                        </div>
                      </div>
                      <span class="text-muted text-xs">Games Completed</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of games completed to date."></i>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v bg-success item">
                      <span class="text-white font-thin h1 block">{{totalGames}}</span>
                      <span class="text-muted text-xs">Total Games Played</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of games you have played to date."></i>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row row-sm text-center">
                  <div class="col-xs-12 m-b-md">
                    <div class="r bg-light dker item hbox no-border">
                      <div class="col w-xs v-middle hidden-md">
                        <i class="fa fa-trophy icon fa-3x"></i>
                      </div>
                      <div class="col dk padder-v r-r">
                        <div class="text-dark font-thin h1 p-container">
                          <div class="p-flipper">
                            <div class="p-front">
                              <span>{{currentGamerscore}}</span><span class="font-thin h5"> / {{maxGamerscore}}</span>
                            </div>
                            <span class="p-back">
                              <span class="text-success">{{gamerscorePercentage}}%</span>
                            </span>
                          </div>
                        </div>
                        <span class="text-muted text-xs">Current Gamerscore / Max Gamerscore</span>
                        <div class="top text-right w-full">
                          <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="Your current Gamerscore based on your history over the maximum Gamerscore you can get if all games in your history have been completed."></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- service -->
            <div class="panel hbox hbox-auto-xs no-border">
              <div class="col wrapper">
                <i class="fa fa-circle-o text-info m-r-sm pull-right"></i>
                <h4 class="font-thin m-t-none m-b-none text-primary-lt">Achievements Data</h4>
                <span class="m-b block text-sm text-muted">Line graph (updated 1 hour ago)</span>
                <div ui-jq="plot" ui-options="
                  [
                    { data: [ [1,6.5],[2,6.5],[3,7],[4,8],[5,7.5],[6,7],[7,6.8],[8,7],[9,7.2],[10,7],[11,6.8],[12,7] ], points: { show: true, radius: 6}, splines: { show: true, tension: 0.45, lineWidth: 5, fill: 0 } }
                  ], 
                  {
                    colors: ['#23b7e5'],
                    series: { shadowSize: 3 },
                    xaxis:{ 
                      font: { color: '#ccc' },
                      position: 'bottom',
                      ticks: [
                        [ 1, 'Jan' ], [ 2, 'Feb' ], [ 3, 'Mar' ], [ 4, 'Apr' ], [ 5, 'May' ], [ 6, 'Jun' ], [ 7, 'Jul' ], [ 8, 'Aug' ], [ 9, 'Sep' ], [ 10, 'Oct' ], [ 11, 'Nov' ], [ 12, 'Dec' ]
                      ]
                    },
                    yaxis:{ font: { color: '#ccc' } },
                    grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                    tooltip: true,
                    tooltipOpts: { content: '%x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
                  }
                " style="height:240px" ></div>
              </div>
            </div>
            <!-- / service -->

            <!-- service -->
            <div class="panel hbox hbox-auto-xs no-border">
              <div class="col wrapper">
                <i class="fa fa-circle-o text-info m-r-sm pull-right"></i>
                <h4 class="font-thin m-t-none m-b-none text-primary-lt">Games Data</h4>
                <span class="m-b block text-sm text-muted">Pie graph (updated 1 hour ago)</span>
                <div ui-jq="plot" ui-options="
                  [ [10, 80],  [20, 40], [30, 30],  [40, 20] ],
                  {
                    series: { pie: { show: true, innerRadius: 0.5, stroke: { width: 0 }, label: { show: true, threshold: 0.05 } } },
                    colors: ['#7266ba','#23b7e5','#27c24c','#fad733','#f05050'],
                    grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                    tooltip: true,
                    tooltipOpts: { content: '%s: %p.0%' }
                  }
                " style="height:240px"></div>
              </div>
            </div>
            <!-- / service -->

            <!-- service -->
            <div class="panel hbox hbox-auto-xs no-border">
              <div class="col wrapper">
                <label class="i-switch bg-warning pull-right">
                  <input type="checkbox" value="past 7 days">
                  <i></i>
                </label>
                <label class="i-switch bg-warning pull-right">
                  <input type="checkbox" value="past 3 months">
                  <i></i>
                </label>
                <label class="i-switch bg-warning pull-right">
                  <input type="checkbox" value="past 3 years">
                  <i></i>
                </label>
                <h4 class="font-thin m-t-none m-b-none text-primary-lt">Gamerscore Data</h4>
                <span class="m-b block text-sm text-muted">Area chart (updated 1 hour ago)</span>
                <div ui-jq="plot" ui-options="
                  [
                    { data: [ [0,7],[1,6.5],[2,12.5],[3,7],[4,9],[5,6],[6,11],[7,6.5],[8,8],[9,7] ], label: 'A', points: { show: true }, lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }, 
                    { data: [ [0,4],[1,4.5],[2,7],[3,4.5],[4,3],[5,3.5],[6,6],[7,3],[8,4],[9,3] ], label: 'B', points: { show: true, radius: 4 } }
                  ],
                  {
                    colors: [ '#23b7e5','#fad733' ],
                    series: { shadowSize: 2 },
                    xaxis:{ font: { color: '#ccc' } },
                    yaxis:{ font: { color: '#ccc' } },
                    grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                    tooltip: true,
                    tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
                  }
                " style="height:240px"></div>
              </div>
            </div>
            <!-- / service -->
          </div>
        </div>
        <!-- / main -->
        <!-- game list -->
        <div class="col w-xxl bg-white-only b-l bg-auto no-border-xs">
          <div class="wrapper-md">
            <!-- activity -->
            <div class="m-b text-md">Recent Activity</div>
            <ul class="list-group no-bg no-borders pull-in">
              {{#each gamesList}}
              <li class="list-group-item">
                <a href class="thumb-sm m-r games-thumb">
                  <img src="{{gamesListImage}}" class="">
                </a>
                <div class="game-div">
                  <a class="game-name" href>{{gameName this.gameId}}</a>
                </div>
                <div class="pull-right bg-black inline m-t-mdx c100 p{{percentageComplete this.gameId this.earnedAchievements}} small">
                    <span>{{percentageComplete this.gameId this.earnedAchievements}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="progress progress-md text-center">
                  <div class="progress-bar progress-bar-success" style="width: {{percentageComplete this.gameId this.earnedAchievements}}%">
                    {{this.earnedAchievements}} done
                  </div>
                  {{remainingAchievements this.gameId}} left
                </div>
              </li>
              {{/each}}
            </ul>
            <!-- / activity -->
          </div>
        </div>
        <!-- / game list -->
      </div>
    </div>
  </div>
</template>