<template name="dashboard">
  {{> dashboardApp}}
</template>

<template name="dashboardApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                <small class="text-muted">Welcome back!</small>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">{{currentUser.profile.userDailyRank}}</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">{{currentUser.profile.userOverallRank}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- / main header -->
          <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
              <div class="col-md-12">
                <div class="row row-sm text-center">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="panel padder-v item">
                      <div class="text-dark font-thin h1 p-container">
                        <div class="p-flipper">
                          <div class="p-front">
                            <div class="font-thin h1">{{achievementsCompleted}}</div>
                          </div>
                          <span class="p-back">
                            <span class="text-success">{{achievementsPercentage}}%</span>
                          </span>
                        </div>
                      </div>
                      <span class="text-muted text-xs">Achievements Completed</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of achievements completed to date."></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v bg-success item">
                      <span class="text-white font-thin h1 block">{{totalAchievements}}</span>
                      <span class="text-muted text-xs">Total Achievements Available</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of achievemnts you can get based on your game history."></i>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v item">
                      <div class="text-dark font-thin h1 p-container">
                        <div class="p-flipper">
                          <div class="p-front">
                            <div class="font-thin h1">{{gamesCompleted}}</div>
                          </div>
                          <span class="p-back">
                            <span class="text-success">{{gamesPercentage}}%</span>
                          </span>
                        </div>
                      </div>
                      <span class="text-muted text-xs">Games Completed</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The number of games completed to date."></i>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href class="block panel padder-v bg-success item">
                      <span class="text-white font-thin h1 block">{{totalGames}}</span>
                      <span class="text-muted text-xs">Total Games Played</span>
                      <div class="top text-right w-full">
                        <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="The total number of games you have played to date."></i>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row row-sm text-center">
                  <div class="col-xs-12 m-b-md">
                    <div class="r bg-light dker item hbox no-border">
                      <div class="col w-xs v-middle hidden-md">
                        <i class="fa fa-trophy icon fa-3x"></i>
                      </div>
                      <div class="col dk padder-v r-r">
                        <div class="text-dark font-thin h1 p-container">
                          <div class="p-flipper">
                            <div class="p-front">
                              <span>{{currentGamerscore}}</span><span class="font-thin h5"> / {{maxGamerscore}}</span>
                            </div>
                            <span class="p-back">
                              <span class="text-success">{{gamerscorePercentage}}%</span>
                            </span>
                          </div>
                        </div>
                        <span class="text-muted text-xs">Current Gamerscore / Max Gamerscore</span>
                        <div class="top text-right w-full">
                          <i type="button" class="fa fa-info-circle text-warning m-r-sm" data-toggle="tooltip" data-placement="right" title="Your current Gamerscore based on your history over the maximum Gamerscore you can get if all games in your history have been completed."></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{> achievementsChart}}
            {{> gamerscoreChart}}
            {{> gamesChart}}
          </div>
        </div>
        <!-- / main -->
        <!-- game list -->
        <div class="col w-xxl bg-white-only b-l bg-auto no-border-xs">
          <div class="wrapper-md">
            <!-- activity -->
            <div class="m-b text-md">Recent Activity</div>
            <ul class="list-group no-bg no-borders pull-in">
              {{#each gamesList}}
              <li class="list-group-item">
                <a href class="thumb-sm m-r games-thumb">
                  <img src="{{gamesListImage}}" class="">
                </a>
                <div class="game-div">
                  <a class="game-name" href>{{gameName this.gameId}}</a>
                </div>
                <div class="pull-right bg-black inline m-t-mdx c100 p{{percentageComplete this.gameId this.earnedAchievements}} small">
                    <span>{{percentageComplete this.gameId this.earnedAchievements}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="progress progress-md text-center">
                  <div class="progress-bar progress-bar-success" style="width: {{percentageComplete this.gameId this.earnedAchievements}}%">
                    {{this.earnedAchievements}} done
                  </div>
                  {{remainingAchievements this.gameId}} left
                </div>
              </li>
              {{/each}}
            </ul>
            <!-- / activity -->
          </div>
        </div>
        <!-- / game list -->
      </div>
    </div>
  </div>
</template>