<template name="termsOfUseHeader">
  <head>  
    <meta charset="utf-8" />
    <title>Terms of Use | XboxDash</title>
    <meta name="description" content="XboxDash.com is the Xbox Gamer's dashboard and the only place where you can track and achieve your greatest goals." />
    <meta name="keywords" content="terms of use, xbox, xbox achievements, xbox 360, xbox one, xbox games, achievements, xbox leaderboards, xbox news, xbox game reviews" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  </head>
</template>

<template name="termsOfUse">
  {{> termsHeader}}
  {{> termsContent}}
  {{> staticFooter}}
</template>

<template name="termsContent">
  <div class="signup">
    <div class="container well">
      <div class="m-b-md">
        <h1 class="text-dark text-center">Terms of Use</h1>
        <p>Content</p>
      </div>
    </div>
  </div>
</template>