<template name="resetPassword">
	{{> headerPasswordPage}}
	{{> resetPasswordForm}}
	{{> staticFooter}}
</template>

<template name="resetPasswordForm">
  <div id="signup" class="signup">
  	<div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md">
        <form name="form" class="validate" id="reset-password-form">
          <h2 class="text-dark text-center">Reset Password</h2>
          <p class="text-center">Please enter your new password.</p>
          <div class="list-group">
            <div class="form-group">
              <input type="password" placeholder="New Password" id="password" name="password" class="form-control" data-onblur data-min="6" data-required data-msg="Password must be at least 6 characters.">
              <span for="password" class="err-msg"></span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm New Password" id="password2" name="password2" class="form-control" data-onblur data-min="6" data-required data-msg="Password must be at least 6 characters.">
              <span for="password2" class="err-msg"></span>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block sign-up-submit">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</template>