<template name="searchOverlay">
	<div class="container if-container">
		{{#momentum plugin='slide-height'}}
			{{#if overlayVisible}}
				{{> searchOverlayApp}}
			{{/if}}
		{{/momentum}}
	</div>
</template>

<template name="searchOverlayApp">
	<div class="search-overlay">
		<a class="js-overlay-close overlay-close"><i class="fa fa-2x fa-times vcenter"></i></a>
		<div class="container wrapper-xl">
			<div class="row wrapper-lg">
				<div class="col-md-12">
					<form>
						<div class="input-group m-b">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search fa-2x"></i></button>
							</span>
							{{> esInput index=searchIndexes type="search" class="search-input" placeholder="search"}}
						</div>
					</form>
				</div>
			</div>
			<div class="row wrapper-md">
				<div class="col-md-4">
					<div class="xbdgames-container">
						{{#ifEsInputIsEmpty index="xbdgames"}}
						{{else}}
							<h3 class="text-center">Games</h3>
						{{/ifEsInputIsEmpty}}

						{{#ifEsIsSearching index="xbdgames"}}
							{{> loadingTemplate}}
						{{else}}
							{{#ifEsHasNoResults index="xbdgames"}}
							{{else}}
							<ul class="list-group alt">
							{{#esEach index="xbdgames"}}
								{{> singleGameSearch}}
							{{/esEach}}
							</ul>
							{{/ifEsHasNoResults}}
						{{/ifEsIsSearching}}

						{{#ifEsHasNoResults index="xbdgames"}}
							<div> No results were found </div>
						{{/ifEsHasNoResults}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="xbdachievements-container">
						{{#ifEsInputIsEmpty index="xbdachievements"}}
						{{else}}
							<h3 class="text-center">Achievements</h3>
						{{/ifEsInputIsEmpty}}

						{{#ifEsIsSearching index="xbdachievements"}}
							{{> loadingTemplate}}
						{{else}}
							{{#ifEsHasNoResults index="xbdachievements"}}
							{{else}}
							<ul class="list-group alt">
							{{#esEach index="xbdachievements"}}
								{{> singleAchievementSearch}}
							{{/esEach}}
							</ul>
							{{/ifEsHasNoResults}}
						{{/ifEsIsSearching}}

						{{#ifEsHasNoResults index="xbdachievements"}}
							<div> No results were found </div>
						{{/ifEsHasNoResults}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="xbdnews-container">
						{{#ifEsInputIsEmpty index="xbdnews"}}
						{{else}}
							<h3 class="text-center">News</h3>
						{{/ifEsInputIsEmpty}}

						{{#ifEsIsSearching index="xbdnews"}}
							{{> loadingTemplate}}
						{{else}}
							{{#ifEsHasNoResults index="xbdnews"}}
							{{else}}
							<ul class="list-group alt">
							{{#esEach index="xbdnews"}}
								{{> singleNewsSearch}}
							{{/esEach}}
							</ul>
							{{/ifEsHasNoResults}}
						{{/ifEsIsSearching}}

						{{#ifEsHasNoResults index="xbdnews"}}
							<div> No results were found </div>
						{{/ifEsHasNoResults}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="singleGameSearch">
	{{#if Template.subscriptionsReady}}
	<li class="list-group-item">
		<a href="{{pathFor 'game'}}">
			<div class="media game">
				<span class="pull-left thumb-lg">
					<img class="game-image" src="{{gamesImage}}" alt="{{this.name}}">
				</span>
				<div class="pull-right text-success m-t-xxl">
					<i class="fa fa-trophy"></i> {{this.maxGamerscore}}
				</div>
				<div class="media-body p-t-xxl">
					<div>{{this.name}}</div>
					<small class="text-muted clear text-ellipsis">{{gamePublisherName}}</small>
				</div>
			</div>
		</a>
	</li>
	{{/if}}
</template>

<template name="singleAchievementSearch">
	{{#if Template.subscriptionsReady}}
	<li class="list-group-item">
		<a href="{{pathFor 'achievement'}}">
			<div class="media achievement">
				<span class="pull-left thumb-sm m-t-xs">
					<img src="{{getAchievementImage}}" alt="{{this.name}}">
				</span>
				<div class="pull-right text-success m-t-sm">
					<i class="fa fa-trophy"></i> {{this.value}}
				</div>
				<div class="media-body">
					<div>{{this.name}}</div>
					<small class="text-muted clear text-ellipsis">{{this.userPercentage}}% have this</small>
				</div>
			</div>
		</a>
	</li>
	{{/if}}
</template>

<template name="singleNewsSearch">
	{{#if Template.subscriptionsReady}}
	<li class="list-group-item">
		<a class="article-url" href="{{pathFor 'article'}}">
			<div class="media news">
				<div class="pull-left news-img m-r" style="background-image: url('{{getNewsImage}}');">
				</div>
				<div class="media-body">
					<div>{{this.title}}</div>
					<div class="pull-left text-success m-t-sm">
						<i class="fa fa-share-square-o"></i> {{shareCount}}
					</div>
				</div>
			</div>
		</a>
	</li>
	{{/if}}
</template>