<template name="helpPage">
	{{> helpApp}}
</template>

<template name="helpApp">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm faqs">
				<div class="">
					<div class="bg-light lter b-b wrapper-md">
						<div class="row">
							<div class="col-sm-12 col-xs-12">
								<h1 class="m-n font-thin h3 text-black">Help</h1>
								<small class="text-muted">Frequently Asked Questions</small>
							</div>
						</div>
					</div>
					<div class="wrapper" data-scroll="scroll" data-target=".scrollspy">
						<div class="row">
							<div class="col-lg-2 bg-light b-r bg-auto scrollspy">
								<ul id="sidebar" class="nav nav-stacked hidden-xs hidden-sm" data-spy="affix">
									<li><a href="#top">Top Q&amp;As</a></li>
									<li><a href="#about-us">About Us Q&amp;As</a></li>
									<li><a href="#account">Account Q&amp;As</a></li>
									<li><a href="#achievements-games">Achievements / Games Q&amp;As</a></li>
									<li><a href="#contests-leaderboards">Contests / Leaderboards Q&amp;As</a></li>
									<li><a href="#profile">Profile Q&amp;As</a></li>
									<li><a href="#news">News Q&amp;As</a></li>
									<li><a href="#more">More Q&amp;As</a></li>
								</ul>
							</div>
							<div class="col-lg-6">
								{{#if Template.subscriptionsReady}}
								<section id="top">
									<div class="row">
										<div class="col-lg-12">
											<h3>Top Questions</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne0" aria-expanded="false" aria-controls="collapseOne0">
												<div class="panel-heading" role="tab" id="headingOne0">
													<h4 class="panel-title">
														Why {{appName}}?
													</h4>
												</div>
											</a>
											<div id="collapseOne0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne0">
												<div class="panel-body">
													With {{appName}}, you can use your personal dashboard to track and analyze your achievement hunting skills. The leaderboards help you compare with our community's top Xbox&reg; gamers and we help you stay up to date with the latest in Xbox&reg; news.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
												<div class="panel-heading" role="tab" id="headingOne1">
													<h4 class="panel-title">
														Why is my dashboard not populating?
													</h4>
												</div>
											</a>
											<div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
												<div class="panel-body">
													Your dashboard is most likely not populating because of your privacy settings on Xbox&reg;(R) Live.
													<br /><br />
													Follow these steps:
													<br /><br />
													<ul type="1">
														<li>Log into Xbox&reg; Live online or on your console</li>
														<li>Go to Privacy / Online Settings
															https://account.xbox.com/en-GB/Settings</li>
														<li>Make sure that your settings are on "Public" or "Everybody".</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
												<div class="panel-heading" role="tab" id="headingOne2">
													<h4 class="panel-title">
														My Gamertag came up as claimed/invalid, why?
													</h4>
												</div>
											</a>
											<div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne2">
												<div class="panel-body">
													Your Gamertag can come up as invalid for any number of reasons.
													
													<ul type="a">
														<li>Did you type it in incorrectly?</li>
														<li>Did you register before?</li>
													</ul>

													If the answer to the above questions are no, please email <a href="mailto:support@xbdash.com">support@xbdash.com</a>, describe what the issue is, and we'll take care of that as soon as we can!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
												<div class="panel-heading" role="tab" id="headingOne3">
													<h4 class="panel-title">
														How does {{appName}} help me on Xbox&reg; achievements?
													</h4>
												</div>
											</a>
											<div id="collapseOne3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne3">
												<div class="panel-body">
													{{appName}}'s searchable achievement database makes finding new challenges easy while our users can give you a helping hand with community solutions.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
												<div class="panel-heading" role="tab" id="headingOne4">
													<h4 class="panel-title">
														Can I win prizes using {{appName}}?
													</h4>
												</div>
											</a>
											<div id="collapseOne4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne4">
												<div class="panel-body">
													{{appName}} regularly holds contests involving several aspects of the Xbox&reg; world where users can win games, Xbox&reg; Live codes, and more.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5">
												<div class="panel-heading" role="tab" id="headingOne5">
													<h4 class="panel-title">
														Will {{appName}} help me find new games to play?
													</h4>
												</div>
											</a>
											<div id="collapseOne5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne5">
												<div class="panel-body">
													{{appName}} features a modern search system that helps gamers find particular games in the Xbox library of games. As more users sign up, our internal library will become more populated.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="about-us">
									<div class="row">
										<div class="col-lg-12">
											<h3>About Us Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo0" aria-expanded="false" aria-controls="collapseTwo0">
												<div class="panel-heading" role="tab" id="headingTwo0">
													<h4 class="panel-title">
														Why create {{appName}}?
													</h4>
												</div>
											</a>
											<div id="collapseTwo0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo0">
												<div class="panel-body">
													As Xbox&reg; gamers, we've always been compelled to connect the gamer to the games they play on another level. {{appName}} does that by letting you know your progress with an all-in-one web app to help you figure out what to do next.
													<br /><br />
													The only thing you need to do is stay engaged!
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
												<div class="panel-heading" role="tab" id="headingTwo1">
													<h4 class="panel-title">
														Are we affiliated with Microsoft?
													</h4>
												</div>
											</a>
											<div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
												<div class="panel-body">
													At this stage of {{appName}}, we are <strong>not</strong> affiliated with Microsoft&reg; or Xbox&reg;. However, we've applied for a Microsoft's Independent Developer license and it's only a matter of time. We'll send an announcement email when we do become Microsoft-certified.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="account">
									<div class="row">
										<div class="col-lg-12">
											<h3>Account Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree0" aria-expanded="false" aria-controls="collapseThree0">
												<div class="panel-heading" role="tab" id="headingThree0">
													<h4 class="panel-title">
														Can I delete my account?
													</h4>
												</div>
											</a>
											<div id="collapseThree0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree0">
												<div class="panel-body">
													You can delete your account by heading to Settings > Delete Account, and confirming the deletion.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="achievements-games">
									<div class="row">
										<div class="col-lg-12">
											<h3>Achievements / Games Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour0" aria-expanded="false" aria-controls="collapseFour0">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														My gamerscore, achievement completion percentage, game completion percentage, or other data is not accurate to what I have on Xbox&reg; One, Xbox&reg; 360, or Xbox&reg; Live. What's happening?
													</h4>
												</div>
											</a>
											<div id="collapseFour0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													Please wait at least one hour and if the problem persists contact us at <a href="mailto:support@xbdash.com">support@xbdash.com</a>.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="contests-leaderboards">
									<div class="row">
										<div class="col-lg-12">
											<h3>Contests / Leaderboards Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive0" aria-expanded="false" aria-controls="collapseFive0">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														What Time Zone are contests synchronized by?
													</h4>
												</div>
											</a>
											<div id="collapseFive0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													All contests and leaderboards reset following the UTC Time Zone, the Coordinated Universal Time.
													<br /><br />
													Here are the United States equivalents to the UTC Time Zone:
													<br /><br />
													<strong>UTC:</strong> {{utcTime}}<br />
													<strong>Eastern:</strong> {{easternTime}}<br />
													<strong>Central:</strong> {{centralTime}}<br />
													<strong>Mountain:</strong> {{mountainTime}}<br />
													<strong>Pacific:</strong> {{pacificTime}}
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														How many contests are there?
													</h4>
												</div>
											</a>
											<div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													The number of active contests fluctuates each day. However, there will always be a daily, weekly, and monthly gamerscore time attack contest running.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														How many leaderboards are there?
													</h4>
												</div>
											</a>
											<div id="collapseFive2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													Currently, we have 1 daily leaderboards that resets following the UTC Time Zone at 12:00am.
													<br /><br />
													Then, there are also:
													<br /><br />
													<ul type="1">
														<li>All-Time Gamerscore leaderboards that ranks users who have the most accumulated Gamerscore</li>
														<li>Completed Achievements leaderboards that ranks users with the most completed achievements in their Xbox gaming career, and</li>
														<li>Completed Games leaderboards that ranks users with the most completed games in this Xbox gaming career</li>
													</ul>
													More leaderboards will be added following community suggestions.
													<br /><br />
													If you have a suggestion for a leaderboard, please <a href="#" id="contact-us" style="text-decoration: underline;">contact us</a>.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive3" aria-expanded="false" aria-controls="collapseFive3">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														Do you have to pay to compete in contests?
													</h4>
												</div>
											</a>
											<div id="collapseFive3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													The entry requirements vary for each contest and can include but are not limited to:
													<br /><br />
													<ul type="a">
														<li>none (free entry)</li>
														<li>payment</li>
														<li>gamerscore restrictions, or</li>
														<li>owning (a) certain title(s)</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive4" aria-expanded="false" aria-controls="collapseFive4">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														What are pay-to-play contests?
													</h4>
												</div>
											</a>
											<div id="collapseFive4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													Some contests require a cash payment for entry. These contests have prizes consistent or near the value of the entries into the contest.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
												<div class="panel-heading" role="tab" id="headingSix0">
													<h4 class="panel-title">
														What are the prizes for pay-to-play contests?
													</h4>
												</div>
											</a>
											<div id="collapseFive5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix0">
												<div class="panel-body">
													XBdash rewards users with many different types of contests. The prizes can include, but are not limited to:
													<br /><br />
													<ul>
														<li>Xbox Gift Cards, GameStop Gift Cards, Best Buy Gift Cards, or Amazon Gift Cards</li>
														<li>Xbox Live Membership Cards</li>
														<li>Xbox Games</li>
														<li>Cash Prizes</li>
														<li>Xbox Accessories such as controllers, headsets, gear, and more</li>
														<li>Electronics such as sound bars, TVs, game recording devices, and more</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="profile">
									<div class="row">
										<div class="col-lg-12">
											<h3>Profile Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix0" aria-expanded="false" aria-controls="collapseSix0">
												<div class="panel-heading" role="tab" id="headingFour0">
													<h4 class="panel-title">
														My Gamertag has changed, how do I update my account on {{appName}}?
													</h4>
												</div>
											</a>
											<div id="collapseSix0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour0">
												<div class="panel-body">
													If your Gamertag has changed, fear not!
													<br /><br />
													Our system will update with your new one automatically.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="news">
									<div class="row">
										<div class="col-lg-12">
											<h3>News Q&amp;As</h3>
										</div>
									</div>
									<div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven0" aria-expanded="false" aria-controls="collapseSeven0">
												<div class="panel-heading" role="tab" id="headingFive0">
													<h4 class="panel-title">
														What is your news source?
													</h4>
												</div>
											</a>
											<div id="collapseSeven0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive0">
												<div class="panel-body">
													We use several RSS feeds to bring users the latest in Xbox&reg; and video game news.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion9" href="#collapseSeven1" aria-expanded="false" aria-controls="collapseSeven1">
												<div class="panel-heading" role="tab" id="headingFive1">
													<h4 class="panel-title">
														Are you planning to generate original content?
													</h4>
												</div>
											</a>
											<div id="collapseSeven1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive1">
												<div class="panel-body">
													We plan to expand our team in both the writing and video divisions in the near future. If you'd like to work with us, please email us at jobs@xbdash.com.
												</div>
											</div>
										</div>
									</div>
								</section>
								<section id="more">
									<div class="row">
										<div class="col-lg-12">
											<h3>More Q&amp;As</h3>
											<p>If you have more questions about {{appName}}, please feel free to <a href="#" id="contact-us" style="text-decoration: underline;">contact us</a>.</p>
										</div>
									</div>
								</section>
								{{else}}
									{{> loadingTemplate}}
								{{/if}}
							</div>
							<div class="col-lg-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>