<template name="dashboardNav">
	<nav ui-nav class="navi clearfix">
		<ul class="nav">
			<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
				<span>Navigation</span>
			</li>
			<li class="{{isDashboardEnabled}} {{dashboardPopover}}">
				<a class="dashboard-link" href="{{pathFor 'home'}}">
					<img src="/img/xbdash_whiteicon.png" alt="{{appName}}" title="{{appName}}" class="glyphicon-list xbd" style="" /> 
					<span class="font-bold">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'leaderboardsPage'}}">
					<i class="fa fa-bar-chart-o icon"></i>
					<span class="font-bold">Leaderboards</span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'achievementsPage'}}">
					<i class="fa fa-trophy icon"></i>
					<span class="font-bold">Achievements</span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'gamesPage'}}">
					<i class="icon icon-target icon"></i>
					<span class="font-bold">Games</span>
				</a>
			</li>
			<li class="line dk"></li>
			<li>
				<a href="{{pathFor 'newsPage'}}">
					<i class="glyphicon glyphicon-fire icon"></i>
					<span class="font-bold">News</span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'aboutUs'}}" target="_blank">
					<i class="fa fa-info-circle"></i>
					<span class="font-bold">About {{appName}}</span>
				</a>
			</li>
			<li>
				<a href="{{pathFor 'helpPage'}}">
					<i class="icon-question icon"></i>
					<span class="font-bold">Help</span>
				</a>
			</li>
			<li class="line dk"></li>
			<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
				<div class="text-center-folded">
					<a class="legal" href="{{pathFor 'privacyPolicy'}}" target="_blank">
						Privacy Policy
					</a>
					<a class="legal pull-right pull-none-folded" href="{{pathFor 'termsConditions'}}" target="_blank">
						Terms of Use
					</a>
				</div>
			</li>
		</ul>
	</nav>
</template>