<template name="gamesSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
					{{#with game}}
					<div class="bg-light col-lg-12 col-xs-12 lter b-b wrapper-md">
						<div class="row">
							<div class="col-lg-9 col-xs-7">
								<h1 class="font-thin h3 text-black m-b-xs">{{gameName}}</h1>
								<small class="text-muted">
									Publisher: {{gamePublisherName}}
								</small>
							</div>
							{{#if chkGamerStatus}}
							<div class="col-lg-3 col-xs-5">
								<div class="inline m-l m-r text-left">
									{{> userDailyRank}}
								</div>
								<div class="inline text-left">
									{{> userOverallRank}}
								</div>
							</div>
							{{/if}}
						</div>
					</div>
					<div class="wrapper-md col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<div class="blog-post left">
							<img src="{{gamesImage}}" class="img-full">
							{{#if chkGamerStatus}}
							{{#if chkUserForGame}}
								{{> userGamerscoreInfo}}
							{{/if}}
							{{/if}}
								{{> gamerscoreInfo}}
							{{#if chkGamerStatus}}
							{{#if chkUserForGame}}
							{{#if chkIfCompleted}}
								<div class="share-bar">
									<h4>Share Your Completed Game</h4>
									{{> shareit gameData}}
								</div>
							{{/if}}
							{{/if}}
							{{/if}}
							<table class="table" style="margin-bottom: 15px;">
								<tr>
									<td colspan="2" align="center">
										{{> gameRatingSingle}}
									</td>
								</tr>
								<tr>
									<td width="35%">
										Publisher:
									</td>
									<td><strong>
										{{gamePublisherName}}
									</strong></td>
								</tr>
								<tr>
									<td>Released:</td>
									<td><strong>
										{{dateFormat}}
									</strong></td>
								</tr>
								<tr>
									<td>Platform:</td>
									<td><strong>
										{{gamePlatform}}
									</strong></td>
								</tr>
								<tr>
									<td>Genre:</td>
									<td><strong>
										{{#each gameGenre}}
										{{this.Name}}<br />
										{{/each}}
									</strong></td>
								</tr>
							</table>
							<div class="hidden-xs">
								{{{gameDescription}}}
							</div>
						</div>
					</div>
					<div class="wrapper-md col-xl-6 col-lg-5 col-md-8 col-sm-8 col-xs-12" style="background-color: #fff;">
						{{> gamesSinglePageAchievement}}
					</div>
					<div class="wrapper-md col-xl-3 col-lg-4 hidden-md hidden-sm hidden-xs trending-column">
						<div class="xbd-right-sidebar-ad"></div>
						<h2 class="m-b-sm font-thin h3 text-black">Trending News</h2>
						{{> mostSharedNews limit=3}}
					</div>
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="userGamerscoreInfo">
	<div class="padder-vv-{{#if chkCompleted}}xbd{{else}}ixbd{{/if}} text-center gamerscore-table">
		<div class="row">
			<div class="col-xl-12">
				<h4 class="text-white h4 font-bold m-b-sm">Your Progress</h4>
			</div>
		</div>
		<div class="row">
			<div class="hidden-xl col-lg-4 col-md-3 hidden-sm col-xs-3">
				<div class="text-white font-bold m-t-xs">
					<i class="fa fa-unlock"></i>
				</div>
			</div>
			<div class="col-xl-12 col-lg-8 col-md-9 col-sm-12 col-xs-9">
				<div class="text-white font-thing h4">
					<strong>{{userCurrentGamerscore}} GS</strong><br />
					{{userCurrentAchievements}} earned
				</div>
			</div>
		</div>
		<hr />
	</div>
</template>

<template name="gamerscoreInfo">
	<div class="padder-vv-xbd text-center m-b">
		<div class="row">
			<div class="hidden-xl col-lg-4 col-md-3 hidden-sm col-xs-3">
				<div class="text-white font-bold m-t-xs">
					<i class="fa fa-trophy"></i>
				</div>
			</div>
			<div class="col-xl-12 col-lg-8 col-md-9 col-sm-12 col-xs-9">
				<div class="text-white font-thing h4">
					<strong>{{gameMaxGamerscore}} GS</strong><br />
					{{gameMaxAchievements}} available
				</div>
			</div>
		</div>
	</div>
</template>

<template name="gameRatingSingle">
	<div class="top m-t-xs w-full">
		<div class="game-rating" data-score="{{gameAllTimeAverageRating}}"></div>
	</div>
</template>

<template name="gamesSinglePageAchievement">
	<h2 class="h4 font-bold pull-left padder-t">Achievements</h2>
	<div class="btn-toolbar pull-right">
		<div class="btn-group">
			<button type="button" class="achievement-previous btn btn-default"><i class="fa fa-arrow-left"></i></button>
			<button type="button" class="achievement-next btn btn-default"><i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
	<div class="clearfix"></div>
	<ul class="list-group no-bg no-borders pull-in achievements-list">
	{{#if Template.subscriptionsReady}}
		{{#momentum plugin='slide-height'}}
		{{#each achievementsList}}
		<li class="list-group-item">
			<a href="{{pathFor 'achievement'}}">
				<div class="row no-gutter">
					<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
						{{#if chkProgress}}
						<div class="block padder-t trophy-class text-center bg-success">
							<div class="wrapper-xs">
								<span class="text-white font-thin font-bold h4 block">
									<i class="fa fa-trophy"></i><br />
									{{this.value}}
								</span>
							</div>
						</div>
						{{else}}
						<div class="block padder-t trophy-class text-center bg-danger">
							<div class="wrapper-xs">
								<span class="text-white font-thin font-bold h4 block">
									<i class="fa fa-lock"></i><br />
									{{this.value}}
								</span>
							</div>
						</div>
						{{/if}}
					</div>
					<div class="col-xl-2 hidden-lg col-md-2 col-sm-2 col-xs-2 {{chkPlatform}} achievement-img" style="background-image: url('{{achievementImage}}');"></div>
					<div class="col-xl-6 col-lg-7 col-md-6 col-sm-7 col-xs-8 achievement-description">
						<div class="m-l-md">
							<div class="padder-t achievement-name achievement-name-ellipsis">
								{{this.name}}
								<label class="label bg-{{achievementClass}} m-l-sm text-ellipsis-inline">
									<i class="fa fa-{{trophyClass}}"></i><span class="hidden-md hidden-sm hidden-xs"> {{achievementClass}}</span>
								</label>
							</div>
							<div class="padder-d title-wrap-achievement-description">{{this.description}}</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-2 hidden-sm hidden-xs">
						<div class="bg-black c100 p{{userPercentage}} small text-center m">
							<span>
								{{userPercentage}}%
							</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</li>
		{{/each}}
		{{/momentum}}
	{{else}}
		<li class="list-group-item">
		{{> loadingTemplate}}
		</li>
	{{/if}}
	</ul>
</template>