<template name="gamesPage">
  {{> gamesApp}}
</template>

<template name="gamesApp">
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Games</h1>
                <small class="text-muted">Search games</small>
              </div>
              {{#if chkGamerStatus}}
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-l m-r text-left">
                  {{> userDailyRank}}
                </div>
                <div class="inline text-left">
                  {{> userOverallRank}}
                </div>
              </div>
              {{/if}}
            </div>
          </div>
          {{#if chkGamerStatus}}
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Recently Completed Games</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each myTopGames}}
                {{#with xbdGame}}
                  {{> myTopGamesTemplate}}
                {{/with}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
          {{/if}}
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Recently Added Games</h3>
              </div>
            </div>
            <div class="row">
            {{#if Template.subscriptionsReady}}
              {{#each gamesByReleaseDate}}
                {{#with xbdGame}}
                  {{> gamesReleaseDateTemplate}}
                {{/with}}
              {{/each}}
            {{else}}
              {{> loadingTemplate}}
            {{/if}}
            </div>
          </div>
      	</div>
      </div>
    </div>
  </div>
</template>