<template name="gamesSinglePageNew">
	<div id="content" class="app-content single-games-page" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<div class="col">
				{{#if Template.subscriptionsReady}}
					{{#with game}}
					{{> gamesSingleDocHead}}
					<div style="background: url('/img/games-bg.png') repeat;">
						<div class="wrapper-md bg-white-opacity">
							<div class="row">
								<div class="{{#if chkCompleted}}col-sm-6 col-md-8 col-lg-6 col-xl-5{{else}}col-sm-7 col-md-8 col-lg-8 col-xl-8{{/if}}">
									<a href class="thumb-xxl pull-left m-r">
										<img src="{{gamesImage}}" class="img-full">
									</a>
									<div class="clear m-t-xxxl">
										<h1 class="font-thin h3 text-black m-b-xs line-clamp-3">{{gameName}}</h1>
										{{#if chkGamerStatus}}
											{{#if chkUserForGame}}
												{{#if chkIfCompleted}}
													<button class="trophy-case-button">add to case</button>
												{{/if}}
											{{/if}}
										{{/if}}
										<small class="text-muted">Platform: {{gamePlatform}}</small>
									</div>
								</div>
								<div class="{{#if chkCompleted}}col-sm-6 hidden-md col-lg-3 col-xl-4{{else}}col-sm-5 hidden-md col-lg-3 col-xl-3{{/if}}">
                                    <div class="pull-right pull-none-xs text-center padder-vv-{{#if chkCompleted}}xbd{{else}}ixbd{{/if}}">
									{{#if chkGamerStatus}}
										{{#if chkUserForGame}}
											{{> userGamerscoreInfoNew}}
										{{/if}}
									{{/if}}
									{{> gamerscoreInfoNew}}
                                    </div>
								</div>
								{{#if chkGamerStatus}}
                                    {{#if chkUserForGame}}
                                        {{#if chkIfCompleted}}
		                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
			                                <div class="share-bar m-t-lg m-b-sm text-center">
			                                    <h4 class="text-black h4 m-b-sm">Share Your Completed Game</h4>
			                                    {{> gameShareButtons}}
			                                </div>
		                                </div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
							</div>
						</div>
					</div>
					{{#if chkGamerStatus}}
					<div class="bg-white b-b text-center hidden-lg hidden-md hidden-sm visible-xs-block">
						{{> wishlistArea}}
					</div>
					{{/if}}
					<div class="bg-white b-b">
						<ul class="nav nav-tabs inline" role="tablist">
							{{#if chkGamerStatus}}
							<li class="pull-left visible-lg visible-md visible-sm hidden-xs">
								{{> wishlistArea}}
							</li>
							{{/if}}
							<li role="achievements" class="active"><a href="#game-achievements" aria-controls="game-achievements" role="tab" data-toggle="tab">Achievements</a></li>
							<li role="info"><a href="#game-info" aria-controls="game-info" role="tab" data-toggle="tab">Info</a></li>
							{{#if chkUserForGame}}
                            <li role="user-progress" class="visible-sm-inline-block visible-md-inline-block hidden-lg"><a href="#user-progress" aria-controls="user-progress" role="tab" data-toggle="tab">Your Progress</a></li>
                            {{/if}}
						</ul>
					</div>
					<div class="wrapper-md bg-white">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="game-achievements">{{> gamesSinglePageAchievementNew}}</div>
							<div role="tabpanel" class="tab-pane" id="game-info">
								<table class="table" style="margin-bottom: 15px;">
									<tr>
										<td width="20%">
											Publisher:
										</td>
										<td><strong>
											{{gamePublisherName}}
										</strong></td>
									</tr>
									<tr>
										<td>Released:</td>
										<td><strong>
											{{{dateFormat}}}
										</strong></td>
									</tr>
									<tr>
										<td>Genre:</td>
										<td><strong>
											{{#each gameGenre}}
											{{this.Name}}<br />
											{{/each}}
										</strong></td>
									</tr>
								</table>
								{{{gameDescription}}}
							</div>
                            <div role="tabpanel" class="tab-pane" id="user-progress">
                                <div class="row">
                                    <div class="col-xs-8 col-xs-offset-2 text-center padder-w">
                                        {{#if chkGamerStatus}}
                                            {{#if chkUserForGame}}
                                                {{> userGamerscoreInfoNew}}
                                            {{/if}}
                                        {{/if}}
                                        {{> gamerscoreInfoNew}}
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					{{/with}}
				{{else}}
					{{> loadingTemplate}}
				{{/if}}
				</div>
				<div class="col w-lg bg-light lter b-l bg-auto">
					<div class="wrapper games-page-news">
						{{> amznSmartAd}}
						<h2 class="m-t-sm m-b-sm font-thin h3 text-black">Trending News</h2>
						{{> mostSharedNews limit=5}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="gamesSingleDocHead"></template>

<template name="userGamerscoreInfoNew">
    <h4 class="text-black h4 m-b-sm">Your Progress</h4>
    <div class="text-black font-thing h4">
        <i class="fa fa-unlock"></i> <strong>{{userCurrentGamerscore}} GS</strong><br />
        {{userCurrentAchievements}} earned
    </div>
    <hr />
</template>

<template name="gamerscoreInfoNew">
    <div class="text-black font-thing h4">
        <i class="fa fa-trophy"></i> <strong>{{gameMaxGamerscore}} GS</strong><br />
        {{gameMaxAchievements}} available
    </div>
</template>

<template name="gamesSinglePageAchievementNew">
	<div class="row">
		<div class="achievements-list">
		{{#if Template.subscriptionsReady}}
			{{#each achievementsList}}
			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
				<a href="{{pathFor 'achievement'}}" class="achievement-link">
					<div class="row no-gutter">
						<div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-xl-2">
							{{#if chkProgress}}
							<div class="block padder-t trophy-class text-center bg-success" style="min-height: 96px;">
								<div class="wrapper-xs">
									<span class="text-white font-thin font-bold h4 block">
										<i class="fa fa-trophy"></i><br />
										{{this.value}}
									</span>
								</div>
							</div>
							{{else}}
							<div class="block padder-t trophy-class text-center bg-danger" style="min-height: 96px;">
								<div class="wrapper-xs">
									<span class="text-white font-thin font-bold h4 block">
										<i class="fa fa-lock"></i><br />
										{{this.value}}
									</span>
								</div>
							</div>
							{{/if}}
						</div>
						<div class="col-xs-2 hidden-sm hidden-md col-lg-2 col-xl-2" style="max-height: 96px;">
							<div class="{{chkPlatform}} achievement-img" style="background-image: url('{{achievementImage}}');"></div>
						</div>
						<div class="col-xs-7 col-sm-6 col-md-9 col-lg-7 col-xl-7 achievement-description" style="min-height: 96px;">
							<div class="m-l-md">
								<div class="padder-t achievement-name achievement-name-ellipsis line-clamp-1">
									{{this.name}}
									<label class="label bg-{{achievementClass}} m-l-sm text-ellipsis-inline hidden-sm">
										<i class="fa fa-{{trophyClass}}"></i><span class="hidden-xs hidden-sm hidden-md"> {{achievementClass}}</span>
									</label>
								</div>
								<div class="padder-d title-wrap-achievement-description line-clamp">{{this.description}}</div>
							</div>
						</div>
						<div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 achievement-button" style="max-height: 96px;">
							<div class="block padder-t text-center" style="padding: 38px 0 37px;">
								<span class="text-black font-thin font-bold h4 block">
									<i class="fa fa-play"></i>
								</span>
							</div>
						</div>
					</div>
				</a>
				<hr />
			</div>
			{{/each}}
			{{#if hasMoreResults}}
			<div id="hasMoreResults">{{> loadingTemplateRect}}</div>
			{{/if}}
		{{else}}
			<div class="col-lg-12">
				{{> loadingTemplate}}
			</div>
		{{/if}}
		</div>
	</div>
</template>

<template name="amznSmartAd">
	<div id="amzn-smart-ad">
		<div id='amzn_assoc_ad_div_adunit0_0'></div>
		<div id='amzn_assoc_ad_div_adunit0_1'></div>
		<div id='amzn_assoc_ad_div_adunit0_2'></div>
		<div id='amzn_assoc_ad_div_adunit0_3'></div>
		<div id='amzn_assoc_ad_div_adunit0_4'></div>
		<div id='amzn_assoc_ad_div_adunit0_5'></div>
		<div id='amzn_assoc_ad_div_adunit0_6'></div>
		<div id='amzn_assoc_ad_div_adunit0_7'></div>
	</div>
</template>

<template name="gameShareButtons">
	<div class="share-buttons">
		<ul class="rrssb-buttons rrssb2 clearfix">
			<li class="rrssb-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{getUrl}}&amp;name={{getTitle}}&amp;description={{getShortDescription}}&amp;redirect_uri={{getUrl}}&amp;picture={{getShareImage}}" class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg>
					</span>
					<span class="rrssb-text">Share</span>
				</a>
			</li>
			<li class="rrssb-twitter">
				<a href="https://twitter.com/intent/tweet?url={{getUrl}}&amp;text={{getTitle}}&amp;hashtags={{getHashTags}}"
				class="popup">
					<span class="rrssb-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg>
					</span>
					<span class="rrssb-text">Tweet</span>
				</a>
			</li>
		</ul>
	</div>
</template>

<template name="wishlistArea">
	{{#if chkIfCompleted}}
	{{else}}
		{{#if chkUserWishlist}}
			<button class="padder-as btn btn-success remove-from-wish-list">remove from wishlist</button>
		{{else}}
			<button class="padder-as btn btn-success add-to-wish-list" id="">add to wishlist (class)</button>
			<button class="padder-as btn btn-success" id="menu-open-button">add to wishlist (id)</button>
		{{/if}}
	{{/if}}
	{{> wishlistConfirmShelf}}
</template>