<template name="gamesPage">
	 {{> gamesApp}}
</template>

<template name="gamesApp">
  {{topGamerscoreGames}}
  {{gamesByReleaseDate}}
  <div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
          <!-- main header -->
          <div class="bg-light lter b-b wrapper-md">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h1 padder-to text-black">Games</h1>
              </div>
              <div class="col-sm-6 text-right hidden-xs">
                <div class="inline m-r text-left">
                  <div class="m-b-xs">Daily Rank</div>
                  <div class="h4 text-success font-bold">1</div>
                </div>
                <div class="inline text-left">
                  <div class="m-b-xs">Overall Rank</div>
                  <div class="h4 text-success font-bold">521</div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Games by Release Date</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Release Date: 12/1/2014</p>
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Release Date: 12/1/2014</p>
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                  </div>
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>
                        <a href="#linkToBungieGamesList">Bungie, Activision</a><br />
                        Release Date: 12/1/2014
                      </p>
                      <p>Text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Most Popular Games</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end wrapper-->
          <div class="wrapper-md">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="m-n font-thin padder-v text-black">Games with Most Total Gamerscore</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-md-4 col-sm-6 col-xs-12">
                <div class="panel b-a">
                  <div class="item m-l-n-xxs m-r-n-xxs">
                    <div class="top text-right padder m-t-xs w-full">
                      <span class="text-white">Release Date: 12/1/2014</span>
                      <div>
                        <i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i><i class="fa fa-star-o text-white"></i>
                      </div>
                    </div>
                    <span>
                      <img src="img/c0.jpg" class="img-full">
                    </span>
                  </div>
                  <div class="panel-heading no-border bg-success">
                    <span class="text-u-c text-lt"><a href="#">Destiny</a></span>
                    <div class="text-primary-lter"><a href="#linkToBungieGamesList">Bungie, Activision</a></div>
                  </div>
                  <div class="hbox b-b b-light text-sm">
                    <span class="col wrapper padder-v b-r b-light">
                      <p>Text description here text description here text description here text description here text description here <a href="#">more</a></p>
                    </span>
                  </div>
                  <div class="wrapper padder-d text-center">
                    <a href="#linkToShooterList" class="">Shooter</a>, <a href="#linkToActionAdventureList" class="m-l-sm">Action &amp; Adventure</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end wrapper-->
      	</div>
      </div>
    </div>
  </div>
</template>