<template name="gamesSinglePage">
	<div id="content" class="app-content" role="main">
		<div class="app-content-body ">
			<div class="hbox hbox-auto-xs hbox-auto-sm">
				<!-- main -->
				<div class="col">
					<!-- main header -->
					<div class="bg-light lter b-b wrapper-md">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h1 class="m-n font-thin h3 text-black">{{game.gameName}}</h1>
								<div class="line"></div>
								<div class="text-muted">
									<i class="fa fa-user text-muted"></i> by <span class="m-r-sm">{{game.gamePublisherName}}</span>
									<i class="fa fa-clock-o text-muted"></i> {{gameReleaseDate}}
								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-md">
						<!-- stats -->
						<div class="row">
							<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
								<div class="blog-post">
									{{{article.content}}}
								</div>
								<div class="text-center m-t-lg m-b-lg">
									{{> shareit shareData}}
								</div>
							</div>
							<div class="col-lg-3 visible-lg-block">
								<h5 class="font-bold">Achievements</h5>
								<ul class="list-group">
									<li class="list-group-item">
										<a href>
											<span class="badge pull-right">15</span>
											Photograph
										</a>
									</li>
									<li class="list-group-item">
										<a href>
											<span class="badge pull-right">30</span>
											Life style
										</a>
									</li>
									<li class="list-group-item">
										<a href>
											<span class="badge pull-right">9</span>
											Food
										</a>
									</li>
									<li class="list-group-item">
										<a href>
											<span class="badge pull-right">4</span>
											Travel world
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4">
								<div style="width:300px;height:600px;">
									Ad Banner (300x600) or (160x600)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>