<template name="gamerscoreChart">
	<div class="panel hbox hbox-auto-xs no-border">
		<div class="col wrapper chart-wrapper">
			{{#if Template.subscriptionsReady}}
			{{> gamerscoreChartSvg}}
			{{else}}
			{{> loadingTemplate}}
			{{/if}}
		</div>
	</div>
</template>

<template name="gamerscoreChartSvg">
	<div class="btn-group m-t-sm pull-right">
		<label id="gamerscore-chart-recent-activity-button" class="btn btn-sm btn-success active">Last 15 Days</label>
		<label id="gamerscore-chart-thirty-days-activity-button" class="btn btn-sm btn-success">Last 30 Days</label>
	</div>
	<h2 class="font-normal m-t-none m-b-none text-success h4">Gamerscore Per Day</h2>
	<div id="gamerscore-chart">
		<svg style="height: 400px;"></svg>
	</div>
</template>