<template name="signUp">
  {{> headerSignUpPage}}
  {{> signUpForm}}
  {{> staticFooter}}
</template>

<template name="signUpForm">
  <div id="signup" class="signup">
    {{#if currentUser}}
    <div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md">
        <form name="form" class="validate" id="socialform">
          <h2 class="text-dark text-center">Currently Logged in as</h2>
          <div class="list-group">
            <div class="form-group text-center">
              {{#if chkTwitter}}
                <img src="{{currentUser.services.twitter.profile_image_url_https}}" />
              {{/if}}
              {{#if chkFacebook}}
              <div style="vertical-align: middle;">{{currentUser.profile.name}}</div>
              {{else}}
              <div style="vertical-align: middle;">{{currentUser.username}}</div>
              {{/if}}
            </div>
          </div>
          <button id="logout" class="btn btn-lg btn-danger btn-block">Logout</button>
        </form>
      </div>
    </div>
    {{else}}
    <div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md">
        <form name="form" class="validate" id="signupform">
          <h2 class="text-dark text-center">Create a Free Account</h2>
          <p class="text-center">Start tracking achievements in seconds</p>
          <div class="list-group">
            <div class="form-group">
              <input placeholder="Gamertag" id="gamertag" name="gamertag" class="form-control" data-onblur data-max="15" data-required data-msg="Valid Xbox Live gamertag required.">
              <span for='gamertag' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email Address" id="email" name="email" class="form-control" data-onblur data-email data-required>
              <span for='email' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-onblur data-min="6" data-required data-msg="Password must be at least 6 characters.">
              <span for='password' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm Password" id="password2" name="password2" class="form-control" data-onblur data-min="6" data-required data-msg="The passwords do not match.">
              <span for='password2' class='err-msg'></span>
            </div>
          </div>
          <div class="checkbox m-b-md m-t-none">
            <label class="i-checks">
              By clicking "Sign Up", I agree to the <a href="{{pathFor 'termsConditions'}}" target="_blank">Terms of Use</a> and <a href="{{pathFor 'privacyPolicy'}}" target="_blank">Privacy Policy</a>.
            </label>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block sign-up-submit">Sign Up</button>
          <div class="line line-dashed"></div>
          <ul class="list-inline social-logins">
            <li><a href="#" id="facebook-login" class="btn btn-lg btn-block btn-facebook"><i class="fa fa-facebook"></i> Sign Up with Facebook</a></li>
            <li><a href="#" id="twitter-login" class="btn btn-lg btn-block btn-twitter"><i class="fa fa-twitter"></i> Sign Up with Twitter</a></li>
          </ul>
        </form>
      </div>
    </div>
    {{/if}}
  </div>
</template>