<template name="signUp">
  {{> headerSignUpPage}}
  {{> signUpForm}}
  {{> staticFooter}}
</template>

<template name="signUpSocial">
    {{#if currentUser}}
        {{currentUser.services.facebook.name}} -
        {{currentUser.services.facebook.gender}} - 
        {{currentUser.services.facebook.email}}
        <button id="logout" class="btn btn-lg btn-danger btn-block">Logout</button>
    {{else}}
        <ul class="list-inline social-logins">
          <li><a href="#" id="facebook-login" class="btn btn-lg btn-block btn-facebook"><i class="fa fa-facebook"></i> Sign Up with Facebook</a></li>
          <li><a href="#" id="twitter-login" class="btn btn-lg btn-block btn-twitter"><i class="fa fa-twitter"></i> Sign Up with Twitter</a></li>
        </ul>
    {{/if}}
</template>

<template name="signUpForm">
  <div id="signup" class="signup">
    <div class="container well w-xxxl w-auto-xs" >
      <div class="m-b-md">
        <form name="form" class="validate" id="signupform">
          <h2 class="text-dark text-center">Create a Free Account</h2>
          <p class="text-center">Start tracking achievements in seconds</p>
          <div class="list-group">
            <div class="form-group">
              <input placeholder="Gamertag" id="gamertag" name="gamertag" class="form-control" data-onblur data-max="15" data-alphanumeric data-required data-msg="Valid Xbox Live gamertag required.">
              <span for='gamertag' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" id="email" name="email" class="form-control" data-onblur data-email data-required>
              <span for='email' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" id="password" name="password" class="form-control" data-onblur data-min="6" data-required data-msg="Password must be at least 6 characters.">
              <span for='password' class='err-msg'></span>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm Password" id="password2" name="password2" class="form-control" data-onblur data-min="6" data-required data-msg="The passwords do not match.">
              <span for='password2' class='err-msg'></span>
            </div>
          </div>
          <div class="checkbox m-b-md m-t-none">
            <label class="i-checks">
              By clicking "Sign Up", I agree to the <a href="{{pathFor 'termsOfUse'}}">Terms of Use</a> and <a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a>.
            </label>
          </div>
          <button type="submit" class="btn btn-lg btn-success btn-block sign-up-submit">Sign Up</button>
          <div class="line line-dashed"></div>
          {{> signUpSocial}}
        </form>
      </div>
    </div>
  </div>
</template>